In [1]:
#from https://algs4.cs.princeton.edu/41graph/

import pandas as pd

In [2]:
#class Graph:
    
#    def __init__(self, edges_df):
#        self.edges_df = edges_df.copy()
#        self.V = len(pd.unique(sum(self.edges_df.values.tolist(), [])))
#        self.E = len(edges_df)
#        self.adj = []
#        for v in range(self.V):
#            self.adj.append([])
#        [self.addEdge(v, w) for v, w in zip(self.edges_df['v'], self.edges_df['w'])]

#    def addEdge(self, v, w):
#        self.adj[v].append(w)
#        self.adj[w].append(v)

In [3]:
class Graph:
    
    def __init__(self, V):
        self.V = V
        self.adj = []
        for v in range(self.V):
            self.adj.append([])

    def addEdge(self, v, w):
        self.adj[v].append(w)
        self.adj[w].append(v)

In [4]:
class CC:
    def __init__(self, G):
        self.marked = [False for v in range(G.V)]
        self.id = [0 for v in range(G.V)]
        self.size = [0 for v in range(G.V)]
        self.count = 0
        for v in range(G.V):
            if not self.marked[v]:
                self.dfs(G, v)
                self.count += 1
                
    def dfs(self, G, v):
        self.marked[v] = True
        self.id[v] = self.count
        self.size[self.count] += 1
        for w in G.adj[v]:
            if not self.marked[w]:
                self.dfs(G, w)

In [5]:
tinyg_df = pd.read_csv('./resources/tinyG.csv', header=None)
tinyg_df.columns= ["v", "w"]
tinyg_df

     v   w
0    0   5
1    4   3
2    0   1
3    9  12
4    6   4
5    5   4
6    0   2
7   11  12
8    9  10
9    0   6
10   7   8
11   9  11
12   5   3

In [6]:
#aG = Graph(tinyg_df)
#aCC = CC(aG)
#pd.DataFrame({'elem': [i for i in range(aG.V)],
#             'comp': aCC.id})

In [9]:
aG = Graph(len(tinyg_df))
[aG.addEdge(v, w) for v, w in zip(tinyg_df['v'], tinyg_df['w'])]
aCC = CC(aG)
pd.DataFrame({'elem': [i for i in range(aG.V)],
             'comp': aCC.id})

    elem  comp
0      0     0
1      1     0
2      2     0
3      3     0
4      4     0
5      5     0
6      6     0
7      7     1
8      8     1
9      9     2
10    10     2
11    11     2
12    12     2