In [1]:
import pandas as pd

In [2]:
tinyg_df = pd.read_csv('./resources/tinyG.csv', header=None)
tinyg_df.columns= ["v", "w"]
tinyg_df.head()

   v   w
0  0   5
1  4   3
2  0   1
3  9  12
4  6   4

In [ ]:
class Graph:
    
    def __init__(self, edges_df):