In [101]:
import pandas as pd
import datetime

In [2]:
OrderBookPlots2002_df = pd.read_csv('./resources/2002.csv')
OrderBookPlots2002_df = OrderBookPlots2002_df[OrderBookPlots2002_df.DATE.isin(['2002-08-12', '2002-08-13'])]
# OrderBookPlots2002_df

In [3]:
OrderBookPlots2002_df['TRADENO'] = OrderBookPlots2002_df['TRADENO'].astype(pd.Int64Dtype())

In [4]:
OrderBookPlots2002_df.sort_values(by=['NO'], inplace=True)

In [5]:
OrderBookPlots2002_df[(OrderBookPlots2002_df.PRICE != OrderBookPlots2002_df.TRADEPRICE) &
                 pd.notnull(OrderBookPlots2002_df.TRADEPRICE)]

,Unnamed: 0,NO,SECCODE,BUYSELL,TIME,ORDERNO,ACTION,PRICE,VOLUME,TRADENO,TRADEPRICE,DATE,OBPLOTNO
1356,1356,1357,RU0009029540,S,103002000,1354,2,0.000,5,29844786,4420.000,2002-08-12,48
1382,1382,1383,RU0008926621,B,103010000,1374,2,2.900,2100,29844787,2.810,2002-08-12,530
1416,1416,1417,RU0008926621,S,103015000,1397,2,2.800,1200,29844788,2.801,2002-08-12,167
1480,1480,1481,RU14MSNG3008,B,103023000,1439,2,0.800,68500,29844794,0.799,2002-08-12,96
1483,1483,1484,RU0008926621,S,103023000,1441,2,2.801,30000,29844795,2.810,2002-08-12,530
...,...,...,...,...,...,...,...,...,...,...,...,...,...
185377,94633,94634,RU0008926621,B,184458000,41551,2,3.600,30000,29878363,2.894,2002-08-13,42428
185379,94635,94636,RU0008926621,B,184458000,41551,2,3.600,100000,29878364,2.894,2002-08-13,42428
185381,94637,94638,RU0008926621,B,184458000,41551,2,3.600,68300,29878365,2.895,2002-08-13,42428
185383,94639,94640,RU0008926621,B,184458000,41551,2,3.600,26900,29878366,2.895,2002-08-13,42428
185407,94663,94664,RU14MSNG3008,B,184500000,41562,2,0.793,16700,29878372,0.791,2002-08-13,4558

In [6]:
type(OrderBookPlots2002_df.TIME[0]), type(OrderBookPlots2002_df.TRADENO[0])

(numpy.int64, pandas._libs.missing.NAType)

In [7]:
OrderBookPlots2007_df = pd.read_csv('./resources/LKOH_SBER_GMKN_2007_10.csv')
# OrderBookPlots2007_df = pd.read_csv('./resources/LKOH_2007_10.csv')
OrderBookPlots2007_df = OrderBookPlots2007_df[OrderBookPlots2007_df.DATE.isin(['2007-10-01', '2007-10-02'])]
# OrderBookPlots2007_df

In [8]:
OrderBookPlots2007_df['TRADENO'] = OrderBookPlots2007_df['TRADENO'].astype(pd.Int64Dtype())

In [9]:
OrderBookPlots2007_df.sort_values(by=['NO'], inplace=True)

In [10]:
OrderBookPlots2007_df[(OrderBookPlots2007_df.PRICE != OrderBookPlots2007_df.TRADEPRICE) &
                 pd.notnull(OrderBookPlots2007_df.TRADEPRICE)]

,Unnamed: 0,NO,SECCODE,BUYSELL,TIME,ORDERNO,ACTION,PRICE,VOLUME,TRADENO,TRADEPRICE,DATE,OBPLOTNO
2336,15529,15530,LKOH,S,103001000,15442,2,0.00,400,329668177,2066.11,2007-10-01,122
2359,15672,15673,LKOH,B,103002000,15522,2,2069.00,2,329668201,2067.00,2007-10-01,541
2361,15676,15677,LKOH,B,103002000,15524,2,0.00,18,329668203,2067.00,2007-10-01,541
2363,15680,15681,LKOH,S,103002000,15528,2,2060.00,55,329668205,2066.11,2007-10-01,122
2365,15682,15683,LKOH,S,103002000,15581,2,2065.90,100,329668206,2066.11,2007-10-01,122
...,...,...,...,...,...,...,...,...,...,...,...,...,...
521656,1132248,1132249,GMKN,S,174457000,476469,2,6644.00,5,330414209,6644.10,2007-10-02,102950
521658,1132250,1132251,GMKN,S,174457000,476469,2,6644.00,1,330414210,6644.07,2007-10-02,102950
521678,1132345,1132346,SBER03,B,174458000,476517,2,104.94,200,330414238,104.89,2007-10-02,49790
521681,1132350,1132351,LKOH,B,174458000,476519,2,2112.01,5,330414240,2112.00,2007-10-02,63756
521683,1132376,1132377,GMKN,B,174458000,476512,2,0.00,30,330414255,6644.00,2007-10-02,102950

In [89]:
OrderBookPlots2002_2000ms_df = OrderBookPlots2002_df[(OrderBookPlots2002_df.TIME >= 103002000) & (OrderBookPlots2002_df.TIME <= 103003000)]
OrderBookPlots2002_2000ms_df

,Unnamed: 0,NO,SECCODE,BUYSELL,TIME,ORDERNO,ACTION,PRICE,VOLUME,TRADENO,TRADEPRICE,DATE,OBPLOTNO
1353,1353,1354,RU0008943394,B,103002000,137,0,33.510,5000,<NA>,NaN,2002-08-12,16
1354,1354,1355,RU0009029540,S,103002000,1354,1,0.000,5,<NA>,NaN,2002-08-12,48
1355,1355,1356,RU0009029540,B,103002000,609,2,4420.000,5,29844786,4420.0,2002-08-12,48
1356,1356,1357,RU0009029540,S,103002000,1354,2,0.000,5,29844786,4420.0,2002-08-12,48
1357,1357,1358,RU0008926621,B,103003000,386,0,2.780,4300,<NA>,NaN,2002-08-12,115
1358,1358,1359,RU0008926621,B,103003000,1355,1,2.765,300,<NA>,NaN,2002-08-12,416
92236,1492,1493,RU14MSNG3008,B,103002000,1437,0,0.750,1000,<NA>,NaN,2002-08-13,288
92237,1493,1494,RU0008926621,B,103002000,1493,1,2.770,1500,<NA>,NaN,2002-08-13,631
92238,1494,1495,RU14TATN3006,S,103002000,1494,1,18.990,8800,<NA>,NaN,2002-08-13,16
92239,1495,1496,RU0008943394,B,103003000,1495,1,34.050,200,<NA>,NaN,2002-08-13,277
92240,1496,1497,RU0009029532,S,103003000,1496,1,2.400,600,<NA>,NaN,2002-08-13,138
92241,1497,1498,RU0008926621,B,103003000,1497,1,2.762,20000,<NA>,NaN,2002-08-13,633

In [106]:
dt_tmp = datetime.datetime.strptime(list(OrderBookPlots2002_2000ms_df.DATE)[0], '%Y-%m-%d')
# datetime_mls = datetime.date(dt_tmp.year, dt_tmp.month, dt_tmp.date)
type(dt_tmp.year)

int

In [94]:
def date_time_no2time_mls(strdate_ser, time, ): # df must have column TIME HHMMSSZZZ
    def str2datetime(strd):
        return(datetime.strptime(strd, '%Y-%m-%d'))
    return(pd.Series(map(str2datetime, strdate_ser)))
    #df['SECIND'] = df.groupby(['TIME']).cumcount()

In [95]:
DATETIME
OrderBookPlots2002_2000ms_df['DATETIME_MLS'] = time_no2time_mls(OrderBookPlots2002_2000ms_df.DATE)
OrderBookPlots2002_2000ms_df

C:\Users\lt\AppData\Local\Temp\ipykernel_11276\752071231.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OrderBookPlots2002_2000ms_df['DATETIME_MLS'] = time_no2time_mls(OrderBookPlots2002_2000ms_df.DATE)

,Unnamed: 0,NO,SECCODE,BUYSELL,TIME,ORDERNO,ACTION,PRICE,VOLUME,TRADENO,TRADEPRICE,DATE,OBPLOTNO,DATETIME_MLS
1353,1353,1354,RU0008943394,B,103002000,137,0,33.510,5000,<NA>,NaN,2002-08-12,16,NaT
1354,1354,1355,RU0009029540,S,103002000,1354,1,0.000,5,<NA>,NaN,2002-08-12,48,NaT
1355,1355,1356,RU0009029540,B,103002000,609,2,4420.000,5,29844786,4420.0,2002-08-12,48,NaT
1356,1356,1357,RU0009029540,S,103002000,1354,2,0.000,5,29844786,4420.0,2002-08-12,48,NaT
1357,1357,1358,RU0008926621,B,103003000,386,0,2.780,4300,<NA>,NaN,2002-08-12,115,NaT
1358,1358,1359,RU0008926621,B,103003000,1355,1,2.765,300,<NA>,NaN,2002-08-12,416,NaT
92236,1492,1493,RU14MSNG3008,B,103002000,1437,0,0.750,1000,<NA>,NaN,2002-08-13,288,NaT
92237,1493,1494,RU0008926621,B,103002000,1493,1,2.770,1500,<NA>,NaN,2002-08-13,631,NaT
92238,1494,1495,RU14TATN3006,S,103002000,1494,1,18.990,8800,<NA>,NaN,2002-08-13,16,NaT
92239,1495,1496,RU0008943394,B,103003000,1495,1,34.050,200,<NA>,NaN,2002-08-13,277,NaT
92240,1496,1497,RU0009029532,S,103003000,1496,1,2.400,600,<NA>,NaN,2002-08-13,138,NaT
92241,1497,1498,RU0008926621,B,103003000,1497,1,2.762,20000,<NA>,NaN,2002-08-13,633,NaT

In [14]:
class OBPlots2OBPlots_Attributes:
    def __init__(self, OBPs_df):
        self.OBPs_df = OBPs_df
        self.secs = pd.unique(self.OBPs_df.SECCODE)
        self.dates = pd.unique(self.OBPs_df.DATE)
        self.obplotnos = pd.unique(self.OBPs_df.OBPLOTNO)
        self.obp_atts = {
            sec:datedic for (sec, datedic) in zip(
                self.secs,
                [{
                    date:obps_attsdic for (date, obps_attsdic) in zip(
                        self.dates, 
                        [{} for i in range(len(self.dates))]
                    )
                } for i in range(len(self.secs))]
            )
        }
        self.iterate_ob_rows()
    
    # Accordin to specs ACTION 0 shows balance of order, not cancelled volune of the order, IT'S WRONG
    # Actually, it shows cancelled volune of the order
    def cur_CBOVOL(self, LAST_CBOVOL, BUYSELL, ACTION, PRICE, VOLUME):
        if (BUYSELL == 'B') & (ACTION == 0):
            return(LAST_CBOVOL + (PRICE * VOLUME))
        else:
            return(LAST_CBOVOL)
        
    def cur_CSOVOL(self, LAST_CSOVOL, BUYSELL, ACTION, PRICE, VOLUME):
        if (BUYSELL == 'S') & (ACTION == 0):
            return(LAST_CSOVOL + (PRICE * VOLUME))
        else:
            return(LAST_CSOVOL)
        
    def cur_BOVOL(self, LAST_BOVOL, BUYSELL, ACTION, PRICE, VOLUME):
        if (BUYSELL == 'B') & (ACTION == 1):
            return(LAST_BOVOL + (PRICE * VOLUME))
        else:
            return(LAST_BOVOL)
        
    def cur_SOVOL(self, LAST_SOVOL, BUYSELL, ACTION, PRICE, VOLUME):
        if (BUYSELL == 'S') & (ACTION == 1):
            return(LAST_SOVOL + (PRICE * VOLUME))
        else:
            return(LAST_SOVOL)
        
    def ob_row2obp_atts(self, SECCODE, DATE, NO, BUYSELL, TIME, ORDERNO, 
                        ACTION, PRICE, VOLUME, TRADEPRICE, OBPLOTNO):
#         print(SECCODE)
#         print(self.obp_atts[SECCODE])
        if OBPLOTNO not in self.obp_atts[SECCODE][DATE]:
            self.obp_atts[SECCODE][DATE][OBPLOTNO] = {}
            
        cur_obps_attsdic_len = len(self.obp_atts[SECCODE][DATE][OBPLOTNO])
        if cur_obps_attsdic_len > 0:
            last_key = list(self.obp_atts[SECCODE][DATE][OBPLOTNO])[-1]
            LAST_CBOVOL = self.obp_atts[SECCODE][DATE][OBPLOTNO][last_key]['CBOVOL']
            LAST_CSOVOL = self.obp_atts[SECCODE][DATE][OBPLOTNO][last_key]['CSOVOL']
            LAST_BOVOL = self.obp_atts[SECCODE][DATE][OBPLOTNO][last_key]['BOVOL']
            LAST_SOVOL = self.obp_atts[SECCODE][DATE][OBPLOTNO][last_key]['SOVOL']
#             LAST_BTVOL = self.obp_atts[SECCODE][DATE][OBPLOTNO][last_key]['BTVOL']
#             LAST_STVOL = self.obp_atts[SECCODE][DATE][OBPLOTNO][last_key]['STVOL']
#             LAST_TBNET = self.obp_atts[SECCODE][DATE][OBPLOTNO][last_key][TBNET]
#             LAST_TSNET = self.obp_atts[SECCODE][DATE][OBPLOTNO][last_key][TSNET]
#             LAST_OBP_BAL = self.obp_atts[SECCODE][DATE][OBPLOTNO][last_key][OBP_BAL]
#             LAST_DAY_BAL = self.obp_atts[SECCODE][DATE][OBPLOTNO][last_key][DAY_BAL]
        else:
            LAST_CBOVOL = 0
            LAST_CSOVOL = 0
            LAST_BOVOL = 0
            LAST_SOVOL = 0
            LAST_BTVOL = 0
            LAST_STVOL = 0
            LAST_TBNET = 0
            LAST_TSNET = 0
            LAST_OBP_BAL = 0
            LAST_DAY_BAL = 0
        self.obp_atts[SECCODE][DATE][OBPLOTNO][NO] = {
            'CBOVOL': self.cur_CBOVOL(LAST_CBOVOL, BUYSELL, ACTION, PRICE, VOLUME), # cancel buy order volume
            'CSOVOL': self.cur_CSOVOL(LAST_CSOVOL, BUYSELL, ACTION, PRICE, VOLUME), # cancel sell order volume
            'BOVOL': self.cur_BOVOL(LAST_BOVOL, BUYSELL, ACTION, PRICE, VOLUME), # buy order volume
            'SOVOL': self.cur_SOVOL(LAST_SOVOL, BUYSELL, ACTION, PRICE, VOLUME)}#, # sell order volume
#             'BTVOL': self.cur_BTVOL(), # buy trade volumne
#             'STVOL': self.cur_STVOL(), # sell trade volume
#             'TBNET': self.cur_TBNET(), # trade volumne - buy volume <= 0
#             'TSNET': self.cur_TSNET(), # trade volume - sell volume >= 0
#             'OBP_BAL': self.cur_OBP_BAL(), # oreder-book-plot balance
#             'DAY_BAL': self.cur_DAY_BAL() } # trading day balance
        
    def iterate_ob_rows(self):
        [self.ob_row2obp_atts(SECCODE, DATE, NO, BUYSELL, TIME, ORDERNO, 
                              ACTION, PRICE, VOLUME, TRADEPRICE, OBPLOTNO)
        for (SECCODE, DATE, NO, BUYSELL, TIME, ORDERNO, 
             ACTION, PRICE, VOLUME, TRADEPRICE, OBPLOTNO)
         in zip(self.OBPs_df.SECCODE,
                self.OBPs_df.DATE,
                self.OBPs_df.NO,
                self.OBPs_df.BUYSELL,
                self.OBPs_df.TIME,
                self.OBPs_df.ORDERNO,
                self.OBPs_df.ACTION,
                self.OBPs_df.PRICE,
                self.OBPs_df.VOLUME,
                self.OBPs_df.TRADEPRICE,
                self.OBPs_df.OBPLOTNO)]

In [16]:
obp_atts = OBPlots2OBPlots_Attributes(OrderBookPlots2002_df)

In [17]:
obp_atts.obp_atts.keys()

dict_keys(['RU14VOST1005', 'RU0009029532', 'RU14MSNG3008', 'RU0009071187', 'RU0008926621', 'RU0009100762', 'RU0008926258', 'RU0009054449', 'RU0009024277', 'RU14TATN3006', 'RU0009046700', 'RU0008943394', 'RU14LKOH8004', 'RU0008926639', 'RU0008960828', 'RU14GMKN0507', 'RU0009029540', 'RU0009071195', 'RU0009097927', 'RU0009083893', 'RU14TRNF1015', 'RU0009029524', 'RU0009004642', 'RU14SIBN1003', 'RU14URSI7011', 'RU0009029557', 'RU14TATN3014', 'RU0009062285', 'RU0009011126', 'RU0009088181', 'RU0008503032', 'RU14GMKN0408', 'RU0009084248', 'RU14RBCI4001', 'RU0009100754', 'RU0009058804', 'RU0008958863', 'RU14RTSE4007', 'RU0008253075', 'RU0007779179', 'RU22MGTS1006', 'RU22MGTS1022', 'RU0007485140', 'RU0008578778', 'RU0008288774', 'RU0009098255', 'RU0009046676', 'RU0009049118', 'RU0008575402', 'RU0008582762', 'RU0007782421', 'RU0008538145', 'RU22BISV0104', 'RU0007779161', 'RU0009084495', 'RU14INUR2017', 'RU0008586870', 'RU0008508049', 'RU0009099923', 'RU14TTLK4004', 'RU0008502554', 'RU14TTLK4012', 'RU14SAGO3001', 'RU0008598586', 'RU14SIBN2001', 'RU0008461595', 'RU22BKBK0102', 'RU0008594395', 'RU0008253083', 'RU22GAZP1211', 'RU0008268131', 'RU24015MOSZ4', 'RU24016MOSZ2', 'RU25018MOSZ1', 'RU25019MOSZ9', 'RU25020MOSZ7', 'RU0008268123', 'RU0008268149', 'RU25008MOSZ8', 'RU24017MOSZ0', 'RU22UMAS2007', 'RU0007481131', 'RU0008605555', 'RU0008578059', 'RU0008549761', 'RU22TNCO4007', 'RU0008548326', 'RU0008578026', 'RU0008442215', 'RU0008503016', 'RU0008270434', 'RU0007787636', 'RU0007762654', 'RU0007498564', 'RU14SAGO3019', 'RU0008552153', 'RU0009046619', 'RU0008309885', 'RU22PPME0106', 'RU0008456942', 'RU0008514856', 'RU0007766127', 'RU0008552179', 'RU22ALRS7002', 'RU22TATN1000', 'RU0008274204', 'RU0008514567', 'RU0008256904', 'RU0009090542', 'RU0008550132', 'RU14LKOH5018', 'RU0007773586', 'RU22CSFK1305', 'RU0008290234', 'RU0007481123', 'RU14RBCI3003'])

In [18]:
obp_atts.obp_atts['RU0009024277'].keys()

dict_keys(['2002-08-12', '2002-08-13'])

In [19]:
obp_atts.obp_atts['RU0009024277']['2002-08-12'].keys()

dict_keys([0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 160, 162, 164, 167, 169, 172, 174, 176, 178, 180, 182, 185, 187, 192, 196, 199, 201, 203, 205, 208, 212, 214, 216, 219, 222, 225, 227, 230, 234, 237, 239, 241, 244, 246, 248, 250, 252, 254, 258, 260, 264, 266, 268, 270, 272, 276, 279, 281, 285, 287, 289, 291, 294, 297, 300, 302, 304, 306, 308, 312, 315, 317, 321, 323, 325, 327, 330, 334, 336, 338, 340, 342, 345, 347, 352, 354, 356, 359, 361, 365, 368, 373, 375, 377, 379, 381, 384, 386, 388, 390, 392, 394, 396, 398, 400, 402, 404, 406, 410, 412, 415, 419, 421, 423, 426, 429, 431, 435, 442, 447, 453, 457, 460, 463, 468, 471, 474, 477, 481, 484, 486, 489, 493, 497, 499, 501, 503, 509, 511, 517, 528, 530, 532, 535, 537, 540, 542, 544, 546, 548, 550, 552, 554, 556, 559, 561, 564, 570, 574, 582, 585, 594, 597, 599, 602, 607, 609, 611, 614, 616, 624, 628, 631, 637, 643, 652, 654, 656, 658, 662, 664, 666, 669, 676, 678, 684, 686, 689, 695, 698, 702, 707, 711, 716, 719, 721, 723, 729, 731, 735, 738, 742, 746, 751, 757, 760, 762, 766, 771, 773, 775, 779, 781, 785, 787, 790, 796, 798, 800, 805, 811, 814, 816, 818, 821, 830, 835, 837, 840, 848, 858, 860, 863, 866, 870, 873, 878, 881, 889, 892, 896, 899, 903, 908, 911, 920, 926, 930, 935, 937, 939, 941, 944, 947, 949, 952, 955, 957, 961, 963, 965, 969, 972, 974, 977, 982, 985, 987, 991, 994, 996, 998, 1000, 1012, 1029, 1033, 1036, 1041, 1043, 1046, 1049, 1053, 1056, 1058, 1061, 1063, 1069, 1071, 1077, 1079, 1083, 1087, 1089, 1091, 1096, 1099, 1103, 1107, 1109, 1114, 1116, 1119, 1121, 1123, 1125, 1128, 1130, 1133, 1137, 1139, 1145, 1149, 1156, 1160, 1162, 1164, 1166, 1169, 1173, 1179, 1181, 1185, 1187, 1190, 1192, 1203, 1205, 1208, 1211, 1213, 1220, 1222, 1224, 1228, 1232, 1235, 1237, 1240, 1242, 1247, 1250, 1252, 1254, 1256, 1259, 1261, 1264, 1268, 1283, 1286, 1288, 1292, 1294, 1296, 1299, 1301, 1307, 1310, 1317, 1320, 1324, 1326, 1328, 1331, 1334, 1336, 1338, 1340, 1342, 1344, 1346, 1349, 1352, 1357, 1359, 1361, 1365, 1370, 1372, 1374, 1378, 1380, 1386, 1389, 1392, 1396, 1398, 1401, 1403, 1405, 1407, 1409, 1412, 1414, 1416, 1419, 1423, 1425, 1427, 1430, 1432, 1434, 1437, 1439, 1442, 1444, 1446, 1457, 1459, 1462, 1464, 1468, 1470, 1473, 1476, 1479, 1482, 1486, 1488, 1492, 1495, 1502, 1505, 1507, 1509, 1511, 1514, 1517, 1526, 1530, 1532, 1535, 1540, 1542, 1544, 1547, 1551, 1559, 1561, 1566, 1568, 1571, 1573, 1578, 1582, 1584, 1586, 1588, 1592, 1596, 1602, 1604, 1607, 1609, 1611, 1614, 1618, 1621, 1624, 1628, 1630, 1634, 1645, 1647, 1649, 1652, 1654, 1656, 1659, 1669, 1672, 1674, 1677, 1679, 1681, 1683, 1693, 1695, 1698, 1707, 1709, 1711, 1713, 1717, 1720, 1725, 1729, 1734, 1744, 1749, 1752, 1754, 1759, 1763, 1766, 1769, 1773, 1775, 1785, 1788, 1792, 1794, 1797, 1800, 1805, 1813, 1815, 1817, 1819, 1825, 1827, 1830, 1832, 1835, 1837, 1839, 1841, 1843, 1845, 1848, 1850, 1853, 1855, 1859, 1861, 1864, 1866, 1872, 1875, 1877, 1879, 1882, 1885, 1889, 1891, 1896, 1899, 1902, 1905, 1910, 1919, 1921, 1923, 1927, 1929, 1931, 1933, 1935, 1937, 1940, 1942, 1944, 1947, 1950, 1952, 1955, 1958, 1961, 1963, 1966, 1972, 1979, 1981, 1984, 1989, 1993, 1995, 2000, 2005, 2008, 2013, 2015, 2020, 2024, 2026, 2029, 2031, 2037, 2041, 2043, 2045, 2048, 2051, 2055, 2057, 2059, 2062, 2064, 2067, 2072, 2077, 2082, 2086, 2089, 2091, 2094, 2097, 2100, 2104, 2108, 2111, 2113, 2116, 2118, 2122, 2127, 2129, 2139, 2142, 2146, 2150, 2154, 2156, 2161, 2163, 2165, 2167, 2169, 2171, 2176, 2178, 2185, 2189, 2192, 2194, 2197, 2201, 2203, 2205, 2208, 2212, 2215, 2219, 2222, 2225, 2228, 2231, 2234, 2238, 2240, 2243, 2251, 2253, 2255, 2260, 2262, 2267, 2273, 2275, 2282, 2284, 2287, 2290, 2293, 2295, 2299, 2301, 2305, 2311, 2314, 2317, 2321, 2328, 2331, 2333, 2335, 2338, 2342, 2345, 2348, 2353, 2358, 2363, 2366, 2369, 2373, 2376, 2378, 2382, 2384, 2386, 2388, 2390, 2395, 2397, 2400, 2402, 2404, 2406, 2410, 2413, 2415, 2417, 2420, 2423, 2425, 2427, 2430, 2432, 2435, 2437, 2442, 2453, 2458, 2460, 2462, 2464, 2468, 2473, 2477, 2479, 2481, 2488, 2490, 2492, 2495, 2497, 2499, 2508, 2512, 2515, 2519, 2522, 2524, 2535, 2537, 2539, 2541, 2547, 2553, 2555, 2557, 2560, 2562, 2564, 2569, 2575, 2578, 2583, 2585, 2587, 2590, 2594, 2596, 2598, 2600, 2602, 2605, 2609, 2611, 2616, 2620, 2622, 2625, 2627, 2631, 2634, 2638, 2641, 2644, 2648, 2650, 2658, 2661, 2665, 2667, 2670, 2673, 2680, 2688, 2690, 2695, 2698, 2706, 2708, 2710, 2715, 2717, 2719, 2725, 2728, 2730, 2738, 2741, 2746, 2748, 2750, 2752, 2757, 2760, 2762, 2764, 2769, 2771, 2778, 2780, 2783, 2785, 2789, 2792, 2794, 2798, 2800, 2802, 2805, 2809, 2811, 2813, 2816, 2820, 2824, 2826, 2828, 2832, 2835, 2838, 2842, 2848, 2851, 2855, 2859, 2861, 2866, 2874, 2877, 2879, 2881, 2884, 2889, 2893, 2895, 2897, 2903, 2907, 2910, 2913, 2918, 2923, 2928, 2930, 2935, 2939, 2942, 2944, 2950, 2956, 2967, 2969, 2972, 2977, 2979, 2982, 2986, 2990, 2994, 2996, 2999, 3001, 3008, 3010, 3013, 3015, 3017, 3019, 3022, 3028, 3035, 3039, 3048, 3051, 3054, 3057, 3061, 3063, 3066, 3069, 3072, 3074, 3076, 3079, 3082, 3085, 3091, 3094, 3100, 3102, 3108, 3113, 3116, 3120, 3127, 3130, 3134, 3145, 3149, 3152, 3154, 3156, 3159, 3163, 3165, 3167, 3173, 3175, 3177, 3179, 3182, 3185, 3190, 3195, 3198, 3200, 3202, 3204, 3208, 3212, 3214, 3217, 3222, 3224, 3227, 3233, 3235, 3238, 3242, 3246, 3249, 3251, 3254, 3257, 3261, 3270, 3275, 3278, 3283, 3289, 3294, 3296, 3298, 3302, 3305, 3307, 3312, 3315, 3318, 3322, 3328, 3330, 3335, 3339, 3341, 3343, 3346, 3349, 3351, 3353, 3356, 3358, 3362, 3366, 3368, 3372, 3374, 3376, 3382, 3384, 3386, 3388, 3391, 3395, 3398, 3404, 3406, 3411, 3415, 3417, 3420, 3424, 3431, 3433, 3438, 3440, 3442, 3444, 3449, 3452, 3454, 3460, 3466, 3468, 3470, 3475, 3480, 3482, 3484, 3487, 3490, 3500, 3502, 3504, 3507, 3510, 3512, 3516, 3518, 3523, 3525, 3527, 3530, 3533, 3538, 3540, 3543, 3545, 3549, 3551, 3555, 3557, 3560, 3564, 3567, 3569, 3575, 3580, 3582, 3584, 3586, 3591, 3595, 3600, 3602, 3606, 3609, 3613, 3617, 3619, 3626, 3628, 3630, 3635, 3637, 3639, 3642, 3644, 3646, 3651, 3659, 3662, 3665, 3667, 3669, 3671, 3673, 3676, 3678, 3681, 3683, 3686, 3690, 3692, 3695, 3698, 3700, 3703, 3705, 3709, 3713, 3715, 3718, 3723, 3726, 3728, 3731, 3734, 3737, 3739, 3742, 3744, 3747, 3750, 3752, 3755, 3760, 3763, 3766, 3768, 3771, 3778, 3780, 3783, 3788, 3791, 3793, 3797, 3806, 3809, 3812, 3815, 3817, 3823, 3827, 3830, 3832, 3836, 3838, 3844, 3848, 3850, 3855, 3857, 3861, 3863, 3867, 3870, 3873, 3876, 3881, 3884, 3886, 3890, 3893, 3896, 3898, 3901, 3903, 3905, 3909, 3911, 3916, 3919, 3921, 3926, 3928, 3930, 3936, 3938, 3941, 3945, 3947, 3951, 3954, 3957, 3963, 3966, 3970, 3975, 3980, 3984, 3988, 3993, 3995, 3997, 4002, 4005, 4007, 4009, 4017, 4019, 4026, 4028, 4031, 4033, 4036, 4038, 4040, 4043, 4047, 4050, 4052, 4055, 4057, 4060, 4064, 4067, 4071, 4074, 4077, 4081, 4083, 4088, 4090, 4092, 4094, 4098, 4103, 4111, 4115, 4119, 4125, 4127, 4130, 4132, 4134, 4138, 4140, 4145, 4148, 4152, 4156, 4158, 4161, 4165, 4168, 4171, 4174, 4177, 4179, 4182, 4184, 4187, 4190, 4193, 4198, 4200, 4202, 4206, 4211, 4213, 4216, 4221, 4225, 4227, 4230, 4232, 4235, 4237, 4241, 4243, 4245, 4248, 4251, 4254, 4260, 4262, 4264, 4269, 4272, 4275, 4279, 4285, 4294, 4303, 4306, 4309, 4315, 4317, 4319, 4321, 4324, 4326, 4328, 4331, 4333, 4336, 4340, 4342, 4344, 4347, 4349, 4352, 4354, 4357, 4361, 4363, 4365, 4369, 4372, 4374, 4381, 4383, 4387, 4390, 4393, 4396, 4399, 4401, 4405, 4409, 4411, 4414, 4417, 4422, 4427, 4429, 4431, 4434, 4436, 4439, 4441, 4444, 4446, 4450, 4452, 4454, 4457, 4464, 4467, 4470, 4474, 4477, 4480, 4482, 4485, 4487, 4490, 4493, 4495, 4498, 4502, 4508, 4511, 4517, 4523, 4529, 4533, 4535, 4541, 4544, 4546, 4548, 4551, 4553, 4555, 4558, 4560, 4569, 4574, 4578, 4833, 4837])

In [20]:
obp_atts.obp_atts['RU0009024277']['2002-08-12'][30].keys()

dict_keys([246, 90536])

In [21]:
tmp = {1:{2:5, 6:7} , 3:4}
# tmp = {}
# list(tmp)[-1]
len(tmp)

2

In [22]:
tmp[1][6]

7

In [23]:
{'c': 2}

{'c': 2}

In [24]:
len(tmp[1])

2