In [1]:
import pandas as pd

In [3]:
OrderBookPlots2002_df = pd.read_csv('./resources/2002.csv')
OrderBookPlots2002_df = OrderBookPlots2002_df[OrderBookPlots2002_df.DATE.isin(['2002-08-12', '2002-08-13'])]
# OrderBookPlots2002_df

In [4]:
OrderBookPlots2002_df[(OrderBookPlots2002_df.PRICE != OrderBookPlots2002_df.TRADEPRICE) &
                 pd.notnull(OrderBookPlots2002_df.TRADEPRICE)]

,Unnamed: 0,NO,SECCODE,BUYSELL,TIME,ORDERNO,ACTION,PRICE,VOLUME,TRADENO,TRADEPRICE,DATE,OBPLOTNO
1356,1356,1357,RU0009029540,S,103002000,1354,2,0.000,5,29844786.0,4420.000,2002-08-12,48
1382,1382,1383,RU0008926621,B,103010000,1374,2,2.900,2100,29844787.0,2.810,2002-08-12,530
1416,1416,1417,RU0008926621,S,103015000,1397,2,2.800,1200,29844788.0,2.801,2002-08-12,167
1480,1480,1481,RU14MSNG3008,B,103023000,1439,2,0.800,68500,29844794.0,0.799,2002-08-12,96
1483,1483,1484,RU0008926621,S,103023000,1441,2,2.801,30000,29844795.0,2.810,2002-08-12,530
...,...,...,...,...,...,...,...,...,...,...,...,...,...
185377,94633,94634,RU0008926621,B,184458000,41551,2,3.600,30000,29878363.0,2.894,2002-08-13,42428
185379,94635,94636,RU0008926621,B,184458000,41551,2,3.600,100000,29878364.0,2.894,2002-08-13,42428
185381,94637,94638,RU0008926621,B,184458000,41551,2,3.600,68300,29878365.0,2.895,2002-08-13,42428
185383,94639,94640,RU0008926621,B,184458000,41551,2,3.600,26900,29878366.0,2.895,2002-08-13,42428
185407,94663,94664,RU14MSNG3008,B,184500000,41562,2,0.793,16700,29878372.0,0.791,2002-08-13,4558

In [5]:
OrderBookPlots2007_df = pd.read_csv('./resources/LKOH_SBER_GMKN_2007_10.csv')
OrderBookPlots2007_df = OrderBookPlots2007_df[OrderBookPlots2007_df.DATE.isin(['2007-10-01', '2007-10-02'])]
# OrderBookPlots2007_df

In [6]:
OrderBookPlots2007_df[(OrderBookPlots2007_df.PRICE != OrderBookPlots2007_df.TRADEPRICE) &
                 pd.notnull(OrderBookPlots2007_df.TRADEPRICE)]

,Unnamed: 0,NO,SECCODE,BUYSELL,TIME,ORDERNO,ACTION,PRICE,VOLUME,TRADENO,TRADEPRICE,DATE,TAQPLOTNO
2336,15529,15530,LKOH,S,103001000,15442,2,0.00,400,329668177.0,2066.11,2007-10-01,122
2359,15672,15673,LKOH,B,103002000,15522,2,2069.00,2,329668201.0,2067.00,2007-10-01,541
2361,15676,15677,LKOH,B,103002000,15524,2,0.00,18,329668203.0,2067.00,2007-10-01,541
2363,15680,15681,LKOH,S,103002000,15528,2,2060.00,55,329668205.0,2066.11,2007-10-01,122
2365,15682,15683,LKOH,S,103002000,15581,2,2065.90,100,329668206.0,2066.11,2007-10-01,122
...,...,...,...,...,...,...,...,...,...,...,...,...,...
521656,1132248,1132249,GMKN,S,174457000,476469,2,6644.00,5,330414209.0,6644.10,2007-10-02,102950
521658,1132250,1132251,GMKN,S,174457000,476469,2,6644.00,1,330414210.0,6644.07,2007-10-02,102950
521678,1132345,1132346,SBER03,B,174458000,476517,2,104.94,200,330414238.0,104.89,2007-10-02,49790
521681,1132350,1132351,LKOH,B,174458000,476519,2,2112.01,5,330414240.0,2112.00,2007-10-02,63756
521683,1132376,1132377,GMKN,B,174458000,476512,2,0.00,30,330414255.0,6644.00,2007-10-02,102950

In [33]:
class OBPlots2OBPlots_Attributes:
    def __init__(self, OBPs_df):
        self.OBPs_df = OBPs_df
        self.secs = pd.unique(self.OBPs_df.SECCODE)
        self.dates = pd.unique(self.OBPs_df.DATE)
        self.obp_atts = {
            sec:datedic for (sec, datedic) in zip(self.secs, {
                date:attdic for (date, attdic) in zip(
                    self.dates, {'CBOVOL': 0, # cancel buy order volume
                        'CSOVOL': 0, # cancel sell order volume
                        'BOVOL': 0, # buy order volume
                        'SOVOL': 0, # sell order volume
                        'BTVOL': 0, # buy trade volumne
                        'STVOL': 0, # sell trade volume
                        'TBNET': 0, # trade volumne - buy volume <= 0
                        'TSNET': 0, # trade volume - sell volume >= 0
                        'OBP_BAL': 0, # oreder-book-plot balance
                        'DAY_BAL': 0 })}) # day balance
        }
                            
        self.iterate_ob_rows()
        
    def ob_row2obp_atts(self, DATE, SECCODE, NO, BUYSELL, TIME, ORDERNO, ACTION):
        CBOVOL = 
        self.obp_atts[atts['SECCODE']][atts['DATE']]
        
    def iterate_ob_rows(self):
        [self.ob_row2obp_atts({'DATE': DATE, 
                               'SECCODE': SECCODE, 
                               'NO': NO, 
                               'BUYSELL': BUYSELL, 
                               'TIME': TIME, 
                               'ORDERNO': ORDERNO, 
                               'ACTION': ACTION, 
                               'PRICE': PRICE, 
                               'TRADEPRICE': TRADEPRICE, 
                               'OBPLOTNO': OBPLOTNO})
        for DATE, SECCODE, NO, BUYSELL,
         TIME, ORDERNO, ACTION, PRICE,
         TRADEPRICE, OBPLOTNO in zip(self.OBPs_df.DATE,
                                    self.OBPs_df.SECCODE,
                                    self.OBPs_df.NO,
                                    self.OBPs_df.BUYSELL,
                                    self.OBPs_df.TIME,
                                    self.OBPs_df.ORDERNO,
                                    self.OBPs_df.ACTION,
                                    self.OBPs_df.PRICE,
                                    self.OBPs_df.TRADEPRICE,
                                    self.OBPs_df.OBPLOTNO)]

In [34]:
obp_attc = OBPlots2OBPlots_Attributes(OrderBookPlots2002_df)