In [1]:
import pandas as pd
import datetime

In [2]:
OrderBookPlots2002_df = pd.read_csv('./resources/2002.csv')
OrderBookPlots2002_df = OrderBookPlots2002_df[OrderBookPlots2002_df.DATE.isin(['2002-08-12', '2002-08-13'])]
# OrderBookPlots2002_df

In [3]:
OrderBookPlots2002_df['TRADENO'] = OrderBookPlots2002_df['TRADENO'].astype(pd.Int64Dtype())

In [4]:
OrderBookPlots2002_df.sort_values(by=['NO'], inplace=True)

In [5]:
OrderBookPlots2002_df[(OrderBookPlots2002_df.PRICE != OrderBookPlots2002_df.TRADEPRICE) &
                 pd.notnull(OrderBookPlots2002_df.TRADEPRICE)]

,Unnamed: 0,NO,SECCODE,BUYSELL,TIME,ORDERNO,ACTION,PRICE,VOLUME,TRADENO,TRADEPRICE,DATE,OBPLOTNO
1356,1356,1357,RU0009029540,S,103002000,1354,2,0.000,5,29844786,4420.000,2002-08-12,48
1382,1382,1383,RU0008926621,B,103010000,1374,2,2.900,2100,29844787,2.810,2002-08-12,530
1416,1416,1417,RU0008926621,S,103015000,1397,2,2.800,1200,29844788,2.801,2002-08-12,167
1480,1480,1481,RU14MSNG3008,B,103023000,1439,2,0.800,68500,29844794,0.799,2002-08-12,96
1483,1483,1484,RU0008926621,S,103023000,1441,2,2.801,30000,29844795,2.810,2002-08-12,530
...,...,...,...,...,...,...,...,...,...,...,...,...,...
185377,94633,94634,RU0008926621,B,184458000,41551,2,3.600,30000,29878363,2.894,2002-08-13,42428
185379,94635,94636,RU0008926621,B,184458000,41551,2,3.600,100000,29878364,2.894,2002-08-13,42428
185381,94637,94638,RU0008926621,B,184458000,41551,2,3.600,68300,29878365,2.895,2002-08-13,42428
185383,94639,94640,RU0008926621,B,184458000,41551,2,3.600,26900,29878366,2.895,2002-08-13,42428
185407,94663,94664,RU14MSNG3008,B,184500000,41562,2,0.793,16700,29878372,0.791,2002-08-13,4558

In [6]:
type(OrderBookPlots2002_df.TIME[0]), type(OrderBookPlots2002_df.TRADENO[0])

(numpy.int64, pandas._libs.missing.NAType)

In [7]:
OrderBookPlots2007_df = pd.read_csv('./resources/LKOH_SBER_GMKN_2007_10.csv')
# OrderBookPlots2007_df = pd.read_csv('./resources/LKOH_2007_10.csv')
OrderBookPlots2007_df = OrderBookPlots2007_df[OrderBookPlots2007_df.DATE.isin(['2007-10-01', '2007-10-02'])]
# OrderBookPlots2007_df

In [8]:
OrderBookPlots2007_df['TRADENO'] = OrderBookPlots2007_df['TRADENO'].astype(pd.Int64Dtype())

In [9]:
OrderBookPlots2007_df.sort_values(by=['NO'], inplace=True)

In [10]:
OrderBookPlots2007_df[(OrderBookPlots2007_df.PRICE != OrderBookPlots2007_df.TRADEPRICE) &
                 pd.notnull(OrderBookPlots2007_df.TRADEPRICE)]

,Unnamed: 0,NO,SECCODE,BUYSELL,TIME,ORDERNO,ACTION,PRICE,VOLUME,TRADENO,TRADEPRICE,DATE,OBPLOTNO
2336,15529,15530,LKOH,S,103001000,15442,2,0.00,400,329668177,2066.11,2007-10-01,122
2359,15672,15673,LKOH,B,103002000,15522,2,2069.00,2,329668201,2067.00,2007-10-01,541
2361,15676,15677,LKOH,B,103002000,15524,2,0.00,18,329668203,2067.00,2007-10-01,541
2363,15680,15681,LKOH,S,103002000,15528,2,2060.00,55,329668205,2066.11,2007-10-01,122
2365,15682,15683,LKOH,S,103002000,15581,2,2065.90,100,329668206,2066.11,2007-10-01,122
...,...,...,...,...,...,...,...,...,...,...,...,...,...
521656,1132248,1132249,GMKN,S,174457000,476469,2,6644.00,5,330414209,6644.10,2007-10-02,102950
521658,1132250,1132251,GMKN,S,174457000,476469,2,6644.00,1,330414210,6644.07,2007-10-02,102950
521678,1132345,1132346,SBER03,B,174458000,476517,2,104.94,200,330414238,104.89,2007-10-02,49790
521681,1132350,1132351,LKOH,B,174458000,476519,2,2112.01,5,330414240,2112.00,2007-10-02,63756
521683,1132376,1132377,GMKN,B,174458000,476512,2,0.00,30,330414255,6644.00,2007-10-02,102950

In [11]:
OrderBookPlots2002_2000ms_df = OrderBookPlots2002_df[(OrderBookPlots2002_df.TIME >= 103002000) & (OrderBookPlots2002_df.TIME <= 103003000)]
OrderBookPlots2002_2000ms_df

,Unnamed: 0,NO,SECCODE,BUYSELL,TIME,ORDERNO,ACTION,PRICE,VOLUME,TRADENO,TRADEPRICE,DATE,OBPLOTNO
1353,1353,1354,RU0008943394,B,103002000,137,0,33.510,5000,<NA>,NaN,2002-08-12,16
1354,1354,1355,RU0009029540,S,103002000,1354,1,0.000,5,<NA>,NaN,2002-08-12,48
1355,1355,1356,RU0009029540,B,103002000,609,2,4420.000,5,29844786,4420.0,2002-08-12,48
1356,1356,1357,RU0009029540,S,103002000,1354,2,0.000,5,29844786,4420.0,2002-08-12,48
1357,1357,1358,RU0008926621,B,103003000,386,0,2.780,4300,<NA>,NaN,2002-08-12,115
1358,1358,1359,RU0008926621,B,103003000,1355,1,2.765,300,<NA>,NaN,2002-08-12,416
92236,1492,1493,RU14MSNG3008,B,103002000,1437,0,0.750,1000,<NA>,NaN,2002-08-13,288
92237,1493,1494,RU0008926621,B,103002000,1493,1,2.770,1500,<NA>,NaN,2002-08-13,631
92238,1494,1495,RU14TATN3006,S,103002000,1494,1,18.990,8800,<NA>,NaN,2002-08-13,16
92239,1495,1496,RU0008943394,B,103003000,1495,1,34.050,200,<NA>,NaN,2002-08-13,277
92240,1496,1497,RU0009029532,S,103003000,1496,1,2.400,600,<NA>,NaN,2002-08-13,138
92241,1497,1498,RU0008926621,B,103003000,1497,1,2.762,20000,<NA>,NaN,2002-08-13,633

In [12]:
OrderBookPlots2002_2000ms_df = OrderBookPlots2002_df[(OrderBookPlots2002_df.TIME >= 103002000) & (OrderBookPlots2002_df.TIME <= 103003000)]
def form_datetimemlls(df):
    scnd_size_df = pd.DataFrame(df.groupby('TIME').size())
    scnd_size_df.reset_index(inplace=True)
    scnd_size_df = scnd_size_df.rename(columns = {0:'SCNDSIZE'})
    df = df.merge(scnd_size_df, on='TIME')
    df['SEC_IND'] = df.groupby(['TIME']).cumcount()
    df['MILLISS'] = round(df['SEC_IND'] / df['SCNDSIZE'] * 1000)
    df['MILLISS'] = df['MILLISS'].astype(int)
    df.drop(['SCNDSIZE', 'SEC_IND'], axis=1, inplace=True)
    df['DATETIME'] = df.apply(lambda row: datetime.datetime.strptime(row.DATE, '%Y-%m-%d'), axis=1)
    df['DATETIMEMLLS'] = df.apply(lambda row: datetime.datetime(row.DATETIME.year,
                                                               row.DATETIME.month,
                                                               row.DATETIME.day,
                                                               int(row.TIME // 1e7),
                                                               int((row.TIME // 1e5) % 100),
                                                               int((row.TIME // 1e3) % 100)),
                                  axis=1)
    df['DATETIMEMLLS'] = df.apply(lambda row: row.DATETIMEMLLS +
                                 datetime.timedelta(milliseconds=row.MILLISS),
                                 axis=1)
    df.drop(['DATETIME', 'MILLISS', 'TIME'], axis=1, inplace=True)
    return(df)
OrderBookPlots2002_2000ms_df = form_datetimemlls(OrderBookPlots2002_2000ms_df)
OrderBookPlots2002_2000ms_df

,Unnamed: 0,NO,SECCODE,BUYSELL,ORDERNO,ACTION,PRICE,VOLUME,TRADENO,TRADEPRICE,DATE,OBPLOTNO,DATETIMEMLLS
0,1353,1354,RU0008943394,B,137,0,33.510,5000,<NA>,NaN,2002-08-12,16,2002-08-12 10:30:02.000
1,1354,1355,RU0009029540,S,1354,1,0.000,5,<NA>,NaN,2002-08-12,48,2002-08-12 10:30:02.143
2,1355,1356,RU0009029540,B,609,2,4420.000,5,29844786,4420.0,2002-08-12,48,2002-08-12 10:30:02.286
3,1356,1357,RU0009029540,S,1354,2,0.000,5,29844786,4420.0,2002-08-12,48,2002-08-12 10:30:02.429
4,1492,1493,RU14MSNG3008,B,1437,0,0.750,1000,<NA>,NaN,2002-08-13,288,2002-08-13 10:30:02.571
5,1493,1494,RU0008926621,B,1493,1,2.770,1500,<NA>,NaN,2002-08-13,631,2002-08-13 10:30:02.714
6,1494,1495,RU14TATN3006,S,1494,1,18.990,8800,<NA>,NaN,2002-08-13,16,2002-08-13 10:30:02.857
7,1357,1358,RU0008926621,B,386,0,2.780,4300,<NA>,NaN,2002-08-12,115,2002-08-12 10:30:03.000
8,1358,1359,RU0008926621,B,1355,1,2.765,300,<NA>,NaN,2002-08-12,416,2002-08-12 10:30:03.200
9,1495,1496,RU0008943394,B,1495,1,34.050,200,<NA>,NaN,2002-08-13,277,2002-08-13 10:30:03.400
10,1496,1497,RU0009029532,S,1496,1,2.400,600,<NA>,NaN,2002-08-13,138,2002-08-13 10:30:03.600
11,1497,1498,RU0008926621,B,1497,1,2.762,20000,<NA>,NaN,2002-08-13,633,2002-08-13 10:30:03.800

In [13]:
OrderBookPlots2002_df = form_datetimemlls(OrderBookPlots2002_df)

In [14]:
OrderBookPlots2007_df = form_datetimemlls(OrderBookPlots2007_df)

In [20]:
class OBPlots2OBPlots_Attributes:
    def __init__(self, OBPs_df):
        self.OBPs_df = OBPs_df
        self.secs = pd.unique(self.OBPs_df.SECCODE)
        self.dates = pd.unique(self.OBPs_df.DATE)
#         print(self.dates)
        self.obplotnos = pd.unique(self.OBPs_df.OBPLOTNO)
        self.obp_atts_dic = {
            sec:datedic for (sec, datedic) in zip(
                self.secs,
                [{
                    date:obps_attsdic for (date, obps_attsdic) in zip(
                        self.dates, 
                        [{} for i in range(len(self.dates))]
                    )
                } for i in range(len(self.secs))]
            )
        }
        self.iterate_ob_rows()
    
    # Accordin to specs ACTION 0 shows balance of order, not cancelled volune of the order, IT'S WRONG
    # Actually, it shows cancelled volune of the order
    def ob2curatt(self, SECCODE, DATE, OBPLOTNO, BUYSELL, ACTION, PRICE, VOLUME, TRADEPRICE):
        if (BUYSELL == 'B') & (ACTION == 0):
            CBOVOL = self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['PREV']['CBOVOL'] + (PRICE * VOLUME)
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['PREV']['CBOVOL'] = CBOVOL
            return({'ATT': 'CBOVOL', 'VAL': CBOVOL})
        elif (BUYSELL == 'S') & (ACTION == 0):
            CSOVOL = self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['PREV']['CSOVOL'] + (PRICE * VOLUME)
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['PREV']['CSOVOL'] = CSOVOL
            return({'ATT': 'CSOVOL', 'VAL': CSOVOL})
        elif (BUYSELL == 'B') & (ACTION == 1):
            BOVOL = self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['PREV']['BOVOL'] + (PRICE * VOLUME)
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['PREV']['BOVOL'] = BOVOL
            return({'ATT': 'BOVOL', 'VAL': BOVOL})
        elif (BUYSELL == 'S') & (ACTION == 1):
            SOVOL = self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['PREV']['SOVOL'] + (PRICE * VOLUME)
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['PREV']['SOVOL'] = SOVOL
            return({'ATT': 'SOVOL', 'VAL': SOVOL})
        elif (BUYSELL == 'B') & (ACTION == 2):
            BTVOL = self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['PREV']['BTVOL'] + (TRADEPRICE * VOLUME)
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['PREV']['BTVOL'] = BTVOL
            return({'ATT': 'BTVOL', 'VAL': BTVOL})
        elif (BUYSELL == 'S') & (ACTION == 2):
            STVOL = self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['PREV']['STVOL'] + (TRADEPRICE * VOLUME)
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['PREV']['STVOL'] = STVOL
            return({'ATT': 'STVOL', 'VAL': STVOL})
        
    def ob_row2obp_atts(self, SECCODE, DATE, NO, BUYSELL, ORDERNO,
                        ACTION, PRICE, VOLUME, TRADEPRICE, OBPLOTNO,
                        DATETIMEMLLS):
        if OBPLOTNO not in self.obp_atts_dic[SECCODE][DATE]:
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO] = {}
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['PREV'] = {
                'CBOVOL': 0, # cancel buy order volume
                'CSOVOL': 0, # cancel sell order volume
                'BOVOL': 0, # buy order volume
                'SOVOL': 0, # sell order volume
                'BTVOL': 0, # buy trade volumne
                'STVOL': 0, # sell trade volume
                'TBNET': 0, # trade volumne - buy volume <= 0
                'TSNET': 0, # trade volume - sell volume >= 0
                'OBP_BAL': 0 # oreder-book-plot balance
            }
            
        self.obp_atts_dic[SECCODE][DATE][OBPLOTNO][NO] = self.ob2curatt(SECCODE, DATE, OBPLOTNO, BUYSELL, ACTION, 
                                                                    PRICE, VOLUME, TRADEPRICE)
        self.obp_atts_dic[SECCODE][DATE][OBPLOTNO][NO]['DATETIMEMLLS'] = DATETIMEMLLS
#         print(SECCODE)
#         print(self.obp_atts[SECCODE])
        
    def iterate_ob_rows(self):
        [self.ob_row2obp_atts(SECCODE, DATE, NO, BUYSELL, ORDERNO, 
                              ACTION, PRICE, VOLUME, TRADEPRICE, OBPLOTNO,
                              DATETIMEMLLS)
        for (SECCODE, DATE, NO, BUYSELL, ORDERNO,
             ACTION, PRICE, VOLUME, TRADEPRICE, OBPLOTNO,
             DATETIMEMLLS)
         in zip(self.OBPs_df.SECCODE,
                self.OBPs_df.DATE,
                self.OBPs_df.NO,
                self.OBPs_df.BUYSELL,
                self.OBPs_df.ORDERNO,
                self.OBPs_df.ACTION,
                self.OBPs_df.PRICE,
                self.OBPs_df.VOLUME,
                self.OBPs_df.TRADEPRICE,
                self.OBPs_df.OBPLOTNO,
                self.OBPs_df.DATETIMEMLLS)]

In [21]:
obp_atts_2000ms = OBPlots2OBPlots_Attributes(OrderBookPlots2002_2000ms_df)

In [24]:
def obp_atts2obp_atts_df(obp_atts):
    obp_atts_dic = {}
    for SECCODE in obp_atts:
        for DATE in obp_atts[SECCODE]:
            for OBPLOTNO in obp_atts[SECCODE][DATE]:
                for NO in obp_atts[SECCODE][DATE][OBPLOTNO]:
                    obp_atts_dic[NO] = {}
                    if NO != 'PREV':
#                         print(NO)
#                         print(obp_atts[SECCODE][DATE][OBPLOTNO][NO])
                        obp_atts_dic[NO] = obp_atts[SECCODE][DATE][OBPLOTNO][NO]
                        obp_atts_dic[NO]['NO'] = NO
                        obp_atts_dic[NO]['OBPLOTNO'] = OBPLOTNO
                        obp_atts_dic[NO]['DATE'] = DATE
                        obp_atts_dic[NO]['SECCODE'] = SECCODE

    obp_atts_df = pd.DataFrame.from_dict(obp_atts_dic, "index")
    obp_atts_df.sort_values(by=['DATETIMEMLLS', 'NO'], inplace=True)
    return(obp_atts_df)

obp_atts2obp_atts_df(obp_atts_2000ms.obp_atts_dic)

,ATT,VAL,DATETIMEMLLS,NO,OBPLOTNO,DATE,SECCODE
1354,CBOVOL,167550.0,2002-08-12 10:30:02.000,1354,16,2002-08-12,RU0008943394
1355,SOVOL,0.0,2002-08-12 10:30:02.143,1355,48,2002-08-12,RU0009029540
1356,BTVOL,22100.0,2002-08-12 10:30:02.286,1356,48,2002-08-12,RU0009029540
1357,STVOL,22100.0,2002-08-12 10:30:02.429,1357,48,2002-08-12,RU0009029540
1358,CBOVOL,11954.0,2002-08-12 10:30:03.000,1358,115,2002-08-12,RU0008926621
1359,BOVOL,829.5,2002-08-12 10:30:03.200,1359,416,2002-08-12,RU0008926621
1493,CBOVOL,750.0,2002-08-13 10:30:02.571,1493,288,2002-08-13,RU14MSNG3008
1494,BOVOL,4155.0,2002-08-13 10:30:02.714,1494,631,2002-08-13,RU0008926621
1495,SOVOL,167112.0,2002-08-13 10:30:02.857,1495,16,2002-08-13,RU14TATN3006
1496,BOVOL,6810.0,2002-08-13 10:30:03.400,1496,277,2002-08-13,RU0008943394
1497,SOVOL,1440.0,2002-08-13 10:30:03.600,1497,138,2002-08-13,RU0009029532
1498,BOVOL,55240.0,2002-08-13 10:30:03.800,1498,633,2002-08-13,RU0008926621

In [25]:
obp_atts_2007 = OBPlots2OBPlots_Attributes(OrderBookPlots2007_df)
obp_atts2obp_atts_df(obp_atts_2007.obp_atts_dic)

,ATT,VAL,DATETIMEMLLS,NO,OBPLOTNO,DATE,SECCODE
10,SOVOL,56175.60,2007-10-01 10:30:00.001,10,0,2007-10-01,LKOH
28,SOVOL,16710.40,2007-10-01 10:30:00.002,28,2,2007-10-01,LKOH
29,SOVOL,16791.60,2007-10-01 10:30:00.003,29,4,2007-10-01,LKOH
30,SOVOL,16734.40,2007-10-01 10:30:00.003,30,6,2007-10-01,LKOH
31,SOVOL,2225.00,2007-10-01 10:30:00.003,31,8,2007-10-01,LKOH
...,...,...,...,...,...,...,...
1132377,BTVOL,1488256.57,2007-10-02 17:44:58.956,1132377,102950,2007-10-02,GMKN
1132388,CSOVOL,42274.00,2007-10-02 17:44:58.978,1132388,65774,2007-10-02,LKOH
1132408,CBOVOL,211041.00,2007-10-02 17:44:59.600,1132408,65959,2007-10-02,LKOH
1132410,CBOVOL,1463385.48,2007-10-02 17:44:59.800,1132410,49564,2007-10-02,SBER03
1132414,CSOVOL,986771.00,2007-10-02 17:45:00.750,1132414,65862,2007-10-02,LKOH