In [1]:
import pandas as pd
import datetime
import matplotlib.pyplot as plt

In [2]:
# OrderBookPlots2002_df = pd.read_csv('./resources/2002.csv')
# OrderBookPlots2002_df = OrderBookPlots2002_df[OrderBookPlots2002_df.DATE.isin(['2002-08-12', '2002-08-13'])]
# OrderBookPlots2002_df

In [3]:
# OrderBookPlots2002_df['TRADENO'] = OrderBookPlots2002_df['TRADENO'].astype(pd.Int64Dtype())

In [4]:
# OrderBookPlots2002_df.sort_values(by=['NO'], inplace=True)

In [5]:
# OrderBookPlots2002_df[(OrderBookPlots2002_df.PRICE != OrderBookPlots2002_df.TRADEPRICE) &
#                  pd.notnull(OrderBookPlots2002_df.TRADEPRICE)]

In [6]:
# OrderBookPlots2007_df = pd.read_csv('./resources/for_pres/raw_2_OBPlots_df.csv')
OrderBookPlots2007_df = pd.read_csv('./resources/LKOH_SBER_GMKN_2007_10.csv')
# OrderBookPlots2007_df = OrderBookPlots2007_df[(OrderBookPlots2007_df.SECCODE.isin(['LKOH', 'GMKN']))
#                                                & (OrderBookPlots2007_df.DATE.isin(['2007-10-08', '2007-10-09']))]
OrderBookPlots2007_df = OrderBookPlots2007_df.loc[((OrderBookPlots2007_df.SECCODE == 'LKOH') | 
                                                  (OrderBookPlots2007_df.SECCODE == 'GMKN')) &
                                                 ((OrderBookPlots2007_df.DATE == '2007-10-08') |
                                                 (OrderBookPlots2007_df.DATE == '2007-10-09'))]
# OrderBookPlots2007_df = pd.read_csv('./resources/LKOH_SBER_GMKN_2007_10.csv')
# OrderBookPlots2007_df = OrderBookPlots2007_df[(OrderBookPlots2007_df.SECCODE == 'LKOH') & 
#                                               (OrderBookPlots2007_df.DATE == '2007-10-08')]
# OrderBookPlots2007_df = OrderBookPlots2007_df[OrderBookPlots2007_df.DATE.isin(['2007-10-01', '2007-10-02'])]
OrderBookPlots2007_df

,Unnamed: 0,NO,SECCODE,BUYSELL,TIME,ORDERNO,ACTION,PRICE,VOLUME,TRADENO,TRADEPRICE,DATE,OBPLOTNO
1541751,12,13,LKOH,S,103000000,13,1,2343.97,6250,NaN,NaN,2007-10-08,0
1541762,45,46,LKOH,S,103000000,46,1,2214.00,15,NaN,NaN,2007-10-08,2
1541772,59,60,GMKN,S,103000000,60,1,6800.00,3,NaN,NaN,2007-10-08,0
1541773,73,74,LKOH,B,103000000,74,1,1990.00,50,NaN,NaN,2007-10-08,4
1541774,75,76,LKOH,S,103000000,76,1,2200.00,10,NaN,NaN,2007-10-08,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2110170,981464,981465,LKOH,B,174458000,406731,0,2180.15,1000,NaN,NaN,2007-10-09,57666
2110171,981471,981472,LKOH,S,174459000,419375,0,2187.79,389,NaN,NaN,2007-10-09,59536
2110172,981473,981474,LKOH,S,174459000,416050,0,2189.00,600,NaN,NaN,2007-10-09,59133
2110173,981476,981477,LKOH,S,174500000,415336,0,2188.88,1000,NaN,NaN,2007-10-09,59000
2110174,981480,981481,GMKN,S,174500000,366242,0,6881.00,5,NaN,NaN,2007-10-09,69188

In [7]:
OrderBookPlots2007_df['TRADENO'] = OrderBookPlots2007_df['TRADENO'].astype(pd.Int64Dtype())

In [8]:
OrderBookPlots2007_df.sort_values(by=['NO'], inplace=True)

In [9]:
OrderBookPlots2007_df[(OrderBookPlots2007_df.PRICE != OrderBookPlots2007_df.TRADEPRICE) &
                 pd.notnull(OrderBookPlots2007_df.TRADEPRICE)]

,Unnamed: 0,NO,SECCODE,BUYSELL,TIME,ORDERNO,ACTION,PRICE,VOLUME,TRADENO,TRADEPRICE,DATE,OBPLOTNO
1544302,17145,17146,LKOH,S,103001000,17122,2,2179.99,40,332168465,2180.00,2007-10-08,1399
1544318,17169,17170,LKOH,S,103001000,17071,2,2178.90,10,332168477,2180.00,2007-10-08,1399
1544321,17192,17193,LKOH,S,103001000,17081,2,2179.99,5,332168488,2180.00,2007-10-08,1399
1544324,17213,17214,LKOH,B,103001000,17130,2,0.00,50,332168499,2181.99,2007-10-08,129
1544326,17215,17216,LKOH,B,103001000,17053,2,2200.00,3,332168500,2181.99,2007-10-08,129
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2110159,981449,981450,GMKN,S,174458000,420177,2,6860.00,5,332876418,6866.00,2007-10-09,77894
2110162,981452,981453,GMKN,S,174458000,420177,2,6860.00,25,332876419,6866.00,2007-10-09,77894
2110163,981453,981454,GMKN,S,174458000,420177,2,6860.00,5,332876420,6866.00,2007-10-09,77894
2110166,981456,981457,GMKN,S,174458000,420177,2,6860.00,100,332876421,6866.00,2007-10-09,77894
2110167,981457,981458,GMKN,S,174458000,420177,2,6860.00,32,332876422,6865.10,2007-10-09,77894

In [10]:
# OrderBookPlots2002_2000ms_df = OrderBookPlots2002_df[(OrderBookPlots2002_df.TIME >= 103002000) & (OrderBookPlots2002_df.TIME <= 103003000)]
# OrderBookPlots2002_2000ms_df

In [11]:
# OrderBookPlots2002_2000ms_df = OrderBookPlots2002_df[(OrderBookPlots2002_df.TIME >= 103002000) & (OrderBookPlots2002_df.TIME <= 103003000)]
def form_datetimemlls(df):
    scnd_size_df = pd.DataFrame(df.groupby('TIME').size())
    scnd_size_df.reset_index(inplace=True)
    scnd_size_df = scnd_size_df.rename(columns = {0:'SCNDSIZE'})
    df = df.merge(scnd_size_df, on='TIME')
    df['SEC_IND'] = df.groupby(['TIME']).cumcount()
    df['MILLISS'] = round(df['SEC_IND'] / df['SCNDSIZE'] * 1000)
    df['MILLISS'] = df['MILLISS'].astype(int)
    df.drop(['SCNDSIZE', 'SEC_IND'], axis=1, inplace=True)
    df['DATETIME'] = df.apply(lambda row: datetime.datetime.strptime(row.DATE, '%Y-%m-%d'), axis=1)
    df['DATETIMEMLLS'] = df.apply(lambda row: datetime.datetime(row.DATETIME.year,
                                                               row.DATETIME.month,
                                                               row.DATETIME.day,
                                                               int(row.TIME // 1e7),
                                                               int((row.TIME // 1e5) % 100),
                                                               int((row.TIME // 1e3) % 100)),
                                  axis=1)
    df['DATETIMEMLLS'] = df.apply(lambda row: row.DATETIMEMLLS +
                                 datetime.timedelta(milliseconds=row.MILLISS),
                                 axis=1)
    df.drop(['DATETIME', 'MILLISS', 'TIME'], axis=1, inplace=True)
    return(df)
# OrderBookPlots2002_2000ms_df = form_datetimemlls(OrderBookPlots2002_2000ms_df)
# OrderBookPlots2002_2000ms_df

In [12]:
# OrderBookPlots2002_df = form_datetimemlls(OrderBookPlots2002_df)

In [13]:
OrderBookPlots2007_df = form_datetimemlls(OrderBookPlots2007_df)
OrderBookPlots2007_df

,Unnamed: 0,NO,SECCODE,BUYSELL,ORDERNO,ACTION,PRICE,VOLUME,TRADENO,TRADEPRICE,DATE,OBPLOTNO,DATETIMEMLLS
0,12,13,LKOH,S,13,1,2343.97,6250,<NA>,NaN,2007-10-08,0,2007-10-08 10:30:00.000
1,45,46,LKOH,S,46,1,2214.00,15,<NA>,NaN,2007-10-08,2,2007-10-08 10:30:00.000
2,50,51,LKOH,S,51,1,2214.00,15,<NA>,NaN,2007-10-09,0,2007-10-09 10:30:00.001
3,59,60,GMKN,S,60,1,6800.00,3,<NA>,NaN,2007-10-08,0,2007-10-08 10:30:00.001
4,67,68,LKOH,B,68,1,1990.00,50,<NA>,NaN,2007-10-09,2,2007-10-09 10:30:00.001
...,...,...,...,...,...,...,...,...,...,...,...,...,...
394477,976265,976266,GMKN,S,394561,2,6874.00,587,332874938,6874.0,2007-10-09,34722,2007-10-09 17:44:09.833
394478,976266,976267,GMKN,B,418489,2,6874.00,587,332874938,6874.0,2007-10-09,34722,2007-10-09 17:44:09.867
394479,976299,976300,GMKN,S,418499,2,6871.00,3,332874955,6872.0,2007-10-09,16374,2007-10-09 17:44:09.900
394480,976300,976301,GMKN,B,418050,2,6872.00,3,332874955,6872.0,2007-10-09,16374,2007-10-09 17:44:09.933
394481,976304,976305,GMKN,S,417953,0,6874.80,10,<NA>,NaN,2007-10-09,77978,2007-10-09 17:44:09.967

In [14]:
class OBPlots2OBPlots_Attributes:
    def __init__(self, OBPs_df):
        self.OBPs_df = OBPs_df
        self.secs = pd.unique(self.OBPs_df.SECCODE)
        self.dates = pd.unique(self.OBPs_df.DATE)
#         print(self.dates)
        self.obplotnos = pd.unique(self.OBPs_df.OBPLOTNO)
        self.obp_atts_dic = {
            sec:datedic for (sec, datedic) in zip(
                self.secs,
                [{
                    date:obps_attsdic for (date, obps_attsdic) in zip(
                        self.dates, 
                        [{} for i in range(len(self.dates))]
                    )
                } for i in range(len(self.secs))]
            )
        }
        self.iterate_ob_rows()
    
    # Accordin to specs ACTION 0 shows balance of order, not cancelled volune of the order, IT'S WRONG
    # Actually, it shows cancelled volune of the order
    def ob2curatt(self, SECCODE, DATE, OBPLOTNO, BUYSELL, ACTION, PRICE, VOLUME, TRADEPRICE):
        if (BUYSELL == 'B') & (ACTION == 0):
            CBOVOL = PRICE * VOLUME
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['SHAREBAL'] -= VOLUME
            return({'ATT': 'CBOVOL', 'VAL': CBOVOL})
        elif (BUYSELL == 'S') & (ACTION == 0):
            CSOVOL = PRICE * VOLUME
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['SHAREBAL'] += VOLUME
            return({'ATT': 'CSOVOL', 'VAL': CSOVOL})
        elif (BUYSELL == 'B') & (ACTION == 1):
            BOVOL = PRICE * VOLUME
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['SHAREBAL'] += VOLUME

#             print(SECCODE, DATE, OBPLOTNO, BOVOL)
#             input("Read")
            
            return({'ATT': 'BOVOL', 'VAL': BOVOL})
        elif (BUYSELL == 'S') & (ACTION == 1):
            SOVOL = PRICE * VOLUME
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['SHAREBAL'] -= VOLUME
            return({'ATT': 'SOVOL', 'VAL': SOVOL})
        elif (BUYSELL == 'B') & (ACTION == 2):
            BTVOL = TRADEPRICE * VOLUME
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['SHAREBAL'] -= VOLUME
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['BPROFIT'] += (TRADEPRICE - PRICE) * VOLUME
            if TRADEPRICE < self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMINTPRICE']:
                self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMINTPRICE'] = TRADEPRICE
            elif TRADEPRICE > self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMAXTPRICE']:
                self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMAXTPRICE'] = TRADEPRICE
            return({'ATT': 'BTVOL', 'VAL': BTVOL})
        elif (BUYSELL == 'S') & (ACTION == 2):
            STVOL = TRADEPRICE * VOLUME
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['SHAREBAL'] += VOLUME
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['SPROFIT'] += (PRICE - TRADEPRICE) * VOLUME
            if TRADEPRICE < self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMINTPRICE']:
                self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMINTPRICE'] = TRADEPRICE
            elif TRADEPRICE > self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMAXTPRICE']:
                self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMAXTPRICE'] = TRADEPRICE
            return({'ATT': 'STVOL', 'VAL': STVOL})
        
    def ob_row2obp_atts(self, SECCODE, DATE, NO, BUYSELL, ORDERNO,
                        ACTION, PRICE, VOLUME, TRADEPRICE, OBPLOTNO,
                        DATETIMEMLLS):
        if OBPLOTNO not in self.obp_atts_dic[SECCODE][DATE]:
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO] = {}
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['SHAREBAL'] = 0
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['BPROFIT'] = 0
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['SPROFIT'] = 0
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMINTPRICE'] = 0
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMAXTPRICE'] = 0

#         print(SECCODE, DATE, OBPLOTNO, BUYSELL, ACTION, PRICE, VOLUME, TRADEPRICE)
#         input("Read")
            
        self.obp_atts_dic[SECCODE][DATE][OBPLOTNO][NO] = self.ob2curatt(SECCODE, DATE, OBPLOTNO, BUYSELL, ACTION, 
                                                                    PRICE, VOLUME, TRADEPRICE)
        self.obp_atts_dic[SECCODE][DATE][OBPLOTNO][NO]['DATETIMEMLLS'] = DATETIMEMLLS
#         print(SECCODE)
#         print(self.obp_atts[SECCODE])
        
    def iterate_ob_rows(self):
        [self.ob_row2obp_atts(SECCODE, DATE, NO, BUYSELL, ORDERNO, 
                              ACTION, PRICE, VOLUME, TRADEPRICE, OBPLOTNO,
                              DATETIMEMLLS)
        for (SECCODE, DATE, NO, BUYSELL, ORDERNO,
             ACTION, PRICE, VOLUME, TRADEPRICE, OBPLOTNO,
             DATETIMEMLLS)
         in zip(self.OBPs_df.SECCODE,
                self.OBPs_df.DATE,
                self.OBPs_df.NO,
                self.OBPs_df.BUYSELL,
                self.OBPs_df.ORDERNO,
                self.OBPs_df.ACTION,
                self.OBPs_df.PRICE,
                self.OBPs_df.VOLUME,
                self.OBPs_df.TRADEPRICE,
                self.OBPs_df.OBPLOTNO,
                self.OBPs_df.DATETIMEMLLS)]

In [15]:
# obp_atts_2000ms = OBPlots2OBPlots_Attributes(OrderBookPlots2002_2000ms_df)

In [16]:
def obp_atts2order_atts_df(obp_atts):
    order_atts_dic = {}
    for SECCODE in obp_atts:
        for DATE in obp_atts[SECCODE]:
            for OBPLOTNO in obp_atts[SECCODE][DATE]:
                for NO in obp_atts[SECCODE][DATE][OBPLOTNO]:
                    order_atts_dic[(DATE, NO)] = {}
                    if (NO != 'SHAREBAL') & (NO != 'BPROFIT') & (NO != 'SPROFIT') & (NO != 'OBPMINTPRICE') & (NO != 'OBPMAXTPRICE'):
                        order_atts_dic[(DATE, NO)] = obp_atts[SECCODE][DATE][OBPLOTNO][NO]
                        order_atts_dic[(DATE, NO)]['NO'] = NO
                        order_atts_dic[(DATE, NO)]['OBPLOTNO'] = OBPLOTNO
                        order_atts_dic[(DATE, NO)]['DATE'] = DATE
                        order_atts_dic[(DATE, NO)]['SECCODE'] = SECCODE
                        order_atts_dic[(DATE, NO)]['SHAREBAL'] = obp_atts[SECCODE][DATE][OBPLOTNO]['SHAREBAL']
                        order_atts_dic[(DATE, NO)]['BPROFIT'] = obp_atts[SECCODE][DATE][OBPLOTNO]['BPROFIT']
                        order_atts_dic[(DATE, NO)]['SPROFIT'] = obp_atts[SECCODE][DATE][OBPLOTNO]['SPROFIT']
                        order_atts_dic[(DATE, NO)]['OBPMINTPRICE'] = obp_atts[SECCODE][DATE][OBPLOTNO]['OBPMINTPRICE']
                        order_atts_dic[(DATE, NO)]['OBPMAXTPRICE'] = obp_atts[SECCODE][DATE][OBPLOTNO]['OBPMAXTPRICE']

    order_atts_df = pd.DataFrame.from_dict(order_atts_dic, "index")
    order_atts_df.sort_values(by=['DATETIMEMLLS', 'NO'], inplace=True)
    order_atts_df.reset_index(inplace=True)
    return(order_atts_df)

In [17]:
# obp_atts_2000ms_df = obp_atts2order_atts_df(obp_atts_2000ms.obp_atts_dic)

In [18]:
# obp_atts_2002 = OBPlots2OBPlots_Attributes(OrderBookPlots2002_df)
# obp_atts_2002_df = obp_atts2order_atts_df(obp_atts_2002.obp_atts_dic)
# obp_atts_2002_df

In [19]:
OrderBookPlots2007_df

,Unnamed: 0,NO,SECCODE,BUYSELL,ORDERNO,ACTION,PRICE,VOLUME,TRADENO,TRADEPRICE,DATE,OBPLOTNO,DATETIMEMLLS
0,12,13,LKOH,S,13,1,2343.97,6250,<NA>,NaN,2007-10-08,0,2007-10-08 10:30:00.000
1,45,46,LKOH,S,46,1,2214.00,15,<NA>,NaN,2007-10-08,2,2007-10-08 10:30:00.000
2,50,51,LKOH,S,51,1,2214.00,15,<NA>,NaN,2007-10-09,0,2007-10-09 10:30:00.001
3,59,60,GMKN,S,60,1,6800.00,3,<NA>,NaN,2007-10-08,0,2007-10-08 10:30:00.001
4,67,68,LKOH,B,68,1,1990.00,50,<NA>,NaN,2007-10-09,2,2007-10-09 10:30:00.001
...,...,...,...,...,...,...,...,...,...,...,...,...,...
394477,976265,976266,GMKN,S,394561,2,6874.00,587,332874938,6874.0,2007-10-09,34722,2007-10-09 17:44:09.833
394478,976266,976267,GMKN,B,418489,2,6874.00,587,332874938,6874.0,2007-10-09,34722,2007-10-09 17:44:09.867
394479,976299,976300,GMKN,S,418499,2,6871.00,3,332874955,6872.0,2007-10-09,16374,2007-10-09 17:44:09.900
394480,976300,976301,GMKN,B,418050,2,6872.00,3,332874955,6872.0,2007-10-09,16374,2007-10-09 17:44:09.933
394481,976304,976305,GMKN,S,417953,0,6874.80,10,<NA>,NaN,2007-10-09,77978,2007-10-09 17:44:09.967

In [20]:
obp_atts_2007 = OBPlots2OBPlots_Attributes(OrderBookPlots2007_df)
print(len(obp_atts_2007.obp_atts_dic['LKOH']['2007-10-08']))
obp_atts_2007_df = obp_atts2order_atts_df(obp_atts_2007.obp_atts_dic)
obp_atts_2007_df

19721

,level_0,level_1,ATT,VAL,DATETIMEMLLS,NO,OBPLOTNO,DATE,SECCODE,SHAREBAL,BPROFIT,SPROFIT,OBPMINTPRICE,OBPMAXTPRICE
0,2007-10-08,13,SOVOL,14649812.50,2007-10-08 10:30:00.000,13,0,2007-10-08,LKOH,0,0.00,0.0,0,0.00
1,2007-10-08,46,SOVOL,33210.00,2007-10-08 10:30:00.000,46,2,2007-10-08,LKOH,-15,0.00,0.0,0,0.00
2,2007-10-08,60,SOVOL,20400.00,2007-10-08 10:30:00.001,60,0,2007-10-08,GMKN,-3,0.00,0.0,0,0.00
3,2007-10-08,74,BOVOL,99500.00,2007-10-08 10:30:00.002,74,4,2007-10-08,LKOH,50,0.00,0.0,0,0.00
4,2007-10-08,76,SOVOL,22000.00,2007-10-08 10:30:00.002,76,6,2007-10-08,LKOH,-10,0.00,0.0,0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394477,2007-10-09,981465,CBOVOL,2180150.00,2007-10-09 17:44:58.974,981465,57666,2007-10-09,LKOH,0,0.00,0.0,0,0.00
394478,2007-10-09,981472,CSOVOL,851050.31,2007-10-09 17:44:59.333,981472,59536,2007-10-09,LKOH,0,26253.48,0.0,0,2187.79
394479,2007-10-09,981474,CSOVOL,1313400.00,2007-10-09 17:44:59.667,981474,59133,2007-10-09,LKOH,0,0.00,0.0,0,0.00
394480,2007-10-09,981477,CSOVOL,2188880.00,2007-10-09 17:45:00.333,981477,59000,2007-10-09,LKOH,0,0.00,0.0,0,0.00
394481,2007-10-09,981481,CSOVOL,34405.00,2007-10-09 17:45:00.667,981481,69188,2007-10-09,GMKN,0,0.00,0.0,0,0.00

In [21]:
def obp_atts_df2cumsums(df, CBOVOLcs, CSOVOLcs, BOVOLcs, SOVOLcs, BTVOLcs, STVOLcs, grby = ['SECCODE', 'DATE']):
    # cumsums
    df[CBOVOLcs] = df[df.ATT == 'CBOVOL'].groupby(grby)['VAL'].cumsum()
    df[CSOVOLcs] = df[df.ATT == 'CSOVOL'].groupby(grby)['VAL'].cumsum()
    df[BOVOLcs] = df[df.ATT == 'BOVOL'].groupby(grby)['VAL'].cumsum()
    
#     if BOVOLcs == 'BOVOLobpcs':
#         print(df.head(20)[BOVOLcs])
#         input("Read")

    df[SOVOLcs] = df[df.ATT == 'SOVOL'].groupby(grby)['VAL'].cumsum()
    df[BTVOLcs] = df[df.ATT == 'BTVOL'].groupby(grby)['VAL'].cumsum()
    df[STVOLcs] = df[df.ATT == 'STVOL'].groupby(grby)['VAL'].cumsum()
    
    df[[CBOVOLcs,
       CSOVOLcs,
       BOVOLcs,
       SOVOLcs,
       BTVOLcs,
       STVOLcs]] = df[[CBOVOLcs,
                       CSOVOLcs,
                       BOVOLcs,
                       SOVOLcs,
                       BTVOLcs,
                       STVOLcs]].fillna(method="ffill")
    df[[CBOVOLcs,
       CSOVOLcs,
       BOVOLcs,
       SOVOLcs,
       BTVOLcs,
       STVOLcs]] = df[[CBOVOLcs,
                       CSOVOLcs,
                       BOVOLcs,
                       SOVOLcs,
                       BTVOLcs,
                       STVOLcs]].fillna(value = 0.0)
    return(df)

In [22]:
obp_atts_2007_df = obp_atts_df2cumsums(obp_atts_2007_df, 'CBOVOLtdcs', 'CSOVOLtdcs', 'BOVOLtdcs', 
                              'SOVOLtdcs', 'BTVOLtdcs', 'STVOLtdcs', grby = ['SECCODE', 'DATE'])
obp_atts_2007_df

,level_0,level_1,ATT,VAL,DATETIMEMLLS,NO,OBPLOTNO,DATE,SECCODE,SHAREBAL,BPROFIT,SPROFIT,OBPMINTPRICE,OBPMAXTPRICE,CBOVOLtdcs,CSOVOLtdcs,BOVOLtdcs,SOVOLtdcs,BTVOLtdcs,STVOLtdcs
0,2007-10-08,13,SOVOL,14649812.50,2007-10-08 10:30:00.000,13,0,2007-10-08,LKOH,0,0.00,0.0,0,0.00,0.000000e+00,0.000000e+00,0.000000e+00,1.464981e+07,0.000000e+00,0.000000e+00
1,2007-10-08,46,SOVOL,33210.00,2007-10-08 10:30:00.000,46,2,2007-10-08,LKOH,-15,0.00,0.0,0,0.00,0.000000e+00,0.000000e+00,0.000000e+00,1.468302e+07,0.000000e+00,0.000000e+00
2,2007-10-08,60,SOVOL,20400.00,2007-10-08 10:30:00.001,60,0,2007-10-08,GMKN,-3,0.00,0.0,0,0.00,0.000000e+00,0.000000e+00,0.000000e+00,2.040000e+04,0.000000e+00,0.000000e+00
3,2007-10-08,74,BOVOL,99500.00,2007-10-08 10:30:00.002,74,4,2007-10-08,LKOH,50,0.00,0.0,0,0.00,0.000000e+00,0.000000e+00,9.950000e+04,2.040000e+04,0.000000e+00,0.000000e+00
4,2007-10-08,76,SOVOL,22000.00,2007-10-08 10:30:00.002,76,6,2007-10-08,LKOH,-10,0.00,0.0,0,0.00,0.000000e+00,0.000000e+00,9.950000e+04,1.470502e+07,0.000000e+00,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394477,2007-10-09,981465,CBOVOL,2180150.00,2007-10-09 17:44:58.974,981465,57666,2007-10-09,LKOH,0,0.00,0.0,0,0.00,5.860149e+09,8.839107e+09,2.114808e+10,1.792051e+10,9.006435e+09,9.006435e+09
394478,2007-10-09,981472,CSOVOL,851050.31,2007-10-09 17:44:59.333,981472,59536,2007-10-09,LKOH,0,26253.48,0.0,0,2187.79,5.860149e+09,4.896327e+09,2.114808e+10,1.792051e+10,9.006435e+09,9.006435e+09
394479,2007-10-09,981474,CSOVOL,1313400.00,2007-10-09 17:44:59.667,981474,59133,2007-10-09,LKOH,0,0.00,0.0,0,0.00,5.860149e+09,4.897640e+09,2.114808e+10,1.792051e+10,9.006435e+09,9.006435e+09
394480,2007-10-09,981477,CSOVOL,2188880.00,2007-10-09 17:45:00.333,981477,59000,2007-10-09,LKOH,0,0.00,0.0,0,0.00,5.860149e+09,4.899829e+09,2.114808e+10,1.792051e+10,9.006435e+09,9.006435e+09
394481,2007-10-09,981481,CSOVOL,34405.00,2007-10-09 17:45:00.667,981481,69188,2007-10-09,GMKN,0,0.00,0.0,0,0.00,5.860149e+09,8.839141e+09,2.114808e+10,1.792051e+10,9.006435e+09,9.006435e+09

OrderBookPlots2007_df[(OrderBookPlots2007_df.SECCODE.isin(['GMKN']))
                                               & (OrderBookPlots2007_df.DATE.isin(['2007-10-08']))]

temp_df = pd.DataFrame({'A':[1, 1, 1, 1, 2, 2, 2, 2], 'B':[4, 4, 4, 5, 5, 5, 6, 6], 
                        'C':[7, 7, 8, 8, 9, 9, 10, 10], 'D':[11, 12, 13, 14, 15, 16, 17, 18]})
temp_df

ptemp_df.groupby(['A', 'B', 'C']).D.cumsum()

In [23]:
obp_atts_2007_df = obp_atts_df2cumsums(obp_atts_2007_df, 'CBOVOLobpcs', 'CSOVOLobpcs', 'BOVOLobpcs', 
                              'SOVOLobpcs', 'BTVOLobpcs', 'STVOLobpcs', grby = ['SECCODE', 'DATE', 'OBPLOTNO'])
obp_atts_2007_df

,level_0,level_1,ATT,VAL,DATETIMEMLLS,NO,OBPLOTNO,DATE,SECCODE,SHAREBAL,...,BOVOLtdcs,SOVOLtdcs,BTVOLtdcs,STVOLtdcs,CBOVOLobpcs,CSOVOLobpcs,BOVOLobpcs,SOVOLobpcs,BTVOLobpcs,STVOLobpcs
0,2007-10-08,13,SOVOL,14649812.50,2007-10-08 10:30:00.000,13,0,2007-10-08,LKOH,0,...,0.000000e+00,1.464981e+07,0.000000e+00,0.000000e+00,0.0,0.00,0.0,14649812.5,0.0,0.0
1,2007-10-08,46,SOVOL,33210.00,2007-10-08 10:30:00.000,46,2,2007-10-08,LKOH,-15,...,0.000000e+00,1.468302e+07,0.000000e+00,0.000000e+00,0.0,0.00,0.0,33210.0,0.0,0.0
2,2007-10-08,60,SOVOL,20400.00,2007-10-08 10:30:00.001,60,0,2007-10-08,GMKN,-3,...,0.000000e+00,2.040000e+04,0.000000e+00,0.000000e+00,0.0,0.00,0.0,20400.0,0.0,0.0
3,2007-10-08,74,BOVOL,99500.00,2007-10-08 10:30:00.002,74,4,2007-10-08,LKOH,50,...,9.950000e+04,2.040000e+04,0.000000e+00,0.000000e+00,0.0,0.00,99500.0,20400.0,0.0,0.0
4,2007-10-08,76,SOVOL,22000.00,2007-10-08 10:30:00.002,76,6,2007-10-08,LKOH,-10,...,9.950000e+04,1.470502e+07,0.000000e+00,0.000000e+00,0.0,0.00,99500.0,22000.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394477,2007-10-09,981465,CBOVOL,2180150.00,2007-10-09 17:44:58.974,981465,57666,2007-10-09,LKOH,0,...,2.114808e+10,1.792051e+10,9.006435e+09,9.006435e+09,2180150.0,3438500.00,6948590.0,1179920.0,1180923.2,1180923.2
394478,2007-10-09,981472,CSOVOL,851050.31,2007-10-09 17:44:59.333,981472,59536,2007-10-09,LKOH,0,...,2.114808e+10,1.792051e+10,9.006435e+09,9.006435e+09,2180150.0,851050.31,6948590.0,1179920.0,1180923.2,1180923.2
394479,2007-10-09,981474,CSOVOL,1313400.00,2007-10-09 17:44:59.667,981474,59133,2007-10-09,LKOH,0,...,2.114808e+10,1.792051e+10,9.006435e+09,9.006435e+09,2180150.0,1313400.00,6948590.0,1179920.0,1180923.2,1180923.2
394480,2007-10-09,981477,CSOVOL,2188880.00,2007-10-09 17:45:00.333,981477,59000,2007-10-09,LKOH,0,...,2.114808e+10,1.792051e+10,9.006435e+09,9.006435e+09,2180150.0,2188880.00,6948590.0,1179920.0,1180923.2,1180923.2
394481,2007-10-09,981481,CSOVOL,34405.00,2007-10-09 17:45:00.667,981481,69188,2007-10-09,GMKN,0,...,2.114808e+10,1.792051e+10,9.006435e+09,9.006435e+09,2180150.0,34405.00,6948590.0,1179920.0,1180923.2,1180923.2

In [24]:
obp_atts_2007_df.to_csv('./resources/for_pres/raw_3_obp_dynatts_df.csv')

In [25]:
def obp_atts2obp_atts_df(order_atts_df):
    def buy_sell_obp(gr):
        buy_minus_sell_vol = gr[gr.ATT == 'BOVOL']['VAL'].sum() - gr[gr.ATT == 'SOVOL']['VAL'].sum()
        if buy_minus_sell_vol > 0:
            return('B')
        elif buy_minus_sell_vol < 0:
            return('S')
        else:
            return('N')
    def trades_notrades(gr):
        trades_count = gr[gr.ATT == 'BTVOL'].size + gr[gr.ATT == 'STVOL'].size
        if trades_count != 0:
            return('T')
        else:
            return('N')
    def obp_buysellyield(gr):
        if trades_notrades(gr) == 'T':
            b_obp_yield = gr.BPROFIT * 100 / gr[gr.ATT == 'BTVOL']['VAL'].sum()
            s_obp_yield = gr.SPROFIT * 100 / gr[gr.ATT == 'STVOL']['VAL'].sum()
            if buy_sell_obp(gr) == 'B':
                return(list(b_obp_yield - s_obp_yield)[0])
            elif buy_sell_obp(gr) == 'S':
                return(list(s_obp_yield - b_obp_yield)[0])
    def obp_td_vol_ratio(gr):
#         print(len(gr.BOVOLobpcs))
#         print(gr.BOVOLobpcs.sum())
#         print(gr.BOVOLobpcs)
#         input("Read")
        volratio = ((gr.BOVOLobpcs.sum() 
                    - gr.CBOVOLobpcs.sum() 
                    - gr.BTVOLobpcs.sum() 
                    - gr.BPROFIT.sum() 
                    + gr.SOVOLobpcs.sum() 
                    - gr.CSOVOLobpcs.sum() 
                    - gr.STVOLobpcs.sum() 
                    - gr.SPROFIT.sum()) 
                    / (gr.BOVOLtdcs.sum() - 
                       gr.CBOVOLtdcs.sum() - 
                       gr.BTVOLtdcs.sum() - 
                       gr.BPROFIT.sum() + 
                       gr.SOVOLtdcs.sum() - 
                       gr.CSOVOLtdcs.sum() - 
                       gr.STVOLtdcs.sum() - 
                       gr.SPROFIT.sum()))
        return(abs(volratio))
    def minmax_dur_tdvol_ratio(gr):
#         delta = max(gr.DATETIMEMLLS) - min(gr.DATETIMEMLLS)
#         delta = delta.total_seconds()
#         print("=============")
#         print(delta)
        minmaxratio = gr.OBPMAXTPRICE - gr.OBPMINTPRICE
        return(abs(list(minmaxratio)[0]))
        
    obp_td_vol_ratio_ser = order_atts_df.groupby(['SECCODE','DATE',  'OBPLOTNO']).apply(lambda gr: obp_td_vol_ratio(gr))
    buy_sell_obp_ser = order_atts_df.groupby(['SECCODE', 'DATE', 'OBPLOTNO']).apply(lambda gr: buy_sell_obp(gr))
    trades_notrades_ser = order_atts_df.groupby(['SECCODE', 'DATE', 'OBPLOTNO']).apply(lambda gr: trades_notrades(gr))
    obp_yield_ser = order_atts_df.groupby(['SECCODE', 'DATE', 'OBPLOTNO']).apply(lambda gr: obp_buysellyield(gr))
#     obp_td_vol_ratio_ser = order_atts_df.groupby(['SECCODE','DATE',  'OBPLOTNO']).apply(lambda gr: obp_td_vol_ratio(gr))
    minmax_dur_tdvol_ratio_ser = order_atts_df.groupby(['SECCODE', 'DATE', 'OBPLOTNO']).apply(lambda gr: minmax_dur_tdvol_ratio(gr))
    
    df = pd.DataFrame.from_dict({'BUYSELLOBP': buy_sell_obp_ser, 'TRADESNOTRADES': trades_notrades_ser,
                                'BUYSELLYIELD': obp_yield_ser, 'OBPTDVOLRATIO': obp_td_vol_ratio_ser,
                                'MINMAXRATIO': minmax_dur_tdvol_ratio_ser})
    df.reset_index(inplace=True)
    return(df)

In [ ]:
obp_atts_by_obp_2007_df = obp_atts2obp_atts_df(obp_atts_2007_df)
obp_atts_by_obp_2007_df

In [ ]:
obp_atts_by_obp_2007_df = obp_atts_by_obp_2007_df[obp_atts_by_obp_2007_df.TRADESNOTRADES != 'N']
obp_atts_by_obp_2007_df

In [ ]:
obp_atts_by_obp_2007_df = obp_atts_by_obp_2007_df.dropna()
obp_atts_by_obp_2007_df

In [ ]:
obp_atts_by_obp_2007_LKOH_08_df = obp_atts_by_obp_2007_df[(obp_atts_by_obp_2007_df.SECCODE == 'LKOH') & 
                                                          (obp_atts_by_obp_2007_df.DATE == '2007-10-08')]
obp_atts_by_obp_2007_LKOH_08_df

In [ ]:
plt.hist(obp_atts_by_obp_2007_LKOH_08_df.BUYSELLYIELD)

In [ ]:
plt.hist(obp_atts_by_obp_2007_LKOH_08_df.OBPTDVOLRATIO)

In [ ]:
plt.hist(obp_atts_by_obp_2007_LKOH_08_df.MINMAXRATIO)

In [ ]:
# obp_atts_by_obp_2007_df.to_csv('./resources/obp_atts_by_obp_2007_df.csv')
# obp_atts_by_obp_2007_df.to_csv('./resources/for_pres/raw_4_obp_atts_by_obp_df.csv')