In [1]:
import pandas as pd
import datetime
import matplotlib.pyplot as plt

In [2]:
# OrderBookPlots2002_df = pd.read_csv('./resources/2002.csv')
# OrderBookPlots2002_df = OrderBookPlots2002_df[OrderBookPlots2002_df.DATE.isin(['2002-08-12', '2002-08-13'])]
# OrderBookPlots2002_df

In [3]:
# OrderBookPlots2002_df['TRADENO'] = OrderBookPlots2002_df['TRADENO'].astype(pd.Int64Dtype())

In [4]:
# OrderBookPlots2002_df.sort_values(by=['NO'], inplace=True)

In [5]:
# OrderBookPlots2002_df[(OrderBookPlots2002_df.PRICE != OrderBookPlots2002_df.TRADEPRICE) &
#                  pd.notnull(OrderBookPlots2002_df.TRADEPRICE)]

In [6]:
OrderBookPlots2007_df = pd.read_csv('./resources/LKOH_SBER_GMKN_2007_10.csv')
# OrderBookPlots2007_df = OrderBookPlots2007_df[((OrderBookPlots2007_df.SECCODE == 'LKOH') |
#                                                (OrderBookPlots2007_df.SECCODE == 'SBER03')) & 
#                                               ((OrderBookPlots2007_df.DATE == '2007-10-08') |
#                                                (OrderBookPlots2007_df.DATE == '2007-10-09'))]
OrderBookPlots2007_df = OrderBookPlots2007_df[(OrderBookPlots2007_df.SECCODE == 'LKOH') & 
                                              (OrderBookPlots2007_df.DATE == '2007-10-08')]
# OrderBookPlots2007_df = OrderBookPlots2007_df[OrderBookPlots2007_df.DATE.isin(['2007-10-01', '2007-10-02'])]
OrderBookPlots2007_df

,Unnamed: 0,NO,SECCODE,BUYSELL,TIME,ORDERNO,ACTION,PRICE,VOLUME,TRADENO,TRADEPRICE,DATE,OBPLOTNO
1541751,12,13,LKOH,S,103000000,13,1,2343.97,6250,NaN,NaN,2007-10-08,0
1541762,45,46,LKOH,S,103000000,46,1,2214.00,15,NaN,NaN,2007-10-08,2
1541773,73,74,LKOH,B,103000000,74,1,1990.00,50,NaN,NaN,2007-10-08,4
1541774,75,76,LKOH,S,103000000,76,1,2200.00,10,NaN,NaN,2007-10-08,6
1541775,76,77,LKOH,B,103000000,77,1,2110.00,6,NaN,NaN,2007-10-08,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1834837,910327,910328,LKOH,S,174458000,394790,2,2176.02,1,332355821.0,2176.02,2007-10-08,79201
1834838,910328,910329,LKOH,S,174458000,395200,2,2176.70,39,332355822.0,2176.70,2007-10-08,79201
1834839,910329,910330,LKOH,B,174458000,395498,2,0.00,39,332355822.0,2176.70,2007-10-08,79201
1834841,910336,910337,LKOH,S,174459000,390647,0,2177.44,10,NaN,NaN,2007-10-08,78407
1834842,910340,910341,LKOH,B,174500000,368422,0,2167.01,200,NaN,NaN,2007-10-08,74637

In [7]:
OrderBookPlots2007_df['TRADENO'] = OrderBookPlots2007_df['TRADENO'].astype(pd.Int64Dtype())

In [8]:
OrderBookPlots2007_df.sort_values(by=['NO'], inplace=True)

In [9]:
OrderBookPlots2007_df[(OrderBookPlots2007_df.PRICE != OrderBookPlots2007_df.TRADEPRICE) &
                 pd.notnull(OrderBookPlots2007_df.TRADEPRICE)]

,Unnamed: 0,NO,SECCODE,BUYSELL,TIME,ORDERNO,ACTION,PRICE,VOLUME,TRADENO,TRADEPRICE,DATE,OBPLOTNO
1544302,17145,17146,LKOH,S,103001000,17122,2,2179.99,40,332168465,2180.00,2007-10-08,1399
1544318,17169,17170,LKOH,S,103001000,17071,2,2178.90,10,332168477,2180.00,2007-10-08,1399
1544321,17192,17193,LKOH,S,103001000,17081,2,2179.99,5,332168488,2180.00,2007-10-08,1399
1544324,17213,17214,LKOH,B,103001000,17130,2,0.00,50,332168499,2181.99,2007-10-08,129
1544326,17215,17216,LKOH,B,103001000,17053,2,2200.00,3,332168500,2181.99,2007-10-08,129
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1834830,910304,910305,LKOH,S,174458000,395515,2,0.00,1,332355810,2175.60,2007-10-08,79324
1834832,910306,910307,LKOH,S,174458000,395515,2,0.00,84,332355811,2175.50,2007-10-08,79324
1834835,910309,910310,LKOH,S,174458000,395496,2,0.00,10,332355812,2175.50,2007-10-08,79324
1834836,910326,910327,LKOH,B,174458000,395498,2,0.00,1,332355821,2176.02,2007-10-08,79201
1834839,910329,910330,LKOH,B,174458000,395498,2,0.00,39,332355822,2176.70,2007-10-08,79201

In [10]:
# OrderBookPlots2002_2000ms_df = OrderBookPlots2002_df[(OrderBookPlots2002_df.TIME >= 103002000) & (OrderBookPlots2002_df.TIME <= 103003000)]
# OrderBookPlots2002_2000ms_df

In [11]:
# OrderBookPlots2002_2000ms_df = OrderBookPlots2002_df[(OrderBookPlots2002_df.TIME >= 103002000) & (OrderBookPlots2002_df.TIME <= 103003000)]
def form_datetimemlls(df):
    scnd_size_df = pd.DataFrame(df.groupby('TIME').size())
    scnd_size_df.reset_index(inplace=True)
    scnd_size_df = scnd_size_df.rename(columns = {0:'SCNDSIZE'})
    df = df.merge(scnd_size_df, on='TIME')
    df['SEC_IND'] = df.groupby(['TIME']).cumcount()
    df['MILLISS'] = round(df['SEC_IND'] / df['SCNDSIZE'] * 1000)
    df['MILLISS'] = df['MILLISS'].astype(int)
    df.drop(['SCNDSIZE', 'SEC_IND'], axis=1, inplace=True)
    df['DATETIME'] = df.apply(lambda row: datetime.datetime.strptime(row.DATE, '%Y-%m-%d'), axis=1)
    df['DATETIMEMLLS'] = df.apply(lambda row: datetime.datetime(row.DATETIME.year,
                                                               row.DATETIME.month,
                                                               row.DATETIME.day,
                                                               int(row.TIME // 1e7),
                                                               int((row.TIME // 1e5) % 100),
                                                               int((row.TIME // 1e3) % 100)),
                                  axis=1)
    df['DATETIMEMLLS'] = df.apply(lambda row: row.DATETIMEMLLS +
                                 datetime.timedelta(milliseconds=row.MILLISS))
    df.drop(['DATETIME', 'MILLISS', 'TIME'], axis=1, inplace=True)
    return(df)
# OrderBookPlots2002_2000ms_df = form_datetimemlls(OrderBookPlots2002_2000ms_df)
# OrderBookPlots2002_2000ms_df

In [12]:
# OrderBookPlots2002_df = form_datetimemlls(OrderBookPlots2002_df)

In [13]:
OrderBookPlots2007_df = form_datetimemlls(OrderBookPlots2007_df)
OrderBookPlots2007_df

AttributeError: 'Series' object has no attribute 'DATETIMEMLLS'

In [ ]:
class OBPlots2OBPlots_Attributes:
    def __init__(self, OBPs_df):
        self.OBPs_df = OBPs_df
        self.secs = pd.unique(self.OBPs_df.SECCODE)
        self.dates = pd.unique(self.OBPs_df.DATE)
#         print(self.dates)
        self.obplotnos = pd.unique(self.OBPs_df.OBPLOTNO)
        self.obp_atts_dic = {
            sec:datedic for (sec, datedic) in zip(
                self.secs,
                [{
                    date:obps_attsdic for (date, obps_attsdic) in zip(
                        self.dates, 
                        [{} for i in range(len(self.dates))]
                    )
                } for i in range(len(self.secs))]
            )
        }
        self.iterate_ob_rows()
    
    # Accordin to specs ACTION 0 shows balance of order, not cancelled volune of the order, IT'S WRONG
    # Actually, it shows cancelled volune of the order
    def ob2curatt(self, SECCODE, DATE, OBPLOTNO, BUYSELL, ACTION, PRICE, VOLUME, TRADEPRICE):
        if (BUYSELL == 'B') & (ACTION == 0):
            CBOVOL = PRICE * VOLUME
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['SHAREBAL'] -= VOLUME
            return({'ATT': 'CBOVOL', 'VAL': CBOVOL})
        elif (BUYSELL == 'S') & (ACTION == 0):
            CSOVOL = PRICE * VOLUME
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['SHAREBAL'] += VOLUME
            return({'ATT': 'CSOVOL', 'VAL': CSOVOL})
        elif (BUYSELL == 'B') & (ACTION == 1):
            BOVOL = PRICE * VOLUME
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['SHAREBAL'] += VOLUME
            return({'ATT': 'BOVOL', 'VAL': BOVOL})
        elif (BUYSELL == 'S') & (ACTION == 1):
            SOVOL = PRICE * VOLUME
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['SHAREBAL'] -= VOLUME
            return({'ATT': 'SOVOL', 'VAL': SOVOL})
        elif (BUYSELL == 'B') & (ACTION == 2):
            BTVOL = TRADEPRICE * VOLUME
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['SHAREBAL'] -= VOLUME
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['BPROFIT'] += (TRADEPRICE - PRICE) * VOLUME
            if TRADEPRICE < self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMINTPRICE']:
                self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMINTPRICE'] = TRADEPRICE
            elif TRADEPRICE > self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMAXTPRICE']:
                self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMAXTPRICE'] = TRADEPRICE
            return({'ATT': 'BTVOL', 'VAL': BTVOL})
        elif (BUYSELL == 'S') & (ACTION == 2):
            STVOL = TRADEPRICE * VOLUME
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['SHAREBAL'] += VOLUME
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['SPROFIT'] += (PRICE - TRADEPRICE) * VOLUME
            if TRADEPRICE < self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMINTPRICE']:
                self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMINTPRICE'] = TRADEPRICE
            elif TRADEPRICE > self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMAXTPRICE']:
                self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMAXTPRICE'] = TRADEPRICE
            return({'ATT': 'STVOL', 'VAL': STVOL})
        
    def ob_row2obp_atts(self, SECCODE, DATE, NO, BUYSELL, ORDERNO,
                        ACTION, PRICE, VOLUME, TRADEPRICE, OBPLOTNO,
                        DATETIMEMLLS):
        if OBPLOTNO not in self.obp_atts_dic[SECCODE][DATE]:
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO] = {}
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['SHAREBAL'] = 0
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['BPROFIT'] = 0
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['SPROFIT'] = 0
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMINTPRICE'] = 0
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMAXTPRICE'] = 0
            
        self.obp_atts_dic[SECCODE][DATE][OBPLOTNO][NO] = self.ob2curatt(SECCODE, DATE, OBPLOTNO, BUYSELL, ACTION, 
                                                                    PRICE, VOLUME, TRADEPRICE)
        self.obp_atts_dic[SECCODE][DATE][OBPLOTNO][NO]['DATETIMEMLLS'] = DATETIMEMLLS
#         print(SECCODE)
#         print(self.obp_atts[SECCODE])
        
    def iterate_ob_rows(self):
        [self.ob_row2obp_atts(SECCODE, DATE, NO, BUYSELL, ORDERNO, 
                              ACTION, PRICE, VOLUME, TRADEPRICE, OBPLOTNO,
                              DATETIMEMLLS)
        for (SECCODE, DATE, NO, BUYSELL, ORDERNO,
             ACTION, PRICE, VOLUME, TRADEPRICE, OBPLOTNO,
             DATETIMEMLLS)
         in zip(self.OBPs_df.SECCODE,
                self.OBPs_df.DATE,
                self.OBPs_df.NO,
                self.OBPs_df.BUYSELL,
                self.OBPs_df.ORDERNO,
                self.OBPs_df.ACTION,
                self.OBPs_df.PRICE,
                self.OBPs_df.VOLUME,
                self.OBPs_df.TRADEPRICE,
                self.OBPs_df.OBPLOTNO,
                self.OBPs_df.DATETIMEMLLS)]

In [ ]:
# obp_atts_2000ms = OBPlots2OBPlots_Attributes(OrderBookPlots2002_2000ms_df)

In [ ]:
def obp_atts2order_atts_df(obp_atts):
    order_atts_dic = {}
    for SECCODE in obp_atts:
        for DATE in obp_atts[SECCODE]:
            for OBPLOTNO in obp_atts[SECCODE][DATE]:
                for NO in obp_atts[SECCODE][DATE][OBPLOTNO]:
                    order_atts_dic[(DATE, NO)] = {}
                    if (NO != 'SHAREBAL') & (NO != 'BPROFIT') & (NO != 'SPROFIT') & (NO != 'OBPMINTPRICE') & (NO != 'OBPMAXTPRICE'):
                        order_atts_dic[(DATE, NO)] = obp_atts[SECCODE][DATE][OBPLOTNO][NO]
                        order_atts_dic[(DATE, NO)]['NO'] = NO
                        order_atts_dic[(DATE, NO)]['OBPLOTNO'] = OBPLOTNO
                        order_atts_dic[(DATE, NO)]['DATE'] = DATE
                        order_atts_dic[(DATE, NO)]['SECCODE'] = SECCODE
                        order_atts_dic[(DATE, NO)]['SHAREBAL'] = obp_atts[SECCODE][DATE][OBPLOTNO]['SHAREBAL']
                        order_atts_dic[(DATE, NO)]['BPROFIT'] = obp_atts[SECCODE][DATE][OBPLOTNO]['BPROFIT']
                        order_atts_dic[(DATE, NO)]['SPROFIT'] = obp_atts[SECCODE][DATE][OBPLOTNO]['SPROFIT']
                        order_atts_dic[(DATE, NO)]['OBPMINTPRICE'] = obp_atts[SECCODE][DATE][OBPLOTNO]['OBPMINTPRICE']
                        order_atts_dic[(DATE, NO)]['OBPMAXTPRICE'] = obp_atts[SECCODE][DATE][OBPLOTNO]['OBPMAXTPRICE']

    order_atts_df = pd.DataFrame.from_dict(order_atts_dic, "index")
    order_atts_df.sort_values(by=['DATETIMEMLLS', 'NO'], inplace=True)
    return(order_atts_df)

In [ ]:
# obp_atts_2000ms_df = obp_atts2order_atts_df(obp_atts_2000ms.obp_atts_dic)

In [ ]:
# obp_atts_2002 = OBPlots2OBPlots_Attributes(OrderBookPlots2002_df)
# obp_atts_2002_df = obp_atts2order_atts_df(obp_atts_2002.obp_atts_dic)
# obp_atts_2002_df

In [ ]:
obp_atts_2007 = OBPlots2OBPlots_Attributes(OrderBookPlots2007_df)
print(len(obp_atts_2007.obp_atts_dic['LKOH']['2007-10-08']))
obp_atts_2007_df = obp_atts2order_atts_df(obp_atts_2007.obp_atts_dic)
obp_atts_2007_df

In [ ]:
def obp_atts_df2cumsums(df):
    def obp_atts_df2cumsums_gr(grdf, CBOVOLcs, CSOVOLcs, BOVOLcs, SOVOLcs, BTVOLcs, STVOLcs, grby = ['SECCODE', 'DATE']):
        # cumsums
#         print("==========")
#         print(type(grdf))
#         print(list(grdf.columns))
        
        grdf[CBOVOLcs] = grdf[grdf.ATT == 'CBOVOL'].groupby(grby)['VAL'].cumsum()
        grdf[CSOVOLcs] = grdf[grdf.ATT == 'CSOVOL'].groupby(grby)['VAL'].cumsum()
        grdf[BOVOLcs] = grdf[grdf.ATT == 'BOVOL'].groupby(grby)['VAL'].cumsum()
        grdf[SOVOLcs] = grdf[grdf.ATT == 'SOVOL'].groupby(grby)['VAL'].cumsum()
        grdf[BTVOLcs] = grdf[grdf.ATT == 'BTVOL'].groupby(grby)['VAL'].cumsum()
        grdf[STVOLcs] = grdf[grdf.ATT == 'STVOL'].groupby(grby)['VAL'].cumsum()
        
#         print(type(grdf))
#         print(list(grdf.columns))
        
        grdf[[CBOVOLcs,
          CSOVOLcs,
          BOVOLcs,
          SOVOLcs,
          BTVOLcs,
          STVOLcs]] = grdf[[CBOVOLcs,
                          CSOVOLcs,
                          BOVOLcs,
                          SOVOLcs,
                          BTVOLcs,
                          STVOLcs]].fillna(method="ffill")
        grdf[[CBOVOLcs,
          CSOVOLcs,
          BOVOLcs,
          SOVOLcs,
          BTVOLcs,
          STVOLcs]] = grdf[[CBOVOLcs,
                          CSOVOLcs,
                          BOVOLcs,
                          SOVOLcs,
                          BTVOLcs,
                          STVOLcs]].fillna(value = 0.0)
        return(grdf)
    gb = df.groupby(['SECCODE', 'DATE'])
    new_df = pd.DataFrame()
    for seccode_date, grdf in gb:
        grdf1 = obp_atts_df2cumsums_gr(grdf, 'CBOVOLtdcs', 'CSOVOLtdcs', 'BOVOLtdcs',
                                'SOVOLtdcs', 'BTVOLtdcs', 'STVOLtdcs', grby = ['SECCODE', 'DATE'])
        grdf1 = obp_atts_df2cumsums_gr(grdf1, 'CBOVOLobpcs', 'CSOVOLobpcs', 'BOVOLobpcs',
                                'SOVOLobpcs', 'BTVOLobpcs', 'STVOLobpcs', grby = ['SECCODE', 'DATE', 'OBPLOTNO'])
        new_df = pd.concat([new_df,grdf1])
    return(new_df)

In [ ]:
obp_atts_2007_df = obp_atts_df2cumsums(obp_atts_2007_df)
obp_atts_2007_df

In [ ]:
def obp_atts2obp_atts_df(order_atts_df):
    def buy_sell_obp(gr):
        buy_minus_sell_vol = gr[gr.ATT == 'BOVOL']['VAL'].sum() - gr[gr.ATT == 'SOVOL']['VAL'].sum()
        if buy_minus_sell_vol > 0:
            return('B')
        elif buy_minus_sell_vol < 0:
            return('S')
        else:
            return('N')
    def trades_notrades(gr):
        trades_count = gr[gr.ATT == 'BTVOL'].size + gr[gr.ATT == 'STVOL'].size
        if trades_count != 0:
            return('T')
        else:
            return('N')
    def obp_buysellyield(gr):
        if trades_notrades(gr) == 'T':
            b_obp_yield = gr.BPROFIT * 100 / gr[gr.ATT == 'BTVOL']['VAL'].sum()
            s_obp_yield = gr.SPROFIT * 100 / gr[gr.ATT == 'STVOL']['VAL'].sum()
            if buy_sell_obp(gr) == 'B':
                return(list(b_obp_yield - s_obp_yield)[0])
            elif buy_sell_obp(gr) == 'S':
                return(list(s_obp_yield - b_obp_yield)[0])
    def obp_td_vol_ratio(gr):
        volratio = (gr.BOVOLobpcs.sum() - gr.CBOVOLobpcs.sum() - gr.BTVOLobpcs.sum() - gr.BPROFIT.sum() +
                   gr.SOVOLobpcs.sum() - gr.CSOVOLobpcs.sum() - gr.STVOLobpcs.sum() - gr.SPROFIT.sum()) / (gr.BOVOLtdcs.sum() - gr.CBOVOLtdcs.sum() - gr.BTVOLtdcs.sum() - gr.BPROFIT.sum() +
                   gr.SOVOLtdcs.sum() - gr.CSOVOLtdcs.sum() - gr.STVOLtdcs.sum() - gr.SPROFIT.sum())
        return(abs(volratio))
    def minmax_dur_tdvol_ratio(gr):
#         delta = max(gr.DATETIMEMLLS) - min(gr.DATETIMEMLLS)
#         delta = delta.total_seconds()
#         print("=============")
#         print(delta)
        minmaxratio = gr.OBPMAXTPRICE - gr.OBPMINTPRICE
        return(abs(list(minmaxratio)[0]))
        
    buy_sell_obp_ser = order_atts_df.groupby(['SECCODE', 'DATE', 'OBPLOTNO']).apply(lambda gr: buy_sell_obp(gr))
    trades_notrades_ser = order_atts_df.groupby(['SECCODE', 'DATE', 'OBPLOTNO']).apply(lambda gr: trades_notrades(gr))
    obp_yield_ser = order_atts_df.groupby(['SECCODE', 'DATE', 'OBPLOTNO']).apply(lambda gr: obp_buysellyield(gr))
    obp_td_vol_ratio_ser = order_atts_df.groupby(['SECCODE','DATE',  'OBPLOTNO']).apply(lambda gr: obp_td_vol_ratio(gr))
    minmax_dur_tdvol_ratio_ser = order_atts_df.groupby(['SECCODE', 'DATE', 'OBPLOTNO']).apply(lambda gr: minmax_dur_tdvol_ratio(gr))
    
    df = pd.DataFrame.from_dict({'BUYSELLOBP': buy_sell_obp_ser, 'TRADESNOTRADES': trades_notrades_ser,
                                'BUYSELLYIELD': obp_yield_ser, 'OBPTDVOLRATIO': obp_td_vol_ratio_ser,
                                'MINMAXRATIO': minmax_dur_tdvol_ratio_ser})
    df.reset_index(inplace=True)
    return(df)

In [ ]:
obp_atts_by_obp_2007_df = obp_atts2obp_atts_df(obp_atts_2007_df)
obp_atts_by_obp_2007_df

In [ ]:
obp_atts_by_obp_2007_df = obp_atts_by_obp_2007_df[obp_atts_by_obp_2007_df.TRADESNOTRADES != 'N']
obp_atts_by_obp_2007_df

In [ ]:
obp_atts_by_obp_2007_df = obp_atts_by_obp_2007_df.dropna()
obp_atts_by_obp_2007_df

In [ ]:
plt.hist(obp_atts_by_obp_2007_df[(obp_atts_by_obp_2007_df.SECCODE == 'LKOH') & 
                                 (obp_atts_by_obp_2007_df.DATE == "2007-10-08")].BUYSELLYIELD)

In [ ]:
print(min(obp_atts_by_obp_2007_df.OBPTDVOLRATIO))
print(max(obp_atts_by_obp_2007_df.OBPTDVOLRATIO))
obp_atts_by_obp_2007_df.OBPTDVOLRATIO

In [ ]:
plt.hist(obp_atts_by_obp_2007_df[(obp_atts_by_obp_2007_df.SECCODE == 'LKOH') & 
                                 (obp_atts_by_obp_2007_df.DATE == "2007-10-08")].OBPTDVOLRATIO)

In [ ]:
plt.hist(obp_atts_by_obp_2007_df[(obp_atts_by_obp_2007_df.SECCODE == 'LKOH') & 
                                 (obp_atts_by_obp_2007_df.DATE == "2007-10-08")].MINMAXRATIO)

In [ ]:
obp_atts_by_obp_2007_df.to_csv('./resources/obp_atts_by_obp_2007_df.csv')