In [1]:
import os
import pandas as pd
import regex as re

In [7]:
# Inspiration: https://pandasninja.com/2019/04/how-to-read-lots-of-csv-files-easily-into-pandas/
class ReadMultLogFiles:
    def __init__(self, path_to_log_files, fname_year):
        self.path_to_log_files = path_to_log_files
        self.log_files = os.listdir(path_to_log_files)
        self.fname_re = re.compile('^\w+' + str(fname_year) + '.+\.txt$')
        self.match_fnames = []
        self.log_df = pd.DataFrame()
        self.load_files()
        
    def read_csv_fname2datecol(self, fname):
        fnamedate_re = re.compile('^(\w+)(\d{4})(\d{2})(\d{2})')
        date_match = fnamedate_re.match(fname)
        #date_dt = pd.to_datetime(date_match[2:5])
        date_dt = pd.to_datetime(date_match[2] + '-' + date_match[3] + '-' + date_match[4]).date()
        return(pd.read_csv(self.path_to_log_files + fname).assign(DATE=date_dt))
    
    def load_files(self):
        self.match_fnames = [m[0] for m in map(self.fname_re.match, self.log_files) if m is not None]
        #[self.read_csv_fnametodatecol(fn) for fn in self.match_fnames]
        self.log_df = pd.concat(map(self.read_csv_fname2datecol, self.match_fnames))

In [8]:
rmlf = ReadMultLogFiles('./resources/', 2007)
rmlf.log_df

,NO,SECCODE,BUYSELL,TIME,ORDERNO,ACTION,PRICE,VOLUME,TRADENO,TRADEPRICE,DATE
0,1,EESR,B,103000000,1,1,28.0000,10000,NaN,NaN,2007-10-01
1,2,GAZP,S,103000000,2,1,289.0000,20,NaN,NaN,2007-10-01
2,3,RU14TATN3006,S,103000000,3,1,143.6700,1380,NaN,NaN,2007-10-01
3,4,URSI,S,103000000,4,1,1.6200,1100,NaN,NaN,2007-10-01
4,5,TGKI,B,103000000,5,1,0.0068,20000000,NaN,NaN,2007-10-01
...,...,...,...,...,...,...,...,...,...,...,...
972502,972503,URSI,B,174500000,411513,0,1.6070,90000,NaN,NaN,2007-10-31
972503,972504,SNGSP,B,174500000,421962,0,16.6210,1000,NaN,NaN,2007-10-31
972504,972505,SNGSP,B,174500000,423085,0,16.6400,200,NaN,NaN,2007-10-31
972505,972506,RU14TRNF1015,S,174500000,47323,0,50000.0000,5,NaN,NaN,2007-10-31
972506,972507,MSNG,S,174500000,41466,0,7.1750,12500,NaN,NaN,2007-10-31