In [1]:
%run TAQ2TAQplots.ipynb
import os
import regex as re
from time import time

In [2]:
# Inspiration: https://pandasninja.com/2019/04/how-to-read-lots-of-csv-files-easily-into-pandas/
class TAQfiles2TAQplots:
    def __init__(self, path_to_TAQfiles, fname_year, only_secs = []):
        self.path_to_TAQfiles = path_to_TAQfiles
        self.TAQfiles = os.listdir(path_to_TAQfiles)
        self.fname_re = re.compile('^\w+' + str(fname_year) + '.+\.txt$')
        self.match_fnames = [m[0] for m in map(self.fname_re.match, self.TAQfiles) if m is not None]
        self.TAQplots_df = pd.DataFrame()
        self.only_secs = only_secs
        self.TAQfiles2TAQplots_df()
        
    def TAQfile2TAQ_df(self, fname):
        start = time()
        fnamedate_re = re.compile('^(\w+)(\d{4})(\d{2})(\d{2})')
        date_match = fnamedate_re.match(fname)
        date_dt = pd.to_datetime(date_match[2] + '-' + date_match[3] + '-' + date_match[4]).date()
        TAQfile_df = pd.read_csv(self.path_to_TAQfiles + fname).assign(DATE=date_dt)
        singlefileTAQplots_df = TAQ2TAQplots(TAQfile_df, 'NO', 'SECCODE', 'ORDERNO', 'TRADENO', self.only_secs).TAQplots_df
        end = time()
        print(f"{fname}: {self.only_secs} {end - start:.1f} s")
#         if len(singlefileTAQplots_df) == 0:
#             raise SystemExit()
        return(singlefileTAQplots_df)
    
    def TAQfiles2TAQplots_df(self):
        self.TAQplots_df = pd.concat(map(self.TAQfile2TAQ_df, self.match_fnames))

In [3]:
rmlf = TAQfiles2TAQplots('./resources/', 2007, ['LKOH'])
rmlf.TAQplots_df

OrderLog20071001.txt: ['LKOH'] 33.0 s
OrderLog20071002.txt: ['LKOH'] 53.7 s
OrderLog20071003.txt: ['LKOH'] 52.8 s
OrderLog20071004.txt: ['LKOH'] 31.3 s
OrderLog20071005.txt: ['LKOH'] 65.6 s
OrderLog20071008.txt: ['LKOH'] 80.1 s
OrderLog20071009.txt: ['LKOH'] 43.6 s
OrderLog20071010.txt: ['LKOH'] 44.9 s
OrderLog20071011.txt: ['LKOH'] 60.7 s
OrderLog20071012.txt: ['LKOH'] 30.5 s
OrderLog20071015.txt: ['LKOH'] 26.2 s
OrderLog20071016.txt: ['LKOH'] 58.3 s
OrderLog20071017.txt: ['LKOH'] 32.2 s
OrderLog20071018.txt: ['LKOH'] 118.9 s
OrderLog20071019.txt: ['LKOH'] 32.2 s
OrderLog20071022.txt: ['LKOH'] 42.5 s
OrderLog20071023.txt: ['LKOH'] 23.2 s
OrderLog20071024.txt: ['LKOH'] 33.5 s
OrderLog20071025.txt: ['LKOH'] 38.1 s
OrderLog20071026.txt: ['LKOH'] 48.3 s
OrderLog20071029.txt: ['LKOH'] 56.5 s
OrderLog20071030.txt: ['LKOH'] 45.2 s
OrderLog20071031.txt: ['LKOH'] 37.7 s

,NO,SECCODE,BUYSELL,TIME,ORDERNO,ACTION,PRICE,VOLUME,TRADENO,TRADEPRICE,DATE,TAQPLOTNO
9,10,LKOH,S,103000000,10,1,2160.60,26,NaN,NaN,2007-10-01,0
27,28,LKOH,S,103000000,28,1,2088.80,8,NaN,NaN,2007-10-01,2
28,29,LKOH,S,103000000,29,1,2098.95,8,NaN,NaN,2007-10-01,4
29,30,LKOH,S,103000000,30,1,2091.80,8,NaN,NaN,2007-10-01,6
30,31,LKOH,S,103000000,31,1,2225.00,1,NaN,NaN,2007-10-01,8
...,...,...,...,...,...,...,...,...,...,...,...,...
972468,972469,LKOH,S,174458000,402677,0,2282.10,100,NaN,NaN,2007-10-31,55441
972469,972470,LKOH,B,174458000,405641,0,2226.08,100,NaN,NaN,2007-10-31,56022
972488,972489,LKOH,B,174459000,418509,0,2235.00,1000,NaN,NaN,2007-10-31,58154
972495,972496,LKOH,S,174500000,423366,0,2239.97,91,NaN,NaN,2007-10-31,58850
972500,972501,LKOH,B,174500000,423342,0,2237.01,9,NaN,NaN,2007-10-31,58844

rmlf.TAQplots_df.to_csv('./resources/LKOH_2007_10.csv')