In [1]:
import pandas as pd

In [8]:
tinyuf_df = pd.read_csv('./resources/tinyUF.csv', header=None)
tinyuf_df.columns= ["p", "q"]
tinyuf_df.head()

   p  q
0  4  3
1  3  8
2  6  5
3  9  4
4  2  1