In [1]:
import pandas as pd

In [2]:
tinyuf_df = pd.read_csv('./resources/tinyUF.csv', header=None)
tinyuf_df.columns= ["p", "q"]
tinyuf_df.head()

   p  q
0  4  3
1  3  8
2  6  5
3  9  4
4  2  1

In [3]:
class WeightedQuickUnion:
    
    def __init__(self, connections_df):
        self.connections_df = connections_df.copy()
        self.sites = pd.unique(sum(self.connections_df.values.tolist(), []))
        self.n = len(self.sites)
        self.count = self.n
        self.inds = [i for i in range(self.n)]
        self.parents = [i for i in self.inds]
        self.union_find()
        
    def find(self, p):
        while p != self.parents[p]:
            p = self.parents[p]
        return(p)
    
    def union(self, p, q):
        global count
        rootP = self.find(p)
        rootQ = self.find(q)
        if rootP == rootQ:
            return
        self.parents[rootP] = rootQ
        self.count = self.count - 1
    
    def if_union(self, p, q):
        if self.find(p) == self.find(q):
            return()
        self.union(p, q)
    
    def union_find(self):
        [self.if_union(p, q) for p, q in zip(self.connections_df['p'], self.connections_df['q'])]
        
    def print_inds_parents(self):
        print(self.inds)
        print(self.parents)

In [4]:
tunyuf_qu = QuickUnion(tinyuf_df)

In [5]:
tunyuf_qu.print_inds_parents()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 1, 1, 8, 3, 0, 5, 1, 8, 8]