## 1. OrderBookPlots2007_df
##### read OrderLogs with OBPlot numbers produced by class OrderBookFiles2OrderBookPlots
## 2. obp_atts_2007
##### convert orderlog into edges abd find obplots by class OBPlots2OBPlots_Attributes(OrderBookPlots2007_df)
## 3. order_atts_2007_df = obp_atts2order_atts_df(obp_atts_2007.obp_atts_dic)
## 4. order_atts_cumsums_2007_df
##### add dynamic obp attribute cumsum columns by order_atts_df2order_atts_cumsums_df() (for convinient trade-day/OBPlots plots later)
## 5. obp_cum_atts_2007_df
##### obp cumulative attributes (BUYSELLYIELD, OBPTDVOLRATIO, MINMAXRATIO) by order_atts_df2obp_cum_atts_df()
## FINAL CHECK
##### compare to plots in OBPlots_Attributes_single_sec_day

In [1]:
import pandas as pd
import datetime
import matplotlib.pyplot as plt

In [2]:
# pd.set_option('display.max_rows', None)

## 1. OrderBookPlots2007_df
##### read OrderLogs with OBPlot numbers produced by class OrderBookFiles2OrderBookPlots

In [3]:
temp_df = pd.read_csv('./resources/LKOH-2007-10-08.csv')
# temp_df = pd.read_csv('./resources/sec1_sec2_2007.csv')
temp_df.drop(['Unnamed: 0'], axis=1, inplace=True)
temp_df = temp_df.astype({"NO":"int",
                          "SECCODE":"string",
                          "BUYSELL":"string",
                          "TIME":"string",
                          "ORDERNO":"int",
                          "ACTION":"int",
                          "PRICE":"float",
                          "VOLUME":"int",
                          "TRADENO":pd.Int64Dtype(),
                          "TRADEPRICE":"float",
                          "DATE":"string",
                          "OBPLOTNO":"int"
                         })
temp_df

,NO,SECCODE,BUYSELL,TIME,ORDERNO,ACTION,PRICE,VOLUME,TRADENO,TRADEPRICE,DATE,OBPLOTNO
0,13,LKOH,S,103000000,13,1,2343.97,6250,<NA>,NaN,2007-10-08,0
1,46,LKOH,S,103000000,46,1,2214.00,15,<NA>,NaN,2007-10-08,2
2,74,LKOH,B,103000000,74,1,1990.00,50,<NA>,NaN,2007-10-08,4
3,76,LKOH,S,103000000,76,1,2200.00,10,<NA>,NaN,2007-10-08,6
4,77,LKOH,B,103000000,77,1,2110.00,6,<NA>,NaN,2007-10-08,8
...,...,...,...,...,...,...,...,...,...,...,...,...
106652,910328,LKOH,S,174458000,394790,2,2176.02,1,332355821,2176.02,2007-10-08,79201
106653,910329,LKOH,S,174458000,395200,2,2176.70,39,332355822,2176.70,2007-10-08,79201
106654,910330,LKOH,B,174458000,395498,2,0.00,39,332355822,2176.70,2007-10-08,79201
106655,910337,LKOH,S,174459000,390647,0,2177.44,10,<NA>,NaN,2007-10-08,78407
106656,910341,LKOH,B,174500000,368422,0,2167.01,200,<NA>,NaN,2007-10-08,74637

In [4]:
temp_df.to_csv('./resources/for_web_app/LKOH-2007-10-08_obps.csv', index=False)
# temp_df.to_csv('./resources/for_web_app/s1_s2_2007_obps.csv', index=False)

In [5]:
OrderBookPlots2007_df = pd.read_csv('./resources/LKOH-2007-10-08.csv')
# OrderBookPlots2007_df = pd.read_csv('./resources/sec1_sec2_2007.csv')
# OrderBookPlots2007_df = OrderBookPlots2007_df[(OrderBookPlots2007_df.SECCODE.isin(['LKOH', 'GMKN']))
#                                                & (OrderBookPlots2007_df.DATE.isin(['2007-10-08', '2007-10-09']))]
# OrderBookPlots2007_df = OrderBookPlots2007_df[(OrderBookPlots2007_df.SECCODE.isin(['LKOH']))
#                                                & (OrderBookPlots2007_df.DATE.isin(['2007-10-08']))]
OrderBookPlots2007_df

,Unnamed: 0,NO,SECCODE,BUYSELL,TIME,ORDERNO,ACTION,PRICE,VOLUME,TRADENO,TRADEPRICE,DATE,OBPLOTNO
0,12,13,LKOH,S,103000000,13,1,2343.97,6250,NaN,NaN,2007-10-08,0
1,45,46,LKOH,S,103000000,46,1,2214.00,15,NaN,NaN,2007-10-08,2
2,73,74,LKOH,B,103000000,74,1,1990.00,50,NaN,NaN,2007-10-08,4
3,75,76,LKOH,S,103000000,76,1,2200.00,10,NaN,NaN,2007-10-08,6
4,76,77,LKOH,B,103000000,77,1,2110.00,6,NaN,NaN,2007-10-08,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
106652,910327,910328,LKOH,S,174458000,394790,2,2176.02,1,332355821.0,2176.02,2007-10-08,79201
106653,910328,910329,LKOH,S,174458000,395200,2,2176.70,39,332355822.0,2176.70,2007-10-08,79201
106654,910329,910330,LKOH,B,174458000,395498,2,0.00,39,332355822.0,2176.70,2007-10-08,79201
106655,910336,910337,LKOH,S,174459000,390647,0,2177.44,10,NaN,NaN,2007-10-08,78407
106656,910340,910341,LKOH,B,174500000,368422,0,2167.01,200,NaN,NaN,2007-10-08,74637

In [6]:
OrderBookPlots2007_df['TRADENO'] = OrderBookPlots2007_df['TRADENO'].astype(pd.Int64Dtype())

In [7]:
OrderBookPlots2007_df.sort_values(by=['NO'], inplace=True)

In [8]:
def form_datetimemlls(df):
    scnd_size_df = pd.DataFrame(df.groupby('TIME').size())
    scnd_size_df.reset_index(inplace=True)
    scnd_size_df = scnd_size_df.rename(columns = {0:'SCNDSIZE'})
    df = df.merge(scnd_size_df, on='TIME')
    df['SEC_IND'] = df.groupby(['TIME']).cumcount()
    df['MILLISS'] = round(df['SEC_IND'] / df['SCNDSIZE'] * 1000)
    df['MILLISS'] = df['MILLISS'].astype(int)
    df.drop(['SCNDSIZE', 'SEC_IND'], axis=1, inplace=True)
    df['DATETIME'] = df.apply(lambda row: datetime.datetime.strptime(row.DATE, '%Y-%m-%d'), axis=1)
    df['DATETIMEMLLS'] = df.apply(lambda row: datetime.datetime(row.DATETIME.year,
                                                               row.DATETIME.month,
                                                               row.DATETIME.day,
                                                               int(row.TIME // 1e7),
                                                               int((row.TIME // 1e5) % 100),
                                                               int((row.TIME // 1e3) % 100)),
                                  axis=1)
    df['DATETIMEMLLS'] = df.apply(lambda row: row.DATETIMEMLLS +
                                 datetime.timedelta(milliseconds=row.MILLISS),
                                 axis=1)
    df.drop(['DATETIME', 'MILLISS', 'TIME'], axis=1, inplace=True)
    return(df)

In [9]:
OrderBookPlots2007_df = form_datetimemlls(OrderBookPlots2007_df)
# OrderBookPlots2007_df

In [10]:
class OBPlots2OBPlots_Attributes:
    def __init__(self, OBPs_df):
        self.OBPs_df = OBPs_df
        self.secs = pd.unique(self.OBPs_df.SECCODE)
        self.dates = pd.unique(self.OBPs_df.DATE)
#         print(self.dates)
        self.obplotnos = pd.unique(self.OBPs_df.OBPLOTNO)
        self.obp_atts_dic = {
            sec:datedic for (sec, datedic) in zip(
                self.secs,
                [{
                    date:obps_attsdic for (date, obps_attsdic) in zip(
                        self.dates, 
                        [{} for i in range(len(self.dates))]
                    )
                } for i in range(len(self.secs))]
            )
        }
        self.iterate_ob_rows()
    
    # Accordin to specs ACTION 0 shows balance of order, not cancelled volune of the order, IT'S WRONG
    # Actually, it shows cancelled volune of the order
    def ob2curatt(self, SECCODE, DATE, OBPLOTNO, BUYSELL, ACTION, PRICE, VOLUME, TRADEPRICE):
        if (BUYSELL == 'B') & (ACTION == 0):
            CBOVOL = PRICE * VOLUME
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['SHAREBAL'] -= VOLUME
            return({'ATT': 'CBOVOL', 'VAL': CBOVOL})
        elif (BUYSELL == 'S') & (ACTION == 0):
            CSOVOL = PRICE * VOLUME
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['SHAREBAL'] += VOLUME
            return({'ATT': 'CSOVOL', 'VAL': CSOVOL})
        elif (BUYSELL == 'B') & (ACTION == 1):
            BOVOL = PRICE * VOLUME
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['SHAREBAL'] += VOLUME

#             print(SECCODE, DATE, OBPLOTNO, BOVOL)
#             input("Read")
            
            return({'ATT': 'BOVOL', 'VAL': BOVOL})
        elif (BUYSELL == 'S') & (ACTION == 1):
            SOVOL = PRICE * VOLUME
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['SHAREBAL'] -= VOLUME
            return({'ATT': 'SOVOL', 'VAL': SOVOL})
        elif (BUYSELL == 'B') & (ACTION == 2):
            BTVOL = TRADEPRICE * VOLUME
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['SHAREBAL'] -= VOLUME
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['BPROFIT'] += (TRADEPRICE - PRICE) * VOLUME
            if TRADEPRICE < self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMINTPRICE']:
                self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMINTPRICE'] = TRADEPRICE
            elif TRADEPRICE > self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMAXTPRICE']:
                self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMAXTPRICE'] = TRADEPRICE
            return({'ATT': 'BTVOL', 'VAL': BTVOL})
        elif (BUYSELL == 'S') & (ACTION == 2):
            STVOL = TRADEPRICE * VOLUME
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['SHAREBAL'] += VOLUME
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['SPROFIT'] += (PRICE - TRADEPRICE) * VOLUME
            if TRADEPRICE < self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMINTPRICE']:
                self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMINTPRICE'] = TRADEPRICE
            elif TRADEPRICE > self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMAXTPRICE']:
                self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMAXTPRICE'] = TRADEPRICE
            return({'ATT': 'STVOL', 'VAL': STVOL})
        
    def ob_row2obp_atts(self, SECCODE, DATE, NO, BUYSELL, ORDERNO,
                        ACTION, PRICE, VOLUME, TRADEPRICE, OBPLOTNO,
                        DATETIMEMLLS):
        if OBPLOTNO not in self.obp_atts_dic[SECCODE][DATE]:
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO] = {}
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['SHAREBAL'] = 0
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['BPROFIT'] = 0
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['SPROFIT'] = 0
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMINTPRICE'] = 0
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMAXTPRICE'] = 0

#         print(SECCODE, DATE, OBPLOTNO, BUYSELL, ACTION, PRICE, VOLUME, TRADEPRICE)
#         input("Read")
            
        self.obp_atts_dic[SECCODE][DATE][OBPLOTNO][NO] = self.ob2curatt(SECCODE, DATE, OBPLOTNO, BUYSELL, ACTION, 
                                                                    PRICE, VOLUME, TRADEPRICE)
        self.obp_atts_dic[SECCODE][DATE][OBPLOTNO][NO]['DATETIMEMLLS'] = DATETIMEMLLS
#         print(SECCODE)
#         print(self.obp_atts[SECCODE])
        
    def iterate_ob_rows(self):
        [self.ob_row2obp_atts(SECCODE, DATE, NO, BUYSELL, ORDERNO, 
                              ACTION, PRICE, VOLUME, TRADEPRICE, OBPLOTNO,
                              DATETIMEMLLS)
        for (SECCODE, DATE, NO, BUYSELL, ORDERNO,
             ACTION, PRICE, VOLUME, TRADEPRICE, OBPLOTNO,
             DATETIMEMLLS)
         in zip(self.OBPs_df.SECCODE,
                self.OBPs_df.DATE,
                self.OBPs_df.NO,
                self.OBPs_df.BUYSELL,
                self.OBPs_df.ORDERNO,
                self.OBPs_df.ACTION,
                self.OBPs_df.PRICE,
                self.OBPs_df.VOLUME,
                self.OBPs_df.TRADEPRICE,
                self.OBPs_df.OBPLOTNO,
                self.OBPs_df.DATETIMEMLLS)]

In [11]:
def obp_atts2order_atts_df(obp_atts):
    order_atts_dic = {}
    for SECCODE in obp_atts:
        for DATE in obp_atts[SECCODE]:
            for OBPLOTNO in obp_atts[SECCODE][DATE]:
                for NO in obp_atts[SECCODE][DATE][OBPLOTNO]:
                    order_atts_dic[(DATE, NO)] = {}
                    if (NO != 'SHAREBAL') & (NO != 'BPROFIT') & (NO != 'SPROFIT') & (NO != 'OBPMINTPRICE') & (NO != 'OBPMAXTPRICE'):
                        order_atts_dic[(DATE, NO)] = obp_atts[SECCODE][DATE][OBPLOTNO][NO]
                        order_atts_dic[(DATE, NO)]['NO'] = NO
                        order_atts_dic[(DATE, NO)]['OBPLOTNO'] = OBPLOTNO
                        order_atts_dic[(DATE, NO)]['DATE'] = DATE
                        order_atts_dic[(DATE, NO)]['SECCODE'] = SECCODE
                        order_atts_dic[(DATE, NO)]['SHAREBAL'] = obp_atts[SECCODE][DATE][OBPLOTNO]['SHAREBAL']
                        order_atts_dic[(DATE, NO)]['BPROFIT'] = obp_atts[SECCODE][DATE][OBPLOTNO]['BPROFIT']
                        order_atts_dic[(DATE, NO)]['SPROFIT'] = obp_atts[SECCODE][DATE][OBPLOTNO]['SPROFIT']
                        order_atts_dic[(DATE, NO)]['OBPMINTPRICE'] = obp_atts[SECCODE][DATE][OBPLOTNO]['OBPMINTPRICE']
                        order_atts_dic[(DATE, NO)]['OBPMAXTPRICE'] = obp_atts[SECCODE][DATE][OBPLOTNO]['OBPMAXTPRICE']

    order_atts_df = pd.DataFrame.from_dict(order_atts_dic, "index")
    order_atts_df.sort_values(by=['DATETIMEMLLS', 'NO'], inplace=True)
    order_atts_df.reset_index(inplace=True)
    return(order_atts_df)

## 2. obp_atts_2007
##### convert orderlog into edges abd find obplots by class OBPlots2OBPlots_Attributes(OrderBookPlots2007_df)

In [12]:
obp_atts_2007 = OBPlots2OBPlots_Attributes(OrderBookPlots2007_df)
# print(len(obp_atts_2007.obp_atts_dic['LKOH']['2007-10-08']))

## 3. order_atts_2007_df = obp_atts2order_atts_df(obp_atts_2007.obp_atts_dic)

In [13]:
order_atts_2007_df = obp_atts2order_atts_df(obp_atts_2007.obp_atts_dic)
# order_atts_2007_df

In [14]:
order_atts_2007_df.sort_values(by=['SECCODE', 'DATE', 'OBPLOTNO'], inplace=True)
# order_atts_2007_df

In [15]:
def order_atts_df2order_atts_cumsums_df(df, CBOVOLcs, CSOVOLcs, BOVOLcs, SOVOLcs, BTVOLcs, STVOLcs, grby = ['SECCODE', 'DATE']):
    # cumsums
    df[CBOVOLcs] = df[df.ATT == 'CBOVOL'].groupby(grby)['VAL'].cumsum()
    df[CSOVOLcs] = df[df.ATT == 'CSOVOL'].groupby(grby)['VAL'].cumsum()
    df[BOVOLcs] = df[df.ATT == 'BOVOL'].groupby(grby)['VAL'].cumsum()
    
#     if BOVOLcs == 'BOVOLobpcs':
#         print(df.head(20)[BOVOLcs])
#         input("Read")

    df[SOVOLcs] = df[df.ATT == 'SOVOL'].groupby(grby)['VAL'].cumsum()
    df[BTVOLcs] = df[df.ATT == 'BTVOL'].groupby(grby)['VAL'].cumsum()
    df[STVOLcs] = df[df.ATT == 'STVOL'].groupby(grby)['VAL'].cumsum()

    df[[CBOVOLcs,
       CSOVOLcs,
       BOVOLcs,
       SOVOLcs,
       BTVOLcs,
       STVOLcs]] = df.groupby(grby)[[CBOVOLcs, #https://stackoverflow.com/questions/46391128/pandas-fillna-using-groupby
                       CSOVOLcs,
                       BOVOLcs,
                       SOVOLcs,
                       BTVOLcs,
                       STVOLcs]].fillna(method="ffill")
    df[[CBOVOLcs,
       CSOVOLcs,
       BOVOLcs,
       SOVOLcs,
       BTVOLcs,
       STVOLcs]] = df.groupby(grby)[[CBOVOLcs,
                       CSOVOLcs,
                       BOVOLcs,
                       SOVOLcs,
                       BTVOLcs,
                       STVOLcs]].fillna(value = 0.0)
    return(df)

## 4. order_atts_cumsums_2007_df
##### add dynamic obp attribute cumsum columns by order_atts_df2order_atts_cumsums_df() (for convinient trade-day/OBPlots plots later)

In [16]:
order_atts_cumsums_2007_df = order_atts_df2order_atts_cumsums_df(order_atts_2007_df, 'CBOVOLtdcs', 'CSOVOLtdcs', 'BOVOLtdcs', 
                              'SOVOLtdcs', 'BTVOLtdcs', 'STVOLtdcs', grby = ['SECCODE', 'DATE'])
# order_atts_cumsums_2007_df

In [17]:
order_atts_cumsums_2007_df = order_atts_df2order_atts_cumsums_df(order_atts_cumsums_2007_df, 'CBOVOLobpcs', 'CSOVOLobpcs', 'BOVOLobpcs', 
                              'SOVOLobpcs', 'BTVOLobpcs', 'STVOLobpcs', grby = ['SECCODE', 'DATE', 'OBPLOTNO'])
order_atts_cumsums_2007_df

,level_0,level_1,ATT,VAL,DATETIMEMLLS,NO,OBPLOTNO,DATE,SECCODE,SHAREBAL,...,BOVOLtdcs,SOVOLtdcs,BTVOLtdcs,STVOLtdcs,CBOVOLobpcs,CSOVOLobpcs,BOVOLobpcs,SOVOLobpcs,BTVOLobpcs,STVOLobpcs
0,2007-10-08,13,SOVOL,14649812.5,2007-10-08 10:30:00.000,13,0,2007-10-08,LKOH,0,...,0.000000e+00,1.464981e+07,0.000000e+00,0.000000e+00,0.0,0.0,0.0,14649812.5,0.0,0.0
5502,2007-10-08,70010,CSOVOL,14649812.5,2007-10-08 10:40:27.500,70010,0,2007-10-08,LKOH,0,...,0.000000e+00,1.464981e+07,0.000000e+00,0.000000e+00,0.0,14649812.5,0.0,14649812.5,0.0,0.0
1,2007-10-08,46,SOVOL,33210.0,2007-10-08 10:30:00.001,46,2,2007-10-08,LKOH,-15,...,0.000000e+00,1.468302e+07,0.000000e+00,0.000000e+00,0.0,0.0,0.0,33210.0,0.0,0.0
2,2007-10-08,74,BOVOL,99500.0,2007-10-08 10:30:00.003,74,4,2007-10-08,LKOH,50,...,9.950000e+04,1.468302e+07,0.000000e+00,0.000000e+00,0.0,0.0,99500.0,0.0,0.0,0.0
3,2007-10-08,76,SOVOL,22000.0,2007-10-08 10:30:00.004,76,6,2007-10-08,LKOH,-10,...,9.950000e+04,1.470502e+07,0.000000e+00,0.000000e+00,0.0,0.0,0.0,22000.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106647,2007-10-08,910307,STVOL,182742.0,2007-10-08 17:44:58.500,910307,79324,2007-10-08,LKOH,2331,...,1.843223e+10,1.661693e+10,9.032523e+09,9.032706e+09,0.0,0.0,5277763.1,0.0,2175.6,184917.6
106648,2007-10-08,910308,BTVOL,182742.0,2007-10-08 17:44:58.562,910308,79324,2007-10-08,LKOH,2331,...,1.843223e+10,1.661693e+10,9.032706e+09,9.032706e+09,0.0,0.0,5277763.1,0.0,184917.6,184917.6
106649,2007-10-08,910309,BTVOL,21755.0,2007-10-08 17:44:58.625,910309,79324,2007-10-08,LKOH,2331,...,1.843223e+10,1.661693e+10,9.032728e+09,9.032706e+09,0.0,0.0,5277763.1,0.0,206672.6,184917.6
106650,2007-10-08,910310,STVOL,21755.0,2007-10-08 17:44:58.688,910310,79324,2007-10-08,LKOH,2331,...,1.843223e+10,1.661693e+10,9.032728e+09,9.032728e+09,0.0,0.0,5277763.1,0.0,206672.6,206672.6
106643,2007-10-08,910289,SOVOL,562440.0,2007-10-08 17:44:58.250,910289,79329,2007-10-08,LKOH,-258,...,1.843223e+10,1.661749e+10,9.032728e+09,9.032728e+09,0.0,0.0,0.0,562440.0,0.0,0.0

In [18]:
order_atts_cumsums_2007_df['sobp'] = order_atts_cumsums_2007_df.apply(
    lambda row: row.SOVOLobpcs - row.STVOLobpcs - row.CSOVOLobpcs, axis=1
)
order_atts_cumsums_2007_df['bobp'] = order_atts_cumsums_2007_df.apply(
    lambda row: -(row.BOVOLobpcs - row.BTVOLobpcs - row.CBOVOLobpcs), axis=1
)
order_atts_cumsums_2007_df['max_sobp_bobp'] = order_atts_cumsums_2007_df.apply(
    lambda row: max(row.sobp, -row.bobp), axis=1
)
order_atts_cumsums_2007_df['minus_max_sobp_bobp'] = order_atts_cumsums_2007_df.apply(
    lambda row: -row.max_sobp_bobp, axis=1
)
order_atts_cumsums_2007_df['stday'] = order_atts_cumsums_2007_df.apply(
    lambda row: row.SOVOLtdcs - row.STVOLtdcs - row.CSOVOLtdcs, axis=1
)
order_atts_cumsums_2007_df['btday'] = order_atts_cumsums_2007_df.apply(
    lambda row: -(row.BOVOLtdcs - row.BTVOLtdcs - row.CBOVOLtdcs), axis=1
)
order_atts_cumsums_2007_df['max_std_btd'] = order_atts_cumsums_2007_df.apply(
    lambda row: max(row.stday, -row.btday), axis=1
)
order_atts_cumsums_2007_df['minus_max_std_btd'] = order_atts_cumsums_2007_df.apply(
    lambda row: -row.max_std_btd, axis=1
)
order_atts_cumsums_2007_df

,level_0,level_1,ATT,VAL,DATETIMEMLLS,NO,OBPLOTNO,DATE,SECCODE,SHAREBAL,...,BTVOLobpcs,STVOLobpcs,sobp,bobp,max_sobp_bobp,minus_max_sobp_bobp,stday,btday,max_std_btd,minus_max_std_btd
0,2007-10-08,13,SOVOL,14649812.5,2007-10-08 10:30:00.000,13,0,2007-10-08,LKOH,0,...,0.0,0.0,14649812.5,-0.0,14649812.5,-14649812.5,1.464981e+07,-0.000000e+00,1.464981e+07,-1.464981e+07
5502,2007-10-08,70010,CSOVOL,14649812.5,2007-10-08 10:40:27.500,70010,0,2007-10-08,LKOH,0,...,0.0,0.0,0.0,-0.0,0.0,-0.0,0.000000e+00,-0.000000e+00,0.000000e+00,-0.000000e+00
1,2007-10-08,46,SOVOL,33210.0,2007-10-08 10:30:00.001,46,2,2007-10-08,LKOH,-15,...,0.0,0.0,33210.0,-0.0,33210.0,-33210.0,3.321000e+04,-0.000000e+00,3.321000e+04,-3.321000e+04
2,2007-10-08,74,BOVOL,99500.0,2007-10-08 10:30:00.003,74,4,2007-10-08,LKOH,50,...,0.0,0.0,0.0,-99500.0,99500.0,-99500.0,3.321000e+04,-9.950000e+04,9.950000e+04,-9.950000e+04
3,2007-10-08,76,SOVOL,22000.0,2007-10-08 10:30:00.004,76,6,2007-10-08,LKOH,-10,...,0.0,0.0,22000.0,-0.0,22000.0,-22000.0,5.521000e+04,-9.950000e+04,9.950000e+04,-9.950000e+04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106647,2007-10-08,910307,STVOL,182742.0,2007-10-08 17:44:58.500,910307,79324,2007-10-08,LKOH,2331,...,2175.6,184917.6,-184917.6,-5275587.5,5275587.5,-5275587.5,3.914880e+08,-4.171019e+08,4.171019e+08,-4.171019e+08
106648,2007-10-08,910308,BTVOL,182742.0,2007-10-08 17:44:58.562,910308,79324,2007-10-08,LKOH,2331,...,184917.6,184917.6,-184917.6,-5092845.5,5092845.5,-5092845.5,3.914880e+08,-4.169192e+08,4.169192e+08,-4.169192e+08
106649,2007-10-08,910309,BTVOL,21755.0,2007-10-08 17:44:58.625,910309,79324,2007-10-08,LKOH,2331,...,206672.6,184917.6,-184917.6,-5071090.5,5071090.5,-5071090.5,3.914880e+08,-4.168974e+08,4.168974e+08,-4.168974e+08
106650,2007-10-08,910310,STVOL,21755.0,2007-10-08 17:44:58.688,910310,79324,2007-10-08,LKOH,2331,...,206672.6,206672.6,-206672.6,-5071090.5,5071090.5,-5071090.5,3.914662e+08,-4.168974e+08,4.168974e+08,-4.168974e+08
106643,2007-10-08,910289,SOVOL,562440.0,2007-10-08 17:44:58.250,910289,79329,2007-10-08,LKOH,-258,...,0.0,0.0,562440.0,-0.0,562440.0,-562440.0,3.920287e+08,-4.168974e+08,4.168974e+08,-4.168974e+08

In [22]:
def order_atts_df2obp_cum_atts_df(order_atts_df):
    def buy_sell_obp(gr):
        buy_minus_sell_vol = gr[gr.ATT == 'BOVOL']['VAL'].sum() - gr[gr.ATT == 'SOVOL']['VAL'].sum()
        if buy_minus_sell_vol > 0:
            return('B')
        elif buy_minus_sell_vol < 0:
            return('S')
        else:
            return('N')
    def trades_notrades(gr):
        trades_count = gr[gr.ATT == 'BTVOL'].size + gr[gr.ATT == 'STVOL'].size
        if trades_count != 0:
            return('T')
        else:
            return('N')
#     def obp_buysellyield(gr):
#         if trades_notrades(gr) == 'T':
#             b_obp_yield = gr.BPROFIT * 100 / gr[gr.ATT == 'BTVOL']['VAL'].sum()
#             s_obp_yield = gr.SPROFIT * 100 / gr[gr.ATT == 'STVOL']['VAL'].sum()
#             if buy_sell_obp(gr) == 'B':
#                 return(list(b_obp_yield - s_obp_yield)[0])
#             elif buy_sell_obp(gr) == 'S':
#                 return(list(s_obp_yield - b_obp_yield)[0])
#     def obp_td_vol_ratio(gr):
# #         if list(gr.SECCODE)[0] == 'LKOH':
# #             print(gr)
# #             input("Read")
#         volratio = ((gr.BOVOLobpcs.sum() 
#                     - gr.CBOVOLobpcs.sum() 
#                     - gr.BTVOLobpcs.sum() 
#                     - gr.BPROFIT.sum() 
#                     + gr.SOVOLobpcs.sum() 
#                     - gr.CSOVOLobpcs.sum() 
#                     - gr.STVOLobpcs.sum() 
#                     - gr.SPROFIT.sum()) 
#                     / (gr.BOVOLtdcs.sum() - 
#                        gr.CBOVOLtdcs.sum() - 
#                        gr.BTVOLtdcs.sum() - 
#                        gr.BPROFIT.sum() + 
#                        gr.SOVOLtdcs.sum() - 
#                        gr.CSOVOLtdcs.sum() - 
#                        gr.STVOLtdcs.sum() - 
#                        gr.SPROFIT.sum()))
#         return(abs(volratio))
#     def minmax_dur_tdvol_ratio(gr):
# #         delta = max(gr.DATETIMEMLLS) - min(gr.DATETIMEMLLS)
# #         delta = delta.total_seconds()
# #         print("=============")
# #         print(delta)
#         minmaxratio = gr.OBPMAXTPRICE - gr.OBPMINTPRICE
#         return(abs(list(minmaxratio)[0]))
    def obp_trade_vol(gr):
        trade_vol = gr[(gr.ATT == 'BTVOL') | (gr.ATT == 'STVOL')].VAL.sum()
        return(trade_vol)
        
    buy_sell_obp_ser = order_atts_df.groupby(['SECCODE', 'DATE', 'OBPLOTNO']).apply(lambda gr: buy_sell_obp(gr))
    trades_notrades_ser = order_atts_df.groupby(['SECCODE', 'DATE', 'OBPLOTNO']).apply(lambda gr: trades_notrades(gr))
#     obp_yield_ser = order_atts_df.groupby(['SECCODE', 'DATE', 'OBPLOTNO']).apply(lambda gr: obp_buysellyield(gr))
#     obp_td_vol_ratio_ser = order_atts_df.groupby(['SECCODE','DATE',  'OBPLOTNO']).apply(lambda gr: obp_td_vol_ratio(gr))
#     minmax_dur_tdvol_ratio_ser = order_atts_df.groupby(['SECCODE', 'DATE', 'OBPLOTNO']).apply(lambda gr: minmax_dur_tdvol_ratio(gr))
    obp_trade_vol_ser = order_atts_df.groupby(['SECCODE', 'DATE', 'OBPLOTNO']).apply(lambda gr: obp_trade_vol(gr))
    
#     df = pd.DataFrame.from_dict({'TRADEVOL': obp_trade_vol_ser, 'BUYSELLOBP': buy_sell_obp_ser, 
#                                  'TRADESNOTRADES': trades_notrades_ser, 'BUYSELLYIELD': obp_yield_ser,
#                                  'OBPTDVOLRATIO': obp_td_vol_ratio_ser, 'MINMAXRATIO': minmax_dur_tdvol_ratio_ser})
    df = pd.DataFrame.from_dict({'TRADEVOL': obp_trade_vol_ser, 'BUYSELLOBP': buy_sell_obp_ser, 
                                 'TRADESNOTRADES': trades_notrades_ser})
    df.reset_index(inplace=True)
    return(df)

## 5. obp_cum_atts_2007_df
##### obp cumulative attributes (BUYSELLYIELD, OBPTDVOLRATIO, MINMAXRATIO) by order_atts_df2obp_cum_atts_df()

In [23]:
obp_cum_atts_2007_df = order_atts_df2obp_cum_atts_df(order_atts_cumsums_2007_df)
obp_cum_atts_2007_df

      SECCODE        DATE  OBPLOTNO  TRADEVOL BUYSELLOBP TRADESNOTRADES
0        LKOH  2007-10-08         0       0.0          S              N
1        LKOH  2007-10-08         2       0.0          S              N
2        LKOH  2007-10-08         4       0.0          B              N
3        LKOH  2007-10-08         6       0.0          S              N
4        LKOH  2007-10-08         8       0.0          B              N
...       ...         ...       ...       ...        ...            ...
19716    LKOH  2007-10-08     79307       0.0          S              N
19717    LKOH  2007-10-08     79314       0.0          B              N
19718    LKOH  2007-10-08     79320  108769.0          B              T
19719    LKOH  2007-10-08     79324  413345.2          B              T
19720    LKOH  2007-10-08     79329       0.0          S              N

[19721 rows x 6 columns]

In [ ]:
# delete obplots without trades
# obp_cum_atts_2007_df = obp_cum_atts_2007_df[obp_cum_atts_2007_df.TRADESNOTRADES != 'N']
# obp_cum_atts_2007_df

In [ ]:
# obp_cum_atts_2007_df = obp_cum_atts_2007_df.dropna()
# obp_cum_atts_2007_df


## FINAL CHECK
##### compare to plots in OBPlots_Attributes_single_sec_day

In [ ]:
# obp_cum_atts_2007_LKOH_08_df = obp_cum_atts_2007_df[(obp_cum_atts_2007_df.SECCODE == 'LKOH') & 
#                                                           (obp_cum_atts_2007_df.DATE == '2007-10-08')]
# obp_cum_atts_2007_LKOH_08_df

In [ ]:
# plt.hist(obp_cum_atts_2007_LKOH_08_df.BUYSELLYIELD)

In [ ]:
# plt.hist(obp_cum_atts_2007_LKOH_08_df.OBPTDVOLRATIO)

In [ ]:
# plt.hist(obp_cum_atts_2007_LKOH_08_df.MINMAXRATIO)

In [ ]:
# obp_cum_atts_2007_LKOH_08_df.sort_values(by='TRADEVOL', ascending=False)

In [24]:
obp_cum_atts_2007_df.to_csv('./resources/for_web_app/LKOH-2007-10-08_obp_cum_atts.csv', index=False)
# obp_cum_atts_2007_df.to_csv('./resources/for_web_app/s1_s2_2007_obp_cum_atts.csv', index=False)

In [25]:
order_atts_cumsums_2007_df

,level_0,level_1,ATT,VAL,DATETIMEMLLS,NO,OBPLOTNO,DATE,SECCODE,SHAREBAL,...,BTVOLobpcs,STVOLobpcs,sobp,bobp,max_sobp_bobp,minus_max_sobp_bobp,stday,btday,max_std_btd,minus_max_std_btd
0,2007-10-08,13,SOVOL,14649812.5,2007-10-08 10:30:00.000,13,0,2007-10-08,LKOH,0,...,0.0,0.0,14649812.5,-0.0,14649812.5,-14649812.5,1.464981e+07,-0.000000e+00,1.464981e+07,-1.464981e+07
5502,2007-10-08,70010,CSOVOL,14649812.5,2007-10-08 10:40:27.500,70010,0,2007-10-08,LKOH,0,...,0.0,0.0,0.0,-0.0,0.0,-0.0,0.000000e+00,-0.000000e+00,0.000000e+00,-0.000000e+00
1,2007-10-08,46,SOVOL,33210.0,2007-10-08 10:30:00.001,46,2,2007-10-08,LKOH,-15,...,0.0,0.0,33210.0,-0.0,33210.0,-33210.0,3.321000e+04,-0.000000e+00,3.321000e+04,-3.321000e+04
2,2007-10-08,74,BOVOL,99500.0,2007-10-08 10:30:00.003,74,4,2007-10-08,LKOH,50,...,0.0,0.0,0.0,-99500.0,99500.0,-99500.0,3.321000e+04,-9.950000e+04,9.950000e+04,-9.950000e+04
3,2007-10-08,76,SOVOL,22000.0,2007-10-08 10:30:00.004,76,6,2007-10-08,LKOH,-10,...,0.0,0.0,22000.0,-0.0,22000.0,-22000.0,5.521000e+04,-9.950000e+04,9.950000e+04,-9.950000e+04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106647,2007-10-08,910307,STVOL,182742.0,2007-10-08 17:44:58.500,910307,79324,2007-10-08,LKOH,2331,...,2175.6,184917.6,-184917.6,-5275587.5,5275587.5,-5275587.5,3.914880e+08,-4.171019e+08,4.171019e+08,-4.171019e+08
106648,2007-10-08,910308,BTVOL,182742.0,2007-10-08 17:44:58.562,910308,79324,2007-10-08,LKOH,2331,...,184917.6,184917.6,-184917.6,-5092845.5,5092845.5,-5092845.5,3.914880e+08,-4.169192e+08,4.169192e+08,-4.169192e+08
106649,2007-10-08,910309,BTVOL,21755.0,2007-10-08 17:44:58.625,910309,79324,2007-10-08,LKOH,2331,...,206672.6,184917.6,-184917.6,-5071090.5,5071090.5,-5071090.5,3.914880e+08,-4.168974e+08,4.168974e+08,-4.168974e+08
106650,2007-10-08,910310,STVOL,21755.0,2007-10-08 17:44:58.688,910310,79324,2007-10-08,LKOH,2331,...,206672.6,206672.6,-206672.6,-5071090.5,5071090.5,-5071090.5,3.914662e+08,-4.168974e+08,4.168974e+08,-4.168974e+08
106643,2007-10-08,910289,SOVOL,562440.0,2007-10-08 17:44:58.250,910289,79329,2007-10-08,LKOH,-258,...,0.0,0.0,562440.0,-0.0,562440.0,-562440.0,3.920287e+08,-4.168974e+08,4.168974e+08,-4.168974e+08

In [26]:
order_atts_cumsums_2007_df.drop(['level_0', 'level_1'], axis=1, inplace=True)
order_atts_cumsums_2007_df

,ATT,VAL,DATETIMEMLLS,NO,OBPLOTNO,DATE,SECCODE,SHAREBAL,BPROFIT,SPROFIT,...,BTVOLobpcs,STVOLobpcs,sobp,bobp,max_sobp_bobp,minus_max_sobp_bobp,stday,btday,max_std_btd,minus_max_std_btd
0,SOVOL,14649812.5,2007-10-08 10:30:00.000,13,0,2007-10-08,LKOH,0,0.0,0.0,...,0.0,0.0,14649812.5,-0.0,14649812.5,-14649812.5,1.464981e+07,-0.000000e+00,1.464981e+07,-1.464981e+07
5502,CSOVOL,14649812.5,2007-10-08 10:40:27.500,70010,0,2007-10-08,LKOH,0,0.0,0.0,...,0.0,0.0,0.0,-0.0,0.0,-0.0,0.000000e+00,-0.000000e+00,0.000000e+00,-0.000000e+00
1,SOVOL,33210.0,2007-10-08 10:30:00.001,46,2,2007-10-08,LKOH,-15,0.0,0.0,...,0.0,0.0,33210.0,-0.0,33210.0,-33210.0,3.321000e+04,-0.000000e+00,3.321000e+04,-3.321000e+04
2,BOVOL,99500.0,2007-10-08 10:30:00.003,74,4,2007-10-08,LKOH,50,0.0,0.0,...,0.0,0.0,0.0,-99500.0,99500.0,-99500.0,3.321000e+04,-9.950000e+04,9.950000e+04,-9.950000e+04
3,SOVOL,22000.0,2007-10-08 10:30:00.004,76,6,2007-10-08,LKOH,-10,0.0,0.0,...,0.0,0.0,22000.0,-0.0,22000.0,-22000.0,5.521000e+04,-9.950000e+04,9.950000e+04,-9.950000e+04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106647,STVOL,182742.0,2007-10-08 17:44:58.500,910307,79324,2007-10-08,LKOH,2331,0.0,-206672.6,...,2175.6,184917.6,-184917.6,-5275587.5,5275587.5,-5275587.5,3.914880e+08,-4.171019e+08,4.171019e+08,-4.171019e+08
106648,BTVOL,182742.0,2007-10-08 17:44:58.562,910308,79324,2007-10-08,LKOH,2331,0.0,-206672.6,...,184917.6,184917.6,-184917.6,-5092845.5,5092845.5,-5092845.5,3.914880e+08,-4.169192e+08,4.169192e+08,-4.169192e+08
106649,BTVOL,21755.0,2007-10-08 17:44:58.625,910309,79324,2007-10-08,LKOH,2331,0.0,-206672.6,...,206672.6,184917.6,-184917.6,-5071090.5,5071090.5,-5071090.5,3.914880e+08,-4.168974e+08,4.168974e+08,-4.168974e+08
106650,STVOL,21755.0,2007-10-08 17:44:58.688,910310,79324,2007-10-08,LKOH,2331,0.0,-206672.6,...,206672.6,206672.6,-206672.6,-5071090.5,5071090.5,-5071090.5,3.914662e+08,-4.168974e+08,4.168974e+08,-4.168974e+08
106643,SOVOL,562440.0,2007-10-08 17:44:58.250,910289,79329,2007-10-08,LKOH,-258,0.0,0.0,...,0.0,0.0,562440.0,-0.0,562440.0,-562440.0,3.920287e+08,-4.168974e+08,4.168974e+08,-4.168974e+08

In [27]:
order_atts_cumsums_2007_df.to_csv('./resources/for_web_app/LKOH-2007-10-08_order_atts_cumsums.csv',
                                 index=False)
# order_atts_cumsums_2007_df.to_csv('./resources/for_web_app/s1_s2_2007_order_atts_cumsums.csv',
#                                  index=False)

In [28]:
# pd.reset_option('display.max_rows')