## 1. OrderBookPlots2007_df
##### read OrderLogs with OBPlot numbers produced by class OrderBookFiles2OrderBookPlots
## 2. obp_atts_2007
##### convert orderlog into edges abd find obplots by class OBPlots2OBPlots_Attributes(OrderBookPlots2007_df)
## 3. order_atts_2007_df = obp_atts2order_atts_df(obp_atts_2007.obp_atts_dic)
## 4. order_atts_cumsums_2007_df
##### add dynamic obp attribute cumsum columns by order_atts_df2order_atts_cumsums_df() (for convinient trade-day/OBPlots plots later)
## 5. obp_cum_atts_2007_df
##### obp cumulative attributes (BUYSELLYIELD, OBPTDVOLRATIO, MINMAXRATIO) by order_atts_df2obp_cum_atts_df()
## FINAL CHECK
##### compare to plots in OBPlots_Attributes_single_sec_day

In [1]:
import pandas as pd
import datetime
import matplotlib.pyplot as plt

In [2]:
# pd.set_option('display.max_rows', None)

## 1. OrderBookPlots2007_df
##### read OrderLogs with OBPlot numbers produced by class OrderBookFiles2OrderBookPlots

In [3]:
temp_df = pd.read_csv('./resources/LKOH-GMKN-2007-10-08-09.csv')
# temp_df = pd.read_csv('./resources/LKOH-2007-10-08.csv')
# temp_df = pd.read_csv('./resources/sec1_sec2_2007.csv')
temp_df.drop(['Unnamed: 0'], axis=1, inplace=True)
temp_df = temp_df.astype({"NO":"int",
                          "SECCODE":"string",
                          "BUYSELL":"string",
                          "TIME":"string",
                          "ORDERNO":"int",
                          "ACTION":"int",
                          "PRICE":"float",
                          "VOLUME":"int",
                          "TRADENO":pd.Int64Dtype(),
                          "TRADEPRICE":"float",
                          "DATE":"string",
                          "OBPLOTNO":"int"
                         })
temp_df

,NO,SECCODE,BUYSELL,TIME,ORDERNO,ACTION,PRICE,VOLUME,TRADENO,TRADEPRICE,DATE,OBPLOTNO
0,13,LKOH,S,103000000,13,1,2343.97,6250,<NA>,NaN,2007-10-08,0
1,46,LKOH,S,103000000,46,1,2214.00,15,<NA>,NaN,2007-10-08,2
2,60,GMKN,S,103000000,60,1,6800.00,3,<NA>,NaN,2007-10-08,0
3,74,LKOH,B,103000000,74,1,1990.00,50,<NA>,NaN,2007-10-08,4
4,76,LKOH,S,103000000,76,1,2200.00,10,<NA>,NaN,2007-10-08,6
...,...,...,...,...,...,...,...,...,...,...,...,...
394477,981465,LKOH,B,174458000,406731,0,2180.15,1000,<NA>,NaN,2007-10-09,57666
394478,981472,LKOH,S,174459000,419375,0,2187.79,389,<NA>,NaN,2007-10-09,59536
394479,981474,LKOH,S,174459000,416050,0,2189.00,600,<NA>,NaN,2007-10-09,59133
394480,981477,LKOH,S,174500000,415336,0,2188.88,1000,<NA>,NaN,2007-10-09,59000
394481,981481,GMKN,S,174500000,366242,0,6881.00,5,<NA>,NaN,2007-10-09,69188

In [4]:
temp_df.to_csv('./resources/for_web_app/LKOH-GMKN-2007-10-08-09_obps.csv', index=False)
# temp_df.to_csv('./resources/for_web_app/LKOH-2007-10-08_obps.csv', index=False)
# temp_df.to_csv('./resources/for_web_app/s1_s2_2007_obps.csv', index=False)

In [5]:
OrderBookPlots2007_df = pd.read_csv('./resources/LKOH-GMKN-2007-10-08-09.csv')
# OrderBookPlots2007_df = pd.read_csv('./resources/LKOH-2007-10-08.csv')
# OrderBookPlots2007_df = pd.read_csv('./resources/sec1_sec2_2007.csv')
# OrderBookPlots2007_df = OrderBookPlots2007_df[(OrderBookPlots2007_df.SECCODE.isin(['LKOH', 'GMKN']))
#                                                & (OrderBookPlots2007_df.DATE.isin(['2007-10-08', '2007-10-09']))]
# OrderBookPlots2007_df = OrderBookPlots2007_df[(OrderBookPlots2007_df.SECCODE.isin(['LKOH']))
#                                                & (OrderBookPlots2007_df.DATE.isin(['2007-10-08']))]
OrderBookPlots2007_df

,Unnamed: 0,NO,SECCODE,BUYSELL,TIME,ORDERNO,ACTION,PRICE,VOLUME,TRADENO,TRADEPRICE,DATE,OBPLOTNO
0,12,13,LKOH,S,103000000,13,1,2343.97,6250,NaN,NaN,2007-10-08,0
1,45,46,LKOH,S,103000000,46,1,2214.00,15,NaN,NaN,2007-10-08,2
2,59,60,GMKN,S,103000000,60,1,6800.00,3,NaN,NaN,2007-10-08,0
3,73,74,LKOH,B,103000000,74,1,1990.00,50,NaN,NaN,2007-10-08,4
4,75,76,LKOH,S,103000000,76,1,2200.00,10,NaN,NaN,2007-10-08,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
394477,981464,981465,LKOH,B,174458000,406731,0,2180.15,1000,NaN,NaN,2007-10-09,57666
394478,981471,981472,LKOH,S,174459000,419375,0,2187.79,389,NaN,NaN,2007-10-09,59536
394479,981473,981474,LKOH,S,174459000,416050,0,2189.00,600,NaN,NaN,2007-10-09,59133
394480,981476,981477,LKOH,S,174500000,415336,0,2188.88,1000,NaN,NaN,2007-10-09,59000
394481,981480,981481,GMKN,S,174500000,366242,0,6881.00,5,NaN,NaN,2007-10-09,69188

In [6]:
OrderBookPlots2007_df['TRADENO'] = OrderBookPlots2007_df['TRADENO'].astype(pd.Int64Dtype())

In [7]:
OrderBookPlots2007_df.sort_values(by=['NO'], inplace=True)

In [8]:
def form_datetimemlls(df):
    scnd_size_df = pd.DataFrame(df.groupby('TIME').size())
    scnd_size_df.reset_index(inplace=True)
    scnd_size_df = scnd_size_df.rename(columns = {0:'SCNDSIZE'})
    df = df.merge(scnd_size_df, on='TIME')
    df['SEC_IND'] = df.groupby(['TIME']).cumcount()
    df['MILLISS'] = round(df['SEC_IND'] / df['SCNDSIZE'] * 1000)
    df['MILLISS'] = df['MILLISS'].astype(int)
    df.drop(['SCNDSIZE', 'SEC_IND'], axis=1, inplace=True)
    df['DATETIME'] = df.apply(lambda row: datetime.datetime.strptime(row.DATE, '%Y-%m-%d'), axis=1)
    df['DATETIMEMLLS'] = df.apply(lambda row: datetime.datetime(row.DATETIME.year,
                                                               row.DATETIME.month,
                                                               row.DATETIME.day,
                                                               int(row.TIME // 1e7),
                                                               int((row.TIME // 1e5) % 100),
                                                               int((row.TIME // 1e3) % 100)),
                                  axis=1)
    df['DATETIMEMLLS'] = df.apply(lambda row: row.DATETIMEMLLS +
                                 datetime.timedelta(milliseconds=row.MILLISS),
                                 axis=1)
    df.drop(['DATETIME', 'MILLISS', 'TIME'], axis=1, inplace=True)
    return(df)

In [9]:
OrderBookPlots2007_df = form_datetimemlls(OrderBookPlots2007_df)
# OrderBookPlots2007_df

In [10]:
class OBPlots2OBPlots_Attributes:
    def __init__(self, OBPs_df):
        self.OBPs_df = OBPs_df
        self.secs = pd.unique(self.OBPs_df.SECCODE)
        self.dates = pd.unique(self.OBPs_df.DATE)
#         print(self.dates)
        self.obplotnos = pd.unique(self.OBPs_df.OBPLOTNO)
        self.obp_atts_dic = {
            sec:datedic for (sec, datedic) in zip(
                self.secs,
                [{
                    date:obps_attsdic for (date, obps_attsdic) in zip(
                        self.dates, 
                        [{} for i in range(len(self.dates))]
                    )
                } for i in range(len(self.secs))]
            )
        }
        self.iterate_ob_rows()
    
    # Accordin to specs ACTION 0 shows balance of order, not cancelled volune of the order, IT'S WRONG
    # Actually, it shows cancelled volune of the order
    def ob2curatt(self, SECCODE, DATE, OBPLOTNO, BUYSELL, ACTION, PRICE, VOLUME, TRADEPRICE):
        if (BUYSELL == 'B') & (ACTION == 0):
            CBOVOL = PRICE * VOLUME
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['SHAREBAL'] -= VOLUME
            return({'ATT': 'CBOVOL', 'VAL': CBOVOL})
        elif (BUYSELL == 'S') & (ACTION == 0):
            CSOVOL = PRICE * VOLUME
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['SHAREBAL'] += VOLUME
            return({'ATT': 'CSOVOL', 'VAL': CSOVOL})
        elif (BUYSELL == 'B') & (ACTION == 1):
            BOVOL = PRICE * VOLUME
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['SHAREBAL'] += VOLUME

#             print(SECCODE, DATE, OBPLOTNO, BOVOL)
#             input("Read")
            
            return({'ATT': 'BOVOL', 'VAL': BOVOL})
        elif (BUYSELL == 'S') & (ACTION == 1):
            SOVOL = PRICE * VOLUME
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['SHAREBAL'] -= VOLUME
            return({'ATT': 'SOVOL', 'VAL': SOVOL})
        elif (BUYSELL == 'B') & (ACTION == 2):
            BTVOL = TRADEPRICE * VOLUME
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['SHAREBAL'] -= VOLUME
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['BPROFIT'] += (TRADEPRICE - PRICE) * VOLUME
            if TRADEPRICE < self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMINTPRICE']:
                self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMINTPRICE'] = TRADEPRICE
            elif TRADEPRICE > self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMAXTPRICE']:
                self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMAXTPRICE'] = TRADEPRICE
            return({'ATT': 'BTVOL', 'VAL': BTVOL})
        elif (BUYSELL == 'S') & (ACTION == 2):
            STVOL = TRADEPRICE * VOLUME
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['SHAREBAL'] += VOLUME
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['SPROFIT'] += (PRICE - TRADEPRICE) * VOLUME
            if TRADEPRICE < self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMINTPRICE']:
                self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMINTPRICE'] = TRADEPRICE
            elif TRADEPRICE > self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMAXTPRICE']:
                self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMAXTPRICE'] = TRADEPRICE
            return({'ATT': 'STVOL', 'VAL': STVOL})
        
    def ob_row2obp_atts(self, SECCODE, DATE, NO, BUYSELL, ORDERNO,
                        ACTION, PRICE, VOLUME, TRADEPRICE, OBPLOTNO,
                        DATETIMEMLLS):
        if OBPLOTNO not in self.obp_atts_dic[SECCODE][DATE]:
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO] = {}
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['SHAREBAL'] = 0
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['BPROFIT'] = 0
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['SPROFIT'] = 0
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMINTPRICE'] = 0
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMAXTPRICE'] = 0

#         print(SECCODE, DATE, OBPLOTNO, BUYSELL, ACTION, PRICE, VOLUME, TRADEPRICE)
#         input("Read")
            
        self.obp_atts_dic[SECCODE][DATE][OBPLOTNO][NO] = self.ob2curatt(SECCODE, DATE, OBPLOTNO, BUYSELL, ACTION, 
                                                                    PRICE, VOLUME, TRADEPRICE)
        self.obp_atts_dic[SECCODE][DATE][OBPLOTNO][NO]['DATETIMEMLLS'] = DATETIMEMLLS
#         print(SECCODE)
#         print(self.obp_atts[SECCODE])
        
    def iterate_ob_rows(self):
        [self.ob_row2obp_atts(SECCODE, DATE, NO, BUYSELL, ORDERNO, 
                              ACTION, PRICE, VOLUME, TRADEPRICE, OBPLOTNO,
                              DATETIMEMLLS)
        for (SECCODE, DATE, NO, BUYSELL, ORDERNO,
             ACTION, PRICE, VOLUME, TRADEPRICE, OBPLOTNO,
             DATETIMEMLLS)
         in zip(self.OBPs_df.SECCODE,
                self.OBPs_df.DATE,
                self.OBPs_df.NO,
                self.OBPs_df.BUYSELL,
                self.OBPs_df.ORDERNO,
                self.OBPs_df.ACTION,
                self.OBPs_df.PRICE,
                self.OBPs_df.VOLUME,
                self.OBPs_df.TRADEPRICE,
                self.OBPs_df.OBPLOTNO,
                self.OBPs_df.DATETIMEMLLS)]

In [11]:
def obp_atts2order_atts_df(obp_atts):
    order_atts_dic = {}
    for SECCODE in obp_atts:
        for DATE in obp_atts[SECCODE]:
            for OBPLOTNO in obp_atts[SECCODE][DATE]:
                for NO in obp_atts[SECCODE][DATE][OBPLOTNO]:
                    order_atts_dic[(DATE, NO)] = {}
                    if (NO != 'SHAREBAL') & (NO != 'BPROFIT') & (NO != 'SPROFIT') & (NO != 'OBPMINTPRICE') & (NO != 'OBPMAXTPRICE'):
                        order_atts_dic[(DATE, NO)] = obp_atts[SECCODE][DATE][OBPLOTNO][NO]
                        order_atts_dic[(DATE, NO)]['NO'] = NO
                        order_atts_dic[(DATE, NO)]['OBPLOTNO'] = OBPLOTNO
                        order_atts_dic[(DATE, NO)]['DATE'] = DATE
                        order_atts_dic[(DATE, NO)]['SECCODE'] = SECCODE
                        order_atts_dic[(DATE, NO)]['SHAREBAL'] = obp_atts[SECCODE][DATE][OBPLOTNO]['SHAREBAL']
                        order_atts_dic[(DATE, NO)]['BPROFIT'] = obp_atts[SECCODE][DATE][OBPLOTNO]['BPROFIT']
                        order_atts_dic[(DATE, NO)]['SPROFIT'] = obp_atts[SECCODE][DATE][OBPLOTNO]['SPROFIT']
                        order_atts_dic[(DATE, NO)]['OBPMINTPRICE'] = obp_atts[SECCODE][DATE][OBPLOTNO]['OBPMINTPRICE']
                        order_atts_dic[(DATE, NO)]['OBPMAXTPRICE'] = obp_atts[SECCODE][DATE][OBPLOTNO]['OBPMAXTPRICE']

    order_atts_df = pd.DataFrame.from_dict(order_atts_dic, "index")
    order_atts_df.sort_values(by=['DATETIMEMLLS', 'NO'], inplace=True)
    order_atts_df.reset_index(inplace=True)
    return(order_atts_df)

## 2. obp_atts_2007
##### convert orderlog into edges abd find obplots by class OBPlots2OBPlots_Attributes(OrderBookPlots2007_df)

In [12]:
obp_atts_2007 = OBPlots2OBPlots_Attributes(OrderBookPlots2007_df)
# print(len(obp_atts_2007.obp_atts_dic['LKOH']['2007-10-08']))

## 3. order_atts_2007_df = obp_atts2order_atts_df(obp_atts_2007.obp_atts_dic)

In [13]:
order_atts_2007_df = obp_atts2order_atts_df(obp_atts_2007.obp_atts_dic)
# order_atts_2007_df

In [15]:
def order_atts_df2order_atts_cumsums_df(df, CBOVOLcs, CSOVOLcs, BOVOLcs, SOVOLcs, BTVOLcs, STVOLcs, grby = ['SECCODE', 'DATE']):
    # cumsums
    df[CBOVOLcs] = df[df.ATT == 'CBOVOL'].groupby(grby)['VAL'].cumsum()
    df[CSOVOLcs] = df[df.ATT == 'CSOVOL'].groupby(grby)['VAL'].cumsum()
    df[BOVOLcs] = df[df.ATT == 'BOVOL'].groupby(grby)['VAL'].cumsum()
    
#     if BOVOLcs == 'BOVOLobpcs':
#         print(df.head(20)[BOVOLcs])
#         input("Read")

    df[SOVOLcs] = df[df.ATT == 'SOVOL'].groupby(grby)['VAL'].cumsum()
    df[BTVOLcs] = df[df.ATT == 'BTVOL'].groupby(grby)['VAL'].cumsum()
    df[STVOLcs] = df[df.ATT == 'STVOL'].groupby(grby)['VAL'].cumsum()

    df[[CBOVOLcs,
       CSOVOLcs,
       BOVOLcs,
       SOVOLcs,
       BTVOLcs,
       STVOLcs]] = df.groupby(grby)[[CBOVOLcs, #https://stackoverflow.com/questions/46391128/pandas-fillna-using-groupby
                       CSOVOLcs,
                       BOVOLcs,
                       SOVOLcs,
                       BTVOLcs,
                       STVOLcs]].fillna(method="ffill")
    df[[CBOVOLcs,
       CSOVOLcs,
       BOVOLcs,
       SOVOLcs,
       BTVOLcs,
       STVOLcs]] = df.groupby(grby)[[CBOVOLcs,
                       CSOVOLcs,
                       BOVOLcs,
                       SOVOLcs,
                       BTVOLcs,
                       STVOLcs]].fillna(value = 0.0)
    return(df)

## 4. order_atts_cumsums_2007_df
##### add dynamic obp attribute cumsum columns by order_atts_df2order_atts_cumsums_df() (for convinient trade-day/OBPlots plots later)

In [16]:
order_atts_2007_df.sort_values(by=['SECCODE', 'DATE', 'NO'], inplace=True)
order_atts_cumsums_2007_df = order_atts_df2order_atts_cumsums_df(order_atts_2007_df, 'CBOVOLtdcs', 'CSOVOLtdcs', 'BOVOLtdcs', 
                              'SOVOLtdcs', 'BTVOLtdcs', 'STVOLtdcs', grby = ['SECCODE', 'DATE'])
# order_atts_cumsums_2007_df

In [17]:
order_atts_2007_df.sort_values(by=['SECCODE', 'DATE', 'OBPLOTNO', 'NO'], inplace=True)
order_atts_cumsums_2007_df = order_atts_df2order_atts_cumsums_df(order_atts_cumsums_2007_df, 'CBOVOLobpcs', 'CSOVOLobpcs', 'BOVOLobpcs', 
                              'SOVOLobpcs', 'BTVOLobpcs', 'STVOLobpcs', grby = ['SECCODE', 'DATE', 'OBPLOTNO'])
order_atts_cumsums_2007_df

,level_0,level_1,ATT,VAL,DATETIMEMLLS,NO,OBPLOTNO,DATE,SECCODE,SHAREBAL,...,BOVOLtdcs,SOVOLtdcs,BTVOLtdcs,STVOLtdcs,CBOVOLobpcs,CSOVOLobpcs,BOVOLobpcs,SOVOLobpcs,BTVOLobpcs,STVOLobpcs
2,2007-10-08,60,SOVOL,20400.0,2007-10-08 10:30:00.001,60,0,2007-10-08,GMKN,-3,...,0.000000e+00,2.040000e+04,0.000000e+00,0.000000e+00,0.0,0.0,0.0,20400.0,0.0,0.0
7,2007-10-08,176,BOVOL,31405.0,2007-10-08 10:30:00.004,176,2,2007-10-08,GMKN,5,...,3.140500e+04,2.040000e+04,0.000000e+00,0.000000e+00,0.0,0.0,31405.0,0.0,0.0,0.0
8,2007-10-08,185,BOVOL,46200.0,2007-10-08 10:30:00.005,185,4,2007-10-08,GMKN,0,...,7.760500e+04,2.040000e+04,0.000000e+00,0.000000e+00,0.0,0.0,46200.0,0.0,0.0,0.0
19953,2007-10-08,112023,CBOVOL,46200.0,2007-10-08 10:53:36.250,112023,4,2007-10-08,GMKN,0,...,1.750038e+09,1.968659e+09,6.571123e+08,6.571123e+08,46200.0,0.0,46200.0,0.0,0.0,0.0
9,2007-10-08,191,BOVOL,12726.0,2007-10-08 10:30:00.005,191,6,2007-10-08,GMKN,2,...,9.033100e+04,2.040000e+04,0.000000e+00,0.000000e+00,0.0,0.0,12726.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394395,2007-10-09,980945,SOVOL,43754.2,2007-10-09 17:44:54.483,980945,59613,2007-10-09,LKOH,-20,...,1.209709e+10,1.104291e+10,5.876076e+09,5.876076e+09,0.0,0.0,0.0,43754.2,0.0,0.0
394396,2007-10-09,980952,SOVOL,218760.0,2007-10-09 17:44:54.517,980952,59615,2007-10-09,LKOH,-100,...,1.209709e+10,1.104313e+10,5.876076e+09,5.876076e+09,0.0,0.0,0.0,218760.0,0.0,0.0
394433,2007-10-09,981198,SOVOL,328185.0,2007-10-09 17:44:56.263,981198,59622,2007-10-09,LKOH,-150,...,1.209711e+10,1.104361e+10,5.876142e+09,5.876142e+09,0.0,0.0,0.0,328185.0,0.0,0.0
394435,2007-10-09,981206,SOVOL,1093745.0,2007-10-09 17:44:56.368,981206,59624,2007-10-09,LKOH,-500,...,1.209711e+10,1.104471e+10,5.876142e+09,5.876142e+09,0.0,0.0,0.0,1093745.0,0.0,0.0
394449,2007-10-09,981348,SOVOL,2187.0,2007-10-09 17:44:57.829,981348,59626,2007-10-09,LKOH,-1,...,1.209711e+10,1.104471e+10,5.876347e+09,5.876347e+09,0.0,0.0,0.0,2187.0,0.0,0.0

In [18]:
order_atts_cumsums_2007_df['sobp'] = order_atts_cumsums_2007_df.apply(
    lambda row: row.SOVOLobpcs - row.STVOLobpcs - row.CSOVOLobpcs, axis=1
)
order_atts_cumsums_2007_df['bobp'] = order_atts_cumsums_2007_df.apply(
    lambda row: -(row.BOVOLobpcs - row.BTVOLobpcs - row.CBOVOLobpcs), axis=1
)
order_atts_cumsums_2007_df['max_sobp_bobp'] = order_atts_cumsums_2007_df.apply(
    lambda row: max(row.sobp, -row.bobp), axis=1
)
order_atts_cumsums_2007_df['minus_max_sobp_bobp'] = order_atts_cumsums_2007_df.apply(
    lambda row: -row.max_sobp_bobp, axis=1
)
order_atts_cumsums_2007_df['stday'] = order_atts_cumsums_2007_df.apply(
    lambda row: row.SOVOLtdcs - row.STVOLtdcs - row.CSOVOLtdcs, axis=1
)
order_atts_cumsums_2007_df['btday'] = order_atts_cumsums_2007_df.apply(
    lambda row: -(row.BOVOLtdcs - row.BTVOLtdcs - row.CBOVOLtdcs), axis=1
)
order_atts_cumsums_2007_df['max_std_btd'] = order_atts_cumsums_2007_df.apply(
    lambda row: max(row.stday, -row.btday), axis=1
)
order_atts_cumsums_2007_df['minus_max_std_btd'] = order_atts_cumsums_2007_df.apply(
    lambda row: -row.max_std_btd, axis=1
)
order_atts_cumsums_2007_df

,level_0,level_1,ATT,VAL,DATETIMEMLLS,NO,OBPLOTNO,DATE,SECCODE,SHAREBAL,...,BTVOLobpcs,STVOLobpcs,sobp,bobp,max_sobp_bobp,minus_max_sobp_bobp,stday,btday,max_std_btd,minus_max_std_btd
2,2007-10-08,60,SOVOL,20400.0,2007-10-08 10:30:00.001,60,0,2007-10-08,GMKN,-3,...,0.0,0.0,20400.0,-0.0,20400.0,-20400.0,2.040000e+04,-0.000000e+00,2.040000e+04,-2.040000e+04
7,2007-10-08,176,BOVOL,31405.0,2007-10-08 10:30:00.004,176,2,2007-10-08,GMKN,5,...,0.0,0.0,0.0,-31405.0,31405.0,-31405.0,2.040000e+04,-3.140500e+04,3.140500e+04,-3.140500e+04
8,2007-10-08,185,BOVOL,46200.0,2007-10-08 10:30:00.005,185,4,2007-10-08,GMKN,0,...,0.0,0.0,0.0,-46200.0,46200.0,-46200.0,2.040000e+04,-7.760500e+04,7.760500e+04,-7.760500e+04
19953,2007-10-08,112023,CBOVOL,46200.0,2007-10-08 10:53:36.250,112023,4,2007-10-08,GMKN,0,...,0.0,0.0,0.0,-0.0,0.0,-0.0,5.168196e+08,-2.382152e+08,5.168196e+08,-5.168196e+08
9,2007-10-08,191,BOVOL,12726.0,2007-10-08 10:30:00.005,191,6,2007-10-08,GMKN,2,...,0.0,0.0,0.0,-12726.0,12726.0,-12726.0,2.040000e+04,-9.033100e+04,9.033100e+04,-9.033100e+04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394395,2007-10-09,980945,SOVOL,43754.2,2007-10-09 17:44:54.483,980945,59613,2007-10-09,LKOH,-20,...,0.0,0.0,43754.2,-0.0,43754.2,-43754.2,2.713598e+08,-3.673641e+08,3.673641e+08,-3.673641e+08
394396,2007-10-09,980952,SOVOL,218760.0,2007-10-09 17:44:54.517,980952,59615,2007-10-09,LKOH,-100,...,0.0,0.0,218760.0,-0.0,218760.0,-218760.0,2.715785e+08,-3.673641e+08,3.673641e+08,-3.673641e+08
394433,2007-10-09,981198,SOVOL,328185.0,2007-10-09 17:44:56.263,981198,59622,2007-10-09,LKOH,-150,...,0.0,0.0,328185.0,-0.0,328185.0,-328185.0,2.719942e+08,-3.673094e+08,3.673094e+08,-3.673094e+08
394435,2007-10-09,981206,SOVOL,1093745.0,2007-10-09 17:44:56.368,981206,59624,2007-10-09,LKOH,-500,...,0.0,0.0,1093745.0,-0.0,1093745.0,-1093745.0,2.730879e+08,-3.673094e+08,3.673094e+08,-3.673094e+08
394449,2007-10-09,981348,SOVOL,2187.0,2007-10-09 17:44:57.829,981348,59626,2007-10-09,LKOH,-1,...,0.0,0.0,2187.0,-0.0,2187.0,-2187.0,2.728846e+08,-3.671038e+08,3.671038e+08,-3.671038e+08

In [19]:
def order_atts_df2obp_cum_atts_df(order_atts_df):
    def buy_sell_obp(gr):
        buy_minus_sell_vol = gr[gr.ATT == 'BOVOL']['VAL'].sum() - gr[gr.ATT == 'SOVOL']['VAL'].sum()
        if buy_minus_sell_vol > 0:
            return('B')
        elif buy_minus_sell_vol < 0:
            return('S')
        else:
            return('N')
    def trades_notrades(gr):
        trades_count = gr[gr.ATT == 'BTVOL'].size + gr[gr.ATT == 'STVOL'].size
        if trades_count != 0:
            return('Y')
        else:
            return('N')
#     def obp_buysellyield(gr):
#         if trades_notrades(gr) == 'T':
#             b_obp_yield = gr.BPROFIT * 100 / gr[gr.ATT == 'BTVOL']['VAL'].sum()
#             s_obp_yield = gr.SPROFIT * 100 / gr[gr.ATT == 'STVOL']['VAL'].sum()
#             if buy_sell_obp(gr) == 'B':
#                 return(list(b_obp_yield - s_obp_yield)[0])
#             elif buy_sell_obp(gr) == 'S':
#                 return(list(s_obp_yield - b_obp_yield)[0])
#     def obp_td_vol_ratio(gr):
# #         if list(gr.SECCODE)[0] == 'LKOH':
# #             print(gr)
# #             input("Read")
#         volratio = ((gr.BOVOLobpcs.sum() 
#                     - gr.CBOVOLobpcs.sum() 
#                     - gr.BTVOLobpcs.sum() 
#                     - gr.BPROFIT.sum() 
#                     + gr.SOVOLobpcs.sum() 
#                     - gr.CSOVOLobpcs.sum() 
#                     - gr.STVOLobpcs.sum() 
#                     - gr.SPROFIT.sum()) 
#                     / (gr.BOVOLtdcs.sum() - 
#                        gr.CBOVOLtdcs.sum() - 
#                        gr.BTVOLtdcs.sum() - 
#                        gr.BPROFIT.sum() + 
#                        gr.SOVOLtdcs.sum() - 
#                        gr.CSOVOLtdcs.sum() - 
#                        gr.STVOLtdcs.sum() - 
#                        gr.SPROFIT.sum()))
#         return(abs(volratio))
#     def minmax_dur_tdvol_ratio(gr):
# #         delta = max(gr.DATETIMEMLLS) - min(gr.DATETIMEMLLS)
# #         delta = delta.total_seconds()
# #         print("=============")
# #         print(delta)
#         minmaxratio = gr.OBPMAXTPRICE - gr.OBPMINTPRICE
#         return(abs(list(minmaxratio)[0]))
    def obp_trade_vol(gr):
        trade_vol = gr[(gr.ATT == 'BTVOL') | (gr.ATT == 'STVOL')].VAL.sum()
        return(trade_vol)
        
    buy_sell_obp_ser = order_atts_df.groupby(['SECCODE', 'DATE', 'OBPLOTNO']).apply(lambda gr: buy_sell_obp(gr))
    trades_notrades_ser = order_atts_df.groupby(['SECCODE', 'DATE', 'OBPLOTNO']).apply(lambda gr: trades_notrades(gr))
#     obp_yield_ser = order_atts_df.groupby(['SECCODE', 'DATE', 'OBPLOTNO']).apply(lambda gr: obp_buysellyield(gr))
#     obp_td_vol_ratio_ser = order_atts_df.groupby(['SECCODE','DATE',  'OBPLOTNO']).apply(lambda gr: obp_td_vol_ratio(gr))
#     minmax_dur_tdvol_ratio_ser = order_atts_df.groupby(['SECCODE', 'DATE', 'OBPLOTNO']).apply(lambda gr: minmax_dur_tdvol_ratio(gr))
    obp_trade_vol_ser = order_atts_df.groupby(['SECCODE', 'DATE', 'OBPLOTNO']).apply(lambda gr: obp_trade_vol(gr))
    
#     df = pd.DataFrame.from_dict({'TRADEVOL': obp_trade_vol_ser, 'BUYSELLOBP': buy_sell_obp_ser, 
#                                  'TRADESNOTRADES': trades_notrades_ser, 'BUYSELLYIELD': obp_yield_ser,
#                                  'OBPTDVOLRATIO': obp_td_vol_ratio_ser, 'MINMAXRATIO': minmax_dur_tdvol_ratio_ser})
    df = pd.DataFrame.from_dict({'TRADEVOL': obp_trade_vol_ser, 'BUYSELLOBP': buy_sell_obp_ser, 
                                 'TRADESNOTRADES': trades_notrades_ser})
    df.reset_index(inplace=True)
    return(df)

## 5. obp_cum_atts_2007_df
##### obp cumulative attributes (BUYSELLYIELD, OBPTDVOLRATIO, MINMAXRATIO) by order_atts_df2obp_cum_atts_df()

In [20]:
obp_cum_atts_2007_df = order_atts_df2obp_cum_atts_df(order_atts_cumsums_2007_df)
obp_cum_atts_2007_df

      SECCODE        DATE  OBPLOTNO  TRADEVOL BUYSELLOBP TRADESNOTRADES
0        GMKN  2007-10-08         0       0.0          S              N
1        GMKN  2007-10-08         2       0.0          B              N
2        GMKN  2007-10-08         4       0.0          B              N
3        GMKN  2007-10-08         6       0.0          B              N
4        GMKN  2007-10-08         8       0.0          B              N
...       ...         ...       ...       ...        ...            ...
75016    LKOH  2007-10-09     59613       0.0          S              N
75017    LKOH  2007-10-09     59615       0.0          S              N
75018    LKOH  2007-10-09     59622       0.0          S              N
75019    LKOH  2007-10-09     59624       0.0          S              N
75020    LKOH  2007-10-09     59626       0.0          S              N

[75021 rows x 6 columns]

In [21]:
# delete obplots without trades
# obp_cum_atts_2007_df = obp_cum_atts_2007_df[obp_cum_atts_2007_df.TRADESNOTRADES != 'N']
# obp_cum_atts_2007_df

In [22]:
# obp_cum_atts_2007_df = obp_cum_atts_2007_df.dropna()
# obp_cum_atts_2007_df


## FINAL CHECK
##### compare to plots in OBPlots_Attributes_single_sec_day

In [23]:
# obp_cum_atts_2007_LKOH_08_df = obp_cum_atts_2007_df[(obp_cum_atts_2007_df.SECCODE == 'LKOH') & 
#                                                           (obp_cum_atts_2007_df.DATE == '2007-10-08')]
# obp_cum_atts_2007_LKOH_08_df

In [24]:
# plt.hist(obp_cum_atts_2007_LKOH_08_df.BUYSELLYIELD)

In [25]:
# plt.hist(obp_cum_atts_2007_LKOH_08_df.OBPTDVOLRATIO)

In [26]:
# plt.hist(obp_cum_atts_2007_LKOH_08_df.MINMAXRATIO)

In [27]:
# obp_cum_atts_2007_LKOH_08_df.sort_values(by='TRADEVOL', ascending=False)

In [28]:
obp_cum_atts_2007_df.to_csv('./resources/for_web_app/LKOH-GMKN-2007-10-08-09_obp_cum_atts.csv', index=False)
# obp_cum_atts_2007_df.to_csv('./resources/for_web_app/LKOH-2007-10-08_obp_cum_atts.csv', index=False)
# obp_cum_atts_2007_df.to_csv('./resources/for_web_app/s1_s2_2007_obp_cum_atts.csv', index=False)

In [29]:
order_atts_cumsums_2007_df

,level_0,level_1,ATT,VAL,DATETIMEMLLS,NO,OBPLOTNO,DATE,SECCODE,SHAREBAL,...,BTVOLobpcs,STVOLobpcs,sobp,bobp,max_sobp_bobp,minus_max_sobp_bobp,stday,btday,max_std_btd,minus_max_std_btd
2,2007-10-08,60,SOVOL,20400.0,2007-10-08 10:30:00.001,60,0,2007-10-08,GMKN,-3,...,0.0,0.0,20400.0,-0.0,20400.0,-20400.0,2.040000e+04,-0.000000e+00,2.040000e+04,-2.040000e+04
7,2007-10-08,176,BOVOL,31405.0,2007-10-08 10:30:00.004,176,2,2007-10-08,GMKN,5,...,0.0,0.0,0.0,-31405.0,31405.0,-31405.0,2.040000e+04,-3.140500e+04,3.140500e+04,-3.140500e+04
8,2007-10-08,185,BOVOL,46200.0,2007-10-08 10:30:00.005,185,4,2007-10-08,GMKN,0,...,0.0,0.0,0.0,-46200.0,46200.0,-46200.0,2.040000e+04,-7.760500e+04,7.760500e+04,-7.760500e+04
19953,2007-10-08,112023,CBOVOL,46200.0,2007-10-08 10:53:36.250,112023,4,2007-10-08,GMKN,0,...,0.0,0.0,0.0,-0.0,0.0,-0.0,5.168196e+08,-2.382152e+08,5.168196e+08,-5.168196e+08
9,2007-10-08,191,BOVOL,12726.0,2007-10-08 10:30:00.005,191,6,2007-10-08,GMKN,2,...,0.0,0.0,0.0,-12726.0,12726.0,-12726.0,2.040000e+04,-9.033100e+04,9.033100e+04,-9.033100e+04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394395,2007-10-09,980945,SOVOL,43754.2,2007-10-09 17:44:54.483,980945,59613,2007-10-09,LKOH,-20,...,0.0,0.0,43754.2,-0.0,43754.2,-43754.2,2.713598e+08,-3.673641e+08,3.673641e+08,-3.673641e+08
394396,2007-10-09,980952,SOVOL,218760.0,2007-10-09 17:44:54.517,980952,59615,2007-10-09,LKOH,-100,...,0.0,0.0,218760.0,-0.0,218760.0,-218760.0,2.715785e+08,-3.673641e+08,3.673641e+08,-3.673641e+08
394433,2007-10-09,981198,SOVOL,328185.0,2007-10-09 17:44:56.263,981198,59622,2007-10-09,LKOH,-150,...,0.0,0.0,328185.0,-0.0,328185.0,-328185.0,2.719942e+08,-3.673094e+08,3.673094e+08,-3.673094e+08
394435,2007-10-09,981206,SOVOL,1093745.0,2007-10-09 17:44:56.368,981206,59624,2007-10-09,LKOH,-500,...,0.0,0.0,1093745.0,-0.0,1093745.0,-1093745.0,2.730879e+08,-3.673094e+08,3.673094e+08,-3.673094e+08
394449,2007-10-09,981348,SOVOL,2187.0,2007-10-09 17:44:57.829,981348,59626,2007-10-09,LKOH,-1,...,0.0,0.0,2187.0,-0.0,2187.0,-2187.0,2.728846e+08,-3.671038e+08,3.671038e+08,-3.671038e+08

In [30]:
order_atts_cumsums_2007_df.drop(['level_0', 'level_1'], axis=1, inplace=True)
order_atts_cumsums_2007_df

,ATT,VAL,DATETIMEMLLS,NO,OBPLOTNO,DATE,SECCODE,SHAREBAL,BPROFIT,SPROFIT,...,BTVOLobpcs,STVOLobpcs,sobp,bobp,max_sobp_bobp,minus_max_sobp_bobp,stday,btday,max_std_btd,minus_max_std_btd
2,SOVOL,20400.0,2007-10-08 10:30:00.001,60,0,2007-10-08,GMKN,-3,0.0,0.0,...,0.0,0.0,20400.0,-0.0,20400.0,-20400.0,2.040000e+04,-0.000000e+00,2.040000e+04,-2.040000e+04
7,BOVOL,31405.0,2007-10-08 10:30:00.004,176,2,2007-10-08,GMKN,5,0.0,0.0,...,0.0,0.0,0.0,-31405.0,31405.0,-31405.0,2.040000e+04,-3.140500e+04,3.140500e+04,-3.140500e+04
8,BOVOL,46200.0,2007-10-08 10:30:00.005,185,4,2007-10-08,GMKN,0,0.0,0.0,...,0.0,0.0,0.0,-46200.0,46200.0,-46200.0,2.040000e+04,-7.760500e+04,7.760500e+04,-7.760500e+04
19953,CBOVOL,46200.0,2007-10-08 10:53:36.250,112023,4,2007-10-08,GMKN,0,0.0,0.0,...,0.0,0.0,0.0,-0.0,0.0,-0.0,5.168196e+08,-2.382152e+08,5.168196e+08,-5.168196e+08
9,BOVOL,12726.0,2007-10-08 10:30:00.005,191,6,2007-10-08,GMKN,2,0.0,0.0,...,0.0,0.0,0.0,-12726.0,12726.0,-12726.0,2.040000e+04,-9.033100e+04,9.033100e+04,-9.033100e+04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394395,SOVOL,43754.2,2007-10-09 17:44:54.483,980945,59613,2007-10-09,LKOH,-20,0.0,0.0,...,0.0,0.0,43754.2,-0.0,43754.2,-43754.2,2.713598e+08,-3.673641e+08,3.673641e+08,-3.673641e+08
394396,SOVOL,218760.0,2007-10-09 17:44:54.517,980952,59615,2007-10-09,LKOH,-100,0.0,0.0,...,0.0,0.0,218760.0,-0.0,218760.0,-218760.0,2.715785e+08,-3.673641e+08,3.673641e+08,-3.673641e+08
394433,SOVOL,328185.0,2007-10-09 17:44:56.263,981198,59622,2007-10-09,LKOH,-150,0.0,0.0,...,0.0,0.0,328185.0,-0.0,328185.0,-328185.0,2.719942e+08,-3.673094e+08,3.673094e+08,-3.673094e+08
394435,SOVOL,1093745.0,2007-10-09 17:44:56.368,981206,59624,2007-10-09,LKOH,-500,0.0,0.0,...,0.0,0.0,1093745.0,-0.0,1093745.0,-1093745.0,2.730879e+08,-3.673094e+08,3.673094e+08,-3.673094e+08
394449,SOVOL,2187.0,2007-10-09 17:44:57.829,981348,59626,2007-10-09,LKOH,-1,0.0,0.0,...,0.0,0.0,2187.0,-0.0,2187.0,-2187.0,2.728846e+08,-3.671038e+08,3.671038e+08,-3.671038e+08

In [31]:
order_atts_cumsums_2007_df.to_csv('./resources/for_web_app/LKOH-GMKN-2007-10-08-09_order_atts_cumsums.csv',
                                 index=False)
# order_atts_cumsums_2007_df.to_csv('./resources/for_web_app/LKOH-2007-10-08_order_atts_cumsums.csv',
#                                  index=False)
# order_atts_cumsums_2007_df.to_csv('./resources/for_web_app/s1_s2_2007_order_atts_cumsums.csv',
#                                  index=False)

In [32]:
# pd.reset_option('display.max_rows')